<div><h2>Astrology</h2></div>
<hr/>
<div>
		<p><strong>A Brief Introduction to Astrology:</strong></p>
		<p>Astrodienst horoscopes are easy to understand, even for those who have not dealt with astrology before - you needn't know any of the scientific jargon involved to be able to profit from our horoscope readings. If we are lucky, though, your interest in this fascinating subject matter has been awakened by one of our short texts. This short online introduction can help make you familiar with most of the astrological techniques and give you a basic understanding of how it's all done.</p>
		<p>Astrology sees mankind as being not only influenced by hereditary factors and the environment, but also by the state of our solar system at the moment of birth. The planets are regarded as basic life-forces, the tools we live by as well as the basis of our very substance. These planetary forces take on different forms, depending on their zodiacal position and on the way they relate to one another.</p>

		<p>The aspects formed between the planets describe these relationships, the positions of the planets in relation to the place of birth tell us of their expression in the spheres of life depicted by the astrological houses.</p>

		<p>By interpreting the roles of these players (the planets) and their qualities (the elements, signs and houses) and creating a synthesis, astrology is able to present a complete and comprehensive picture of the person and his potential, based on the natal horoscope.</p>

		<p>Each of the 12 astrological signs belongs to a certain element in one of its states. This gives us twelve quite different basic types. These varying qualities provide the “backdrop” to the planetary positions. As each horoscope has different planets in different signs, there can never be a “pure” Aries or a “pure” Gemini. Each horoscope is a highly individual, very complex and usually also very varied combination of parts.</p>

		<p>In order to understand the signs, we must take into account the typical expressions of the elements, as well as the characteristics belonging to the planets associated with the signs.</p>
</div>
<br/><br/>
<div>
	<table width="100%" cellspacing="0" cellpadding="0">
			<tr>
					<td width="25%">
							<div>
									<img src="<%= asset_path('astrology/aries.gif') %>"/><br/>
									<span><b>Aries</b><br/>
												Cardinal fire, ruled by Mars<br/>
												Willpower, impulsive, initiative, courage, energy, activity<br/>
												Often rushes headlong into things
									</span>
							</div>
					</td>
					<td width="25%">
						<div>
									<img src="<%= asset_path('astrology/taurus.gif') %>"/><br/>
									<span><b>Taurus</b><br/>
										Fixed earth; ruled by Venus<br/>
										Sensual, pleasure-seeker, steadfast, strives for security<br/>
										Sees red when provoked for a long time.<br/>
									</span>
						</div>
					</td>
					<td width="25%">
						 <div>
									<img src="<%= asset_path('astrology/gemini.gif') %>"/><br/>
									<span><b>Gemini</b><br/>
										Mutable air; ruled by Mercury<br/>
										Mental type, witty, communicative, mobile, <br/>
										takes pleasure in learning. Rarely touches down.<br/>
									</span>
						</div>
					</td>
					<td width="25%">
						<div>
									<img src="<%= asset_path('astrology/cancer.gif') %>"/><br/>
									<span><b>Cancer</b><br/>
										Cardinal water; ruled by the Moon<br/>
										Emotional type, stubborn, seeks safety and closeness<br/>
										Very much a family person<br/>
									</span>
						</div>
					</td>
			</tr>
			<tr><td colspan="4">&nbsp;</td></tr>
			<tr>
					<td width="25%">
						<div>
									<img src="<%= asset_path('astrology/leo.gif') %>"/><br/>
									<span><b>Leo</b><br/>
										Fixed fire; ruled by the Sun<br/>Glamour, generosity, organizer, the center of attention<br/>Likes to take the lion's part<br/>
									</span>
						</div>
					</td>
					<td width="25%">
						<div>
									<img src="<%= asset_path('astrology/virgo.gif') %>"/><br/>
									<span><b>Virgo</b><br/>Mutable earth; ruled by Mercury<br/>Precise, differentiates, does what is necessary, utilitarian<br/>A critical point of view<br/>
									</span>
						</div>
					</td>
					<td width="25%">
						<div>
									<img src="<%= asset_path('astrology/libra.gif') %>"/><br/>
									<span><b>Libra</b><br/>Cardinal air; ruled by Venus<br/>A sense of beauty and proportion, tactful, seeks balance and harmony. <br/>Sometimes hovers between the scales<br/>
									</span>
						</div>
					</td>									
					<td width="25%">
						<div>
									<img src="<%= asset_path('astrology/scorpio.gif') %>"/><br/>
									<span><b>Scorpio</b><br/>Fixed water; ruled by Pluto<br/>Corrosive, passionate, piercing, extreme situations<br/>Frequently quarrels with the spirits he called<br/>
									</span>
						</div>
					</td>
			</tr>
			<tr><td colspan="4">&nbsp;</td></tr>
			<tr>
					<td width="25%">
						<div>
									<img src="<%= asset_path('astrology/sagittarus.gif') %>"/><br/>
									<span><b>Sagittarius</b><br/>Mutable fire; ruled by Jupiter<br/>Free spirit, carefree, love of movement, cheerful<br/>Wanderlust, often seems to be elsewhere<br/>
									</span>
						</div>
					</td>
					<td width="25%">
						<div>
									<img src="<%= asset_path('astrology/capricon.gif') %>"/><br/>
									<span><b>Capricorn</b><br/>Cardinal earth; ruled by Saturn<br/>Enduring, has a sense of purpose, proud, ambitious<br/>
									Can get stuck in craggy heights<br/>
									</span>
						</div>
					</td>
					<td width="25%">
						<div>
									<img src="<%= asset_path('astrology/aquaris.gif') %>"/><br/>
									<span><b>Aquarius</b><br/>Fixed air; ruled by Uranus<br/>Communicative, humanitarian, progressive, fraternal<br/>Universal spirit with occasional astonishing obstinacy<br/>
									</span>
						</div>
					</td>
					<td width="25%">
						<div>
									<img src="<%= asset_path('astrology/pisces.gif') %>"/><br/>
									<span><b>Pisces</b><br/>Mutable water; ruled by Neptune<br/>Sensitive, compassionate, helpful, sociable<br/>Very adaptable, hard to get a hold on<br/>
									</span>
						</div>
					</td>								
			</tr>									
	</table>
</div>
