<div><h2>2013 Horoscope</h2></div>
<hr/>

		<!--aries start-->	
		<div class="horoscope-div">
			<div class="img-div"><img src="<%= asset_path('astrology/aries.gif') %>"/></div>
			<strong>Aries Horoscope<br/>March 20 - April 19</strong><br/>
			<div>You are a courageous person because you belong to a sign ruled by planet Mars. However, at some instances, rage can be seen in your behavior. You are a sharp minded person because of the impact of Sun on your education house. </div>
			<a class='inline' href="#aries_content"><div class="r-more">read more</div></a>
			<div class="clr"></div>
		</div>
		
		<div style="display:none">
				<div id="aries_content">
					<div class="img-div"><img src="<%= asset_path('astrology/aries.gif') %>"/></div>
					<strong>Aries Horoscope<br/>March 20 - April 19</strong><br/>
					<div style="padding:15px;">
								<p>You are a courageous person because you belong to a sign ruled by planet Mars. However, at some instances, rage can be seen in your behavior. You are a sharp minded person because of the impact of Sun on your education house. Venus impacts the house of money, which indicates pleasure for you in financial status and luxury of life. Lord of destiny, Jupiter makes you lucky and spiritual. On the other hand, Saturn is favourable making you a hard-worker. Mercury will make you straightforward and honest. You will be mentally and physically strong. However you may not be satisfied of what you have achieved.
								</p><p>
								<b>Family 2013 Horoscope :</b><br/>
Jupiter is situated in the second house, which might increase the size of your family. It means that either a new member will be born or someone might get married in your family. You will always keep your efforts going on for the happiness of your family. Even if you will have to spend money on them, it won’t disturb you but even then you may have to face negative behavior from your family. Dependency on your family for solution of your problems is not considered good for you.
								</p><p>
								<b>Health 2013 Horoscope :</b><br/>
Ketu (Descending Lunar Node) in first house will try to disturb your health time to time. Therefore, it is recommended to stay alert towards your health throughout the year. It is suggested to keep an eye over your eating habits because it seems that your health might get down with food poisoning. Avoid irrelevant travelling this year; otherwise your health might get upset. Throughout the year, you will have to stay social and keep a control over your behavior. However, during this time you will feel like you are hooking yourself in unnecessary tasks. All these issues might keep you tensed for no reason. While taking care of your health, avoid being over-confident.
								</p><p>
								<b>Money 2013 Horoscope :</b><br/>
Transit of Jupiter in the house of money results in increase of income. Therefore, you will also be able to do good savings. You might also get money through the medium of a will or through some unexpected sources. Investments for some spiritual deeds might come your way. You will also spend in the favor of your family members as well as other people. In spite of these facts, you may still lose your money through some medium. Therefore, avoid investing at risky places and start thinking in terms of safety of your money.
								</p><p>
								<b>Education 2013 Horoscope :</b><br/>
This year would be normal for students. While looking for admission in any new course, it is important to collect all the information regarding the institution and course; otherwise you might fall into some trouble. It is a very good time for the students related to art, poetry or literature . Students who have the habit of joining many courses at a time need to stay alert. Also, you need to stay away from being over confident. Trusting any of your fellow classmates too much, for the help in study material, is also not recommended.
								</p>
					</div>
					<div class="clr"></div>
				</div>
		</div>
	
	
		<!--taurus start-->				
		<div class="horoscope-div">
			<div class="img-div"><img src="<%= asset_path('astrology/taurus.gif') %>"/></div>
			<strong>Taurus Horoscope<br/>April 19 - May 20</strong><br/>
			<div>You are going to enjoy wonderful phase of time. Apart from your health, you are going to turn the card of success in your favor in all walks of your life. Your present planetary position is indicating toward mental and physical satisfaction. </div>
			<a class='inline' href="#taurus_content"><div class="r-more">read more</div></a>
			<div class="clr"></div>
		</div>
		<div style="display:none">
				<div id="taurus_content">
					<div class="img-div"><img src="<%= asset_path('astrology/taurus.gif') %>"/></div>
					<strong>Taurus Horoscope<br/>April 19 - May 20</strong><br/>
					<div style="padding:15px;">
						<p>Due to the effect of Venus, you possess an attractive personality. You are a daring and jolly person. Presence of second lord Mercury in speech house will make your speech qualities quite effective. Additionally, you will have an unbelievable strength to learn the aspects of any subject because of the gear of the fifth house in the hands of Mercury. You can easily control any situation with your efforts. Also, you owe a feeling of responsibility. You always stay ready to take the responsibility of your family and elders with honesty as well as diligence.
						</p><p>
							<b>Family 2013 Horoscope :</b><br/>
You will stay very happy as far as your family front is concerned, due to the presence of Jupiter in first house. There are chances of some good and religious event in your family. Additionally, the environment of your family will be calm and composed. However, you will have to stay far from your family due to travel and tours. Keep yourself safe from taking any wrong decision for your family; otherwise this tension will keep poking you throughout the year. You may also get tensed at family front for some other reason too. In spite of all these factors, your family environment would stay good.
						</p><p>
							<b>Health 2013 Horoscope :</b><br/>
From the health front, this year doesn’t seem good for you. It is recommended you take care of your health because your Eighth lord is on Jupiter ascendant, which will keep your health down time to time. Saturn is also indicating trouble from health front in the mid of this year, but this illness would be because of some small diseases. Ketu (Tail of the devil snake) of second house is also indicating that you might go out of your mind or senseless this year.
						</p><p>
						<b>Money 2013 Horoscope :</b><br/>
This year looks great in terms of economy. There would be an improvement in the sources of money. Therefore, you will be able to save money successfully. Your economic side might also get improved due to the support of a government employee. Some profitable deal might come to your way and benefits you with an increased income. In the beginning of the year, the lord of the money house is positioned in the eighth house and fourth lord. Therefore, you might also get some immovable property. A sudden income add on is seen in your chart. Money could also come through the source of lottery or insurance. If you make an effort then some good income sources as well as money could definitely turn your way.
						</p>
						<p>
							<b>Education 2013 Horoscope</b>
							Due to the presence of Jupiter in first house, your brain would be entirely conscious and focussed. Therefore, you will find keen interest in studies. If your subject is related to philosophy and metaphysics, then this year you will gain positive achievements. Also, if you are planning to relate with the field of banking or management, or you are already there, then also you make profits. In spite of all these factors, you will have to keep yourself safe from bad company; otherwise your studies might suffer. Also, if you are planning to participate in some competitive exam or competitions, then also the ball is in your court.
						</p>
					</div>
					<div class="clr"></div>
				</div>
		</div>


		<!--gemini start-->	
		<div class="horoscope-div">
			<div class="img-div"><img src="<%= asset_path('astrology/gemini.gif') %>"/></div>
			<strong>Gemini Horoscope<br/>May 20 - June 21</strong><br/>
			<div>In 2013, you will put as much efforts as you can, but will end up with broken expectations. You will surely get some positive results, but the problem is that your efforts will deserve even better. These situations will upset you from time to time.</div>
			<a class='inline' href="#gemini_content"><div class="r-more">read more</div></a>
			<div class="clr"></div>
		</div>
		<div style="display:none">
				<div id="gemini_content">
					<div class="img-div"><img src="<%= asset_path('astrology/gemini.gif') %>"/></div>
					<strong>Gemini Horoscope<br/>May 20 - June 21</strong><br/>
					<div style="padding:15px;">
							<p>
								<b>Family 2013 Horoscope</b>
								This year doesn’t look positive for family matters. Your feelings might get hurt due to some of your family members’ rude behavior. Some difficult situations might also poke in, therefore, at such instance it is recommended for you to keep your rage in control while dealing with them. Some people might also behave like enemies. Your best friends might step back from their vows and relations with them might become sour. Children might suffer from some ailments. However, Ketu (Tail of the devil Snake) states that if you will put effort then your relations might get restored or will not fall in any sourness.			
							</p>
							<p>
								<b>Health 2013 Horoscope</b>
								Position of Ketu (Descending lunar node) in sixth house and lord of the sixth house in eighth doesn’t look good for health. Therefore, some troubles related to health might come your way. There could be some strain to your brain for some economic matters or opponent. Also, your health might suffer during a journey. Therefore, useless travelling should be avoided. There is a strong need to control your adventurous spirit too. Taking tension for some legal issue could also become hazardous to your health. Keep a control over your eating habits otherwise it might lead you to some stomach related problems.
							</p>
							<p>
								<b>Money 2013 Horoscope</b>
								This year is not considered good for economic matters. You might get yourself stuck up in some matters that won’t bring good results. Money could be wasted in some useless matters. Some unexpected expenditures will also come your way. Such economic problems will keep on disturbing your mental peace. You will also have to control your habit of taking risks, for example, if you are into gambling then avoid it because big loss is being shown on your chart. However, you might get good profits through some business deals.
							</p>
							<p>
								<b>Education 2013 Horoscope</b>
								This year doesn’t look positive for students either. They will not obtain results as compared to the effort they put in. If you have some creative talent, it will stay hidden and you will feel a decrement in your intelligence. While selecting a course or institute, you need to be very careful otherwise you might get caught in some fraud. Management of the institution might take their vows back. Your studies might get affected due to some health problems or tension.
						 </p>
				  	</div>
					<div class="clr"></div>
				</div>
		</div>
	
		<!--cancer start-->	
		<div class="horoscope-div">
			<div class="img-div"><img src="<%= asset_path('astrology/cancer.gif') %>"/></div>
			<strong>Cancer Horoscope<br/>June 21 - July 22</strong><br/>
			<div>It is believed that Cancer is the luckiest sign and even the year 2013 is endowing luck to the Cancerians. This luck will help Cancer people to excel professionally and also to take their love life at greater height. </div>
			<a class='inline' href="#cancer_content"><div class="r-more">read more</div></a>
			<div class="clr"></div>
		</div>
		<div style="display:none">
				<div id="cancer_content">
					<div class="img-div"><img src="<%= asset_path('astrology/gemini.gif') %>"/></div>
					<strong>Cancer Horoscope<br/>June 21 - July 22</strong><br/>
					<div style="padding:15px;">
						<p>
							<b>Family 2013 Horoscope</b>
							Effect of Jupiter transit will bring happiness to the lives of your siblings. They will also stay helpful to you, but transit in Saturn is indicating some unfavorable conditions for other family members, due to which you will feel lack of family pleasure. You might get dragged as the culprit of the conflicts where your contribution had been negligible. There is a possibility of some misunderstanding between your family members. You might get tensed due to ill health of some of your family members.
						</p>
						<p>
							<b>Health 2013 Horoscope</b>
							From health front, this year doesn’t looks favorable. Tensions form unsatisfactory results might make you tired. In such condition, it is advisable to take care of your health. If you are suffering through an old ailment, then you need to observe abstinence. Stay alert while driving to avoid accidents. Also, you might have to face some negative situations this year. In such situations, try to do things with intelligence and improve your confidence, otherwise you will have to face some health issues.
						</p>
						<p>
							<b>Money 2013 Horoscope</b>
							Your sources of income might increase this year, but for savings the year is not looking favorable. Expenditures will stand before the arrival of money. Due to the ailment of some family member, you might have to spend some heavy amount of money. You will feel like spending some of your savings for starting up a new work. If you have some old debt, then you might get relieved from them this year. Expenditures might increase on journeys also. However, your spouse or business partner will come out helpfully on savings front.
						</p>
						<p>
							<b>Education 2013 Horoscope</b>
							People who are willing to go abroad or far for further studies, this year is positive for them. Your self-confidence will remain strong. If you are participating in any competitive exam then success is in your way. Philosophy or other traditional subjects would be favorable. If you are willing to take admission in some new course then consult some experienced people. Simultaneously, look for the authorization of that particular institution; otherwise you might take some wrong decision.
						</p>
					</div>
					<div class="clr"></div>
				</div>
		</div>

		<!--Leo start-->	
		<div class="horoscope-div">
			<div class="img-div"><img src="<%= asset_path('astrology/leo.gif') %>"/></div>
			<strong>Leo Horoscope<br/>July 24 - August 23</strong><br/>
			<div>Your life in the year 2013 is going to be extraordinarily good. Your stars are blessing you and giving you the best of what they have. You might indulge yourself in some spiritual activity and will be a part of religious events throughout the year. </div>
			<a class='inline' href="#leo_content"><div class="r-more">read more</div></a>
			<div class="clr"></div>
		</div>
		<div style="display:none">
				<div id="leo_content">
					<div class="img-div"><img src="<%= asset_path('astrology/leo.gif') %>"/></div>
					<strong>Leo Horoscope<br/>July 24 - August 23</strong><br/>
					<div style="padding:15px;">
						<p>
							<b>Family 2013 Horoscope</b>
						From family point of view, this year would be wonderful. Some religious or spiritual activity might take place at home. There would be an environment of happiness as well as peace in your family. Relations with brothers and sisters will be strengthened. They will also progress in their lives. You might visit a family member who stays far and relation might strengthen therefore you will be delighted. All of your family members will behave nicely towards you. If any legal issue is going on in your family, then it might get over this year.
						</p>
						<p>
							<b>Health 2013 Horoscope</b>
							This year is positive for health too. Except small ailments, your year will be progressive for health. Even if you fall ill due to climatic change or any other type of disease, you will recover fast. If you are suffering from an old disease, then you might get relieved from it this year. You will keep on travelling to change your mood. Over all, this year would be quite fruitful for your health.
						</p>
						<p>
							<b>Money 2013 Horoscope</b>
							Throughout the year, your income will be ordinarily good. Consistency in income will help you in good savings. Family will also support you at the utmost level in your saving schemes. Some new sources of income might show up. This would also be a reason for your increased income. You might also earn via some international sources. If your money has been stuck somewhere, then little effort can get you back your money. Put your best efforts because this time will give you the best results.
						</p>
						<p>
							<b>Education 2013 Horoscope</b>
							This year is good for studies. You are ready to put your best efforts. It is a good time to participate in some competitive exam and you will get success. If you are looking for some new institution, then this year you might get one, which will offer you a new and right way to your career. Ones who are willing to study at far places of other countries, this year looks positive for them.
					</div>
					<div class="clr"></div>
				</div>
		</div>
							
		<!--Virgo start-->	
		<div class="horoscope-div">
			<div class="img-div"><img src="<%= asset_path('astrology/virgo.gif') %>"/></div>
			<strong>Virgo Horoscope<br/>July 24 - August 23</strong><br/>
			<div>Your life in the year 2013 is going to be extraordinarily good. Your stars are blessing you and giving you the best of what they have. You might indulge yourself in some spiritual activity and will be a part of religious events throughout the year. </div>
			<a class='inline' href="#virgo_content"><div class="r-more">read more</div></a>
			<div class="clr"></div>
		</div>
		<div style="display:none">
				<div id="virgo_content">
					<div class="img-div"><img src="<%= asset_path('astrology/virgo.gif') %>"/></div>
					<strong>Virgo Horoscope<br/>July 24 - August 23</strong><br/>
					<div style="padding:15px;">
						<p>
							<b>Family 2013 Horoscope</b>
							Ups and downs could be seen in the family matters this year. However, you will get support from the family environment. A religious journey is seen on your chart or a long journey might turn successful and fruitful for any of your family member. New member could increase your family. If somebody has a hope to gain something from the ancestral property, the wish might get fulfilled. However, unfavorable transit of Rahu (Ascending Lunar Node) and Saturn expectations of family members will not get satisfied, which might cause stress in the environment of the family. Feeling of insecurity in the matters of family will keep you stressed.
						</p>
						<p>
							<b>Health 2013 Horoscope</b>
							From the health point of view, this year will be favorable. You can utilize this time to concentrate, meditate or perform yoga arts. This will stimulate zest and you will be able to keep your health fine. However, minute ailments could poke in between sometimes to disturb your composure. Some family issues could keep you stressed or tired. Also, it is important to take-care the health of your parents. This period might result in eye related problems.
						</p>
						<p>
							<b>Money 2013 Horoscope</b>
							Troubles might interfere in the consistency of income. However, you might earn money unexpectedly this year. If you wish or expect to receive some device, then you might get it this year. However, it is important to avoid heavy investment for a new business. If it is very important then do it carefully.
						</p>
						<p>
							<b>Education 2013 Horoscope</b>
							The first part of year looks awesome from the education point of view. However, you might have to face some trouble in the second part. If you are planning to join some new course, then is advised to take proper care while making choice, otherwise you might suffer from both education as well as financial troubles. It will be good to consider a course or institution after deep research. This year is good for the ones planning to study abroad. Time also looks good for traditional students.
					</div>
					<div class="clr"></div>
				</div>
		</div>

		<!--Libra start-->	
		<div class="horoscope-div">
			<div class="img-div"><img src="<%= asset_path('astrology/libra.gif') %>"/></div>
			<strong>Libra Horoscope<br/>September 24 - October 23</strong><br/>
			<div>Libra, you people are often known for your diligence. You have to be a little more diligent in the year 2013. Every field of your life is demanding more attention and efforts. Be attentive and observe every situation seriously before acting on any issue.  </div>
			<a class='inline' href="#libra_content"><div class="r-more">read more</div></a>
			<div class="clr"></div>
		</div>
		<div style="display:none">
				<div id="libra_content">
					<div class="img-div"><img src="<%= asset_path('astrology/libra.gif') %>"/></div>
					<strong>Libra Horoscope<br/>September 24 - October 23</strong><br/>
					<div style="padding:15px;">
						<p>
							<b>Family 2013 Horoscope</b>
							This year doesn’t look quite favorable for your family front. Therefore, you need to take proper care while taking any decision in regard of your family. Some of your family members might behave adverse. Over that, you friends or relatives might take their words back. Relations with a woman in your family might get disturbed due to some misunderstanding. Due to which, a feeling of insecurity in regard of your family might pop up in your mind. You are advised to keep a control over some of your habits; otherwise your family might go through some friction kind of state.
						</p>
						<p>
							<b>Health 2013 Horoscope</b>
							This year is not positive for health. Therefore, no leniency would be tolerated. Transit of Rahu (Head of the Demon Snake) and Saturn in first house is showing troubles for health. Some small ailments would be there always and it might get worse sometimes. Mental distress could also be there. Lack of mental peace would be there. Tensions might result in troublesome health. Some internal ailments might also trouble you. Also, you might get stressed due to the health related issues of your relatives.
						</p>
						<p>
							<b>Money 2013 Horoscope</b>
							There would be a lack of consistency in terms of money. However, there is a possibility of making money every now and then. Risky matters might stick your money; therefore, you are advised to stay alert while making investments. This time is not good for taking risks. So, believe in facts instead of fairytales, otherwise they make your life a fairy tale and you will not get expected results. If you are planning to go for some fast money making ways then think over it deeply first. You might get troubled in the case of stuck and ceased money.
						</p>
						<p>
							<b>Education 2013 Horoscope</b>
							Students will get fewer results as compared to their efforts. If you are giving exams then you won’t get expected results. However, if you have interest in esoteric sciences and atomic sciences then the time is favorable. An ordinary man can also get favors from these subjects. If you are getting some enchanting offer in the field of studies then stay alert because it could be a fraud. Don’t get yourself enrolled to some unimportant course. In the end, the last advice is that it is always good to be optimistic instead of becoming pessimistic.
					</div>
					<div class="clr"></div>
				</div>
		</div>

		<!--Scorpio start-->	
		<div class="horoscope-div">
			<div class="img-div"><img src="<%= asset_path('astrology/scorpio.gif') %>"/></div>
			<strong>Scorpio Horoscope<br/>October 24 - November 22</strong><br/>
			<div>Mixed results from the year 2013 are foreseen for you people. Your life will take unpredictable turns and you won't have any choice other than welcoming those turns. You might organize a religious event at your home, which will deliver an environment of peace and affection. </div>
			<a class='inline' href="#scorpio_content"><div class="r-more">read more</div></a>
			<div class="clr"></div>
		</div>
		<div style="display:none">
				<div id="scorpio_content">
					<div class="img-div"><img src="<%= asset_path('astrology/scorpio.gif') %>"/></div>
					<strong>Scorpio Horoscope<br/>October 24 - November 22</strong><br/>
					<div style="padding:15px;">
						<p>
							<b>Family 2013 Horoscope</b>
							This year could give you mixed results in terms of family matters. In the beginning of the year, environment of the family will stay calm and composed. Expectations and wishes of the family will be fulfilled. They will respect and honor you. However, the transit of Saturn and Rahu (Ascending Lunar Node) will affect your mental peace in the next phase of year by cursing some of your family member’s health. Also, the behavior of family members might become unsupportive. Even after all this, some spiritual activity might take place at your home.
						</p>
						<p>
							<b>Health 2013 Horoscope</b>
							Your health will be fine in the beginning of the year. If you will find your health going down then you will recover yourself soon. However, you will feel a downfall in your energy because of the unfavorable transit of Rahu (Ascending Lunar Node) and Saturn. You will make yourself tired by getting struck in some useless tasks. Therefore, try to keep yourself safe from all this. Also, your health might suffer due to irrelevant travels. Health of your family members might get affected.
						</p>
						<p>
							<b>Money 2013 Horoscope</b>
							You will get mixed results in terms of money, but you will not have to face problems from money front. If your money is blocked somewhere, then it can come again with a little effort. You will get profit from the trips related to money. However, you will have to spend some for being sick or the borrower. Some travel planning might also lead you to some expenditure. However, from in-laws’ side, you might get some financial support. Even after all these factors, expenditures might grow more than your income.
						</p>
						<p>
							<b>Education 2013 Horoscope</b>
							This year is quite favorable for the students. If you are a student of philosophy or literature, you might get immense success. Time is also favorable for the students who are planning to study abroad. You might also inculcate interest in some new subject. Family will put endeavor to help you. If you are planning to take some competitive exam then the first half of the year is favorable. However, there should be no leniency in the next half of the year, otherwise your studies might get affected.
					</div>
					<div class="clr"></div>
				</div>
		</div>	

		<!--Sagittarius start-->	
		<div class="horoscope-div">
			<div class="img-div"><img src="<%= asset_path('astrology/sagittarus.gif') %>"/></div>
			<strong>Sagittarius Horoscope<br/>November 23 - December 22</strong><br/>
			<div>You are believed to be highly interactive. This nature of yours will get you many profitable professional proposals in your court. You will attract many well established business personalities with your knowledge and sense of humor. </div>
			<a class='inline' href="#sagittarus_content"><div class="r-more">read more</div></a>
			<div class="clr"></div>
		</div>
		<div style="display:none">
				<div id="sagittarus_content">
					<div class="img-div"><img src="<%= asset_path('astrology/sagittarus.gif') %>"/></div>
					<strong>Sagittarius Horoscope<br/>November 23 - December 22</strong><br/>
					<div style="padding:15px;">
						<p>
							<b>Family 2013 Horoscope</b>
							In terms of family matters, this year looks good. Due to the unfavorable transit of Jupiter, initial months of the year might come stressful. You might get tensed for the health of any of your family members. However, you might get good news from a close relative. Family disputes will be over and behavior of your family members will become good for you. Possibilities of some religious activity to happen at your place are on chart. Friends and supporters will come out quite helpful.
						</p>
						<p>
							<b>Health 2013 Horoscope</b>
							Your health might suffer in the beginning of the year. A decrement could be felt in your physical strength. Some useless journeys might make you feel tired. Stomach related issues might make you worried; they can be controlled by keeping an eye over your eating habits. However, the next half of the year looks favorable. Your health will be fine this time, but you might get issues from ear related ailments. Some of your family members might fall ill.
						</p>
						<p>
							<b>Money 2013 Horoscope</b>
							This year has brought you happiness in terms of money as well as financial matters. If you put fewer efforts too with believe, money troubles won’t come your way. However, you might have to work harder for money in the initial days of the year, but all your desires and expectations will be fulfilled. There are strong possibilities of a hike in income. You will also earn good via trade and business. However, you will have to stay alert while investing big.
						</p>
						<p>
							<b>Education 2013 Horoscope</b>
							Initial months of the year are not favorable for the students. Expected success might not turn your way in competitive exams. Therefore, there should be no leniency made, but second part of the year might get you some special success. If you are planning to learn some language, then this time is quite favorable. While taking admission to some special course, you might have to pay some heavy donation. You might have ot study far, even if you don’t want to.
					</div>
					<div class="clr"></div>
				</div>
		</div>	

		<!--Capricorn start-->	
		<div class="horoscope-div">
			<div class="img-div"><img src="<%= asset_path('astrology/capricon.gif') %>"/></div>
			<strong>Capricorn Horoscope<br/>December 23 - January 20</strong><br/>
			<div>Being humble every time will not be good for you, as predicted in the horoscope 2013. Year 2013 is asking you to fight for your happiness. You wouldn't feel happy because of the declining health of your parents and negative atmosphere at home. </div>
			<a class='inline' href="#capricon_content"><div class="r-more">read more</div></a>
			<div class="clr"></div>
		</div>
		<div style="display:none">
				<div id="capricon_content">
					<div class="img-div"><img src="<%= asset_path('astrology/capricon.gif') %>"/></div>
					<strong>Capricorn Horoscope<br/>December 23 - January 20</strong><br/>
					<div style="padding:15px;">
						<p>
							<b>Family 2013 Horoscope</b>
							Transit of Ketu (Descending Lunar Node) in fourth house is not favorable for family matters. You might have to face some understanding issues with your family. Most of the time, you might feel down from your family front. There could be big messes on small issues at home. Health of the family members will keep you disturbed, due to which you will feel lack of happiness from the side of your family. The positive impact of this could be this that you might go on a religious trip or would have inclination towards religious and spiritual acts. There could be a planning of some auspicious deed at your family place.
						</p>
						<p>
							<b>Health 2013 Horoscope</b>
							First half of the year is good from health front because of the favorable transit of Jupiter and its eye on ascendant. Except seasonal ailments, there are no chances of serious ailment in your chart. However, health of your spouse might keep you disturbed emotionally. You have to stay alert in the second half of the year while driving to stay safe from accidents. Some tensions due to work might make you tired. Over all, you don’t have to worry much this year from the health front.
						</p>
						<p>
							<b>Money 2013 Horoscope</b>
							Your income sources will increase this year and you will be able to save well. If you owe an old debt, then you might get yourself relieved this year. Trade or business might also give you good chances for savings. Travel related people might also earn good. However, invest carefully in the matters of land or estate. It would not be good to invest in some big project. Then also you will be able to earn good from some other mediums and save well.
						</p>
						<p>
							<b>Education 2013 Horoscope</b>
							This year will be favorable for students. You will be engaged with intelligent people this year and due to your sharp brain, you will be able to take right decisions in study related matters. Your class mates will also help you. Relations with principal and teachers will also get strengthened. If you are planning to take admission in some competitive exam, then there are good chances of success. However, due to the transit of Ketu (Descending lunar Node) in fourth house, you might face difficulties while concentrating on your subjects. Therefore, it is advisable for you to keep yourself away from tensions.
					</div>
					<div class="clr"></div>
				</div>
		</div>	

		<!--Aquarius start-->	
		<div class="horoscope-div">
			<div class="img-div"><img src="<%= asset_path('astrology/aquaris.gif') %>"/></div>
			<strong>Aquarius Horoscope<br/>January 21 - February 19</strong><br/>
			<div>Mixed results from the year 2013 are foreseen for you people. Your life will take unpredictable turns and you won't have any choice other than welcoming those turns. You might organize a religious event at your home, which will deliver an environment of peace and affection. </div>
			<a class='inline' href="#aquaris_content"><div class="r-more">read more</div></a>
			<div class="clr"></div>
		</div>
		<div style="display:none">
				<div id="aquaris_content">
					<div class="img-div"><img src="<%= asset_path('astrology/aquaris.gif') %>"/></div>
					<strong>Aquarius Horoscope<br/>January 21 - February 19</strong><br/>
					<div style="padding:15px;">
						<p>
							<b>Family 2013 Horoscope</b>
							First half of the year is favorable from the family point of view. There would be happiness and peace in the house. You will receive family pleasure. However, next half will come with bad relations with parents as well as Gurus. Some egoist behavior might develop in your nature which could keep your family love meter down towards you. It would be nice to judge yourself first. Also, avoid finding myths and facts in family conversations; otherwise they will start doubting your love and trust in the family.
						</p>
						<p>
							<b>Health 2013 Horoscope</b>
							This year will be favorable for your health. Except minor ailments, this year will come out favorable from the health front. Even if you get troubled from the climatic ailments, recover will be fast. You can utilize this time to concentrate your mind and for Yoga. This will generate enthusiasm in you and will be successful to keep yourself fit. You will keep on changing your air now and then.
						</p>
						<p>
							<b>Money 2013 Horoscope</b>
							There would be a consistency in your income this year. However, it is possible that you would not make good bank balance because you might buy some property this year. Expenditures might come on the movable or immovable property of house. Chances of good expenditures are also seen for starting up a new business or trade. New sources of income could also meet you. A sudden profit might also turn your way and this will also be a reason to improve your financial conditions. If your money has been stuck somewhere then you might get it this year in fewer efforts.
						</p>
						<p>
							<b>Education 2013 Horoscope</b>
							This year will give mixed results in academics. Studious ones will get good results and lenient ones might have to face some disturbances. Time will be favorable for the ones related to the study of dialectics. Try to keep your relations good with your principal as well as teachers. Irrelevant arguments might leave you in trouble. Second half of the year is favorable and auspicious for the students participating in competitive examination. The year looks medium for the ones planning to study abroad.
					</div>
					<div class="clr"></div>
				</div>
		</div>	

		<!--Pisces start-->	
		<div class="horoscope-div">
			<div class="img-div"><img src="<%= asset_path('astrology/pisces.gif') %>"/></div>
			<strong>Pisces Horoscope<br/>February 20 - March 20</strong><br/>
			<div>The forecast of horoscope 2013 is showing that the stars are not going to favor you this year. It will be quite difficult for you to cope up with the unfavorable situations.</div>
			<a class='inline' href="#pisces_content"><div class="r-more">read more</div></a>
			<div class="clr"></div>
		</div>
		<div style="display:none">
				<div id="pisces_content">
					<div class="img-div"><img src="<%= asset_path('astrology/pisces.gif') %>"/></div>
					<strong>Pisces Horoscope<br/>February 20 - March 20</strong><br/>
					<div style="padding:15px;">
						<p>
							<b>Family 2013 Horoscope</b>
							You are required to stay alert while dealing with the members of your family. You might upset them unintentionally but soon the environment of home will be pleasant with the removal of all misunderstandings. The cause of your stress from your family side will only be miscommunication. Arguments with any of your good freeing might depress you for some time. This argument will not last long, so there is nothing to worry about it much.
						</p>
						<p>
							<b>Health 2013 Horoscope</b>
							As far as your health is concerned year 2013 might show you some ups as well as downs. The thing that can lead you to ill health will be your carelessness toward yourself. You must avoid fast food if you are already sick as it might make your situation bad. Your health will be fine in most of the months of the year 2013. Only you are required to stay cautious and avoid the contact with people who are suffering from any kind of flu. Any seasonal allergy might be a cause of concern for some days.
						</p>
						<p>
							<b>Money 2013 Horoscope</b>
							Your financial level might fluctuate a bit in between of the year rest it will be constant. Your hard work is indicating toward consistent flow of income. At some instances in the year you might feel frustrated due to no hike in income but then you will appreciate that at least there is consistency. Horoscope for 2013 will not suggest you to go for any heavy investment that involves risk. Keep a low profile this year and save your money for better use and better time.
						</p>
						<p>
							<b>Education 2013 Horoscope</b>
							The first part of the year 2013 might disappoint you in some ways but with the arrival of other half of the year things will surely get better. Being careful in selecting the best institute for you will be a good idea to save yourself from fraud colleges. The sector of education is bringing happiness in your favor as the students who wish to study abroad might get this opportunity by the end of the year. You are required to deal with the first half wisely and then enjoy the second half.
					</div>
					<div class="clr"></div>
				</div>
		</div>	
								
								
					
