
<div><h2>Vastushastra</h2></div>
<hr/> 	
<p>In ancient times the human habitats were generally constructed according to the rules of Vastu Shastra and people lived happily. In those days the members of a joint family used to be content, prosperous and happy. But, today, despite the families being small, peace and happiness remains a far cry. As times advanced, we started ignoring our old culture and tradition. The rules of Vastu Shastra too were ignored. No wonder the people experienced all kinds of troubles. You will be surprised to note that even today the residents of South India follow the rules of the Vastu shastra and are more peaceful and materialistically and economically more prosperous than North India.
</p><p>
The Vastu Shastra is founded upon the laws of nature. The equilibrium, we observe in the nature is easily perceivable by us in all moving bodies, but unfortunately we are unable to note this equilibrium in static bodies. The significance of equilibrium can very well be noted from the movements of airplanes, motorcars, ships, trains and bi-cycles. The cars are so accurately balanced that even deflation in any one of the tyres, can cause a serious accident if it is running at a high speed. Similarly, when a building is constructed without observing the rules of Vastu Shastra, various calamities, diseases and accidents take place. This is the eternal rule of nature and it has no place for any logic, doubt or debate.
</p>
