<h2>Your Profile</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="box">
  	<div class="fl width45">
			<div><%= f.label :first_name %><br />
			<%= f.text_field :first_name %></div>

			<div><%= f.label :last_name %><br />
			<%= f.text_field :last_name %></div>

			<div><%= f.label :email %><br />
			<%= f.email_field :email %></div>

			<div><%= f.label :phone %><br />
			<%= f.text_field :phone %></div>
		</div>
		<div class="fl width45">
			<div><%= f.label :password %> <i><br/>(leave blank if you don't want to change it)</i><br />
			<%= f.password_field :password, :autocomplete => "off" %></div>

			<div><%= f.label :password_confirmation %><br />
			<%= f.password_field :password_confirmation %></div>
			
			<%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br/><br/>
			<%= f.password_field :current_password, :required => true %><br/><br/>
			<%= f.submit "Update" %>
		</div>
		<div class="clr"></div>
  </div>
<% end %>
<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
