<h2>Your Profile</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <div>
  	<div class="fl width45 box">
			<div><%= f.label :first_name %><br />
			<%= f.text_field :first_name %></div>
	
			<div><%= f.label :last_name %><br />
			<%= f.text_field :last_name %></div>
	
			<div><%= f.label :email %><br />
			<%= f.email_field :email %></div>
	
			<div><%= f.label :phone %><br />
			<%= f.text_field :phone %></div>

			<div><%= f.label :password %> <i><br/>(leave blank if you don't want to change it)</i><br />
			<%= f.password_field :password, :autocomplete => "off" %></div>

			<div><%= f.label :password_confirmation %><br />
			<%= f.password_field :password_confirmation %></div>
  	</div>
  	<div class="fl width45 box">
  		<%= render :partial => "assets/singular_assets", :locals => { :entity => resource, :types => ["photo"] } %>
			<%= render :partial => "assets/multiple_assets", :locals => { :entity => resource, :types => ["images"] } %>
  	</div>
  	<div class="clr"></div>
  </div>
  <div>	
		<div class="fl width45 box">
			<%= f.label :about %><br />
			<%= f.text_area :description, :class => "tinymce" %>
		</div>
		<div class="fl width45 box">
			<%= f.label :experience %><br />
			<%= f.text_area :experience, :class => "tinymce" %>
		</div>
  	<div class="clr"></div>
  </div>
	<div>
		<div class="fl width45 box">
			<div class="fl width45">
				<div>
					<%= f.label :offered_pujas %><br /><br />
		 			<%= f.hidden_field :offered_pujas, :id => "guruji_pujas" %>
				</div>
		 		<% get_pujas.each do |name,id| %>
		 			<% checked = (f.object.offered_pujas.split("|") rescue []).include?(id.to_s) ? "checked='checked'" : "" %>
		 			<input <%= checked %> type="checkbox"  class="puja_checkbox" value="<%= id %>" id="puja_<%= id %>" name="<%= name %>"/> 
		 			<label style="display:inline" for="puja_<%= id %>"><%= name %></label><br/>
		 		<% end %>
	 		</div>
	 		<div class="fl width45">
	 			<div>
					<%= f.label :offered_services %><br /><br />
		 			<%= f.hidden_field :offered_services, :id => "guruji_services" %>
				</div>
		 		<% SERVICES.each do |service_id,service| %>
		 			<% checked = (f.object.offered_services.split("|") rescue []).include?(service_id) ? "checked='checked'" : "" %>
		 			<input <%= checked %> type="checkbox"  class="service_checkbox" value="<%= service_id %>" id="service_<%= service_id %>" name="<%= service %>"/> 
		 			<label style="display:inline" for="service_<%= service_id %>"><%= service %></label><br/>
		 		<% end %>
	 		</div>
	 		<div class = "clr"> </div>

 		</div>
 		
		<div class="fl width45 box">
	 		<div>
	 			<%= f.label :locations %><br /><br />
	 			<%= f.hidden_field :locations, :id => "guruji_locations" %>
	 			<%= f.hidden_field :cities, :id => "guruji_cities" %>
	 		</div>
	 		<div>
	 			<div class="fl" style="width:200px;">
	 				Click on city to see locations<br/><br/>
		 			<select name="city" multiple="multiple">
		 				<% index = 0 %>
		 				<% get_cities.each do |city_name,city_id| %>
		 					<% selected = (index == 0?"selected='selected'":"") %>
		 					<option <%= selected %> value="<%= city_id %>"><%= city_name %></option>
		 					<% index += 1 %>
			 			<% end %>
		 			</select>
	 			</div>
		 		<div class="fl" style="width:200px;margin-left:30px;">
		 			Locations<br/><br/>
		 			<% index = 0 %>	
			 		<% get_cities.each do |city_name,city_id| %>
			 			<% display = (index == 0 ? "":"display:none;") %>
			 			<div class="locations_for_city" id="locations_for_<%= city_id %>" style="<%= display %>">
			 				<% Location.where(:city_id => city_id).each do |location| %>
					 			<% checked = (f.object.locations.split("|") rescue []).include?(location.id.to_s) ? "checked='checked'" : "" %>
			 					<input <%= checked %> type="checkbox" class="location_checkbox" value="<%= location.id %>" id="location_<%= location.id %>" name="<%= location.name %>"/> 
			 					<label style="display:inline" for="location_<%= location.id %>"><%= location.name %></label><br/>
			 				<% end %>
			 			</div>
			 			<% index += 1 %>
			 		<% end %>
		 		</div>
		 		<div class="clr"></div>
	 		</div>
	 	</div>	
	 	<div class="clr"></div>
	</div>	
  
	<div class = "video_section">
		<h4>Video</h4><br><br>
	  	<div id = "div_videos">
	  		<% current_user.videos.each do |video| %>
		  		
		  			<%= render :partial => "videos/snap", :locals => { :video => video} %>
		  	<% end -%>	
	  		
	  	</div>
	  	<div class = "clr"></div>
	  	<div class = "add_video_btn_div">
	  		<%= link_to "Add Video", new_video_path, :rel => "add_video_colorbox", :class => "btn btn_maroon" %>
	  	</div >
	  	<div class = "clr"></div>
  	</div>  	

  	<div class="fl">
  		<%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br/><br/>
			<%= f.password_field :current_password, :required => true %><br/><br/>

			<%= f.submit "Update" %>
  	</div>
	<div class="clr"></div>
	</div>
<% end %>
<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<script type="text/javascript">
	var pujas_limit = <%= current_user.plan.pujas_limit %>;
	var services_limit = <%= current_user.plan.services_limit %>;
	var cities_limit = <%= current_user.plan.cities_limit %>;
	var locations_limit = <%= current_user.plan.locations_limit %>;
	var photos_limit = <%= current_user.plan.photos_limit %>;
	var videos_limit = <%= current_user.plan.videos_limit %>;
	

	$(".location_checkbox").change(function(){
		var checked = $(this).attr("checked");
		var locations = $("#guruji_locations").val();
		var arr = new Array();
		if(locations != null && locations != ""){
			arr = locations.split("|");
		}else{
		}
		if(checked == "checked"){
			if(arr.length >= locations_limit){
				$(this).removeAttr("checked");
				alert("You already have selected maximum number of locations. Upgrade your plan to add more locations.");
			}else {
				arr.push($(this).val());
			}
		}else{
			removeByElement(arr,$(this).val());
		}
		$("#guruji_locations").val(joinArray(arr,"|"));
	});
	
	
	$(".puja_checkbox").change(function(){
		var checked = $(this).attr("checked");
		var pujas = $("#guruji_pujas").val();
		var arr = new Array();
		if(pujas != null && pujas != ""){
			arr = pujas.split("|");
		}else{
		}
		if(checked == "checked"){
			if(arr.length >= pujas_limit){
				$(this).removeAttr("checked");
				alert("You already have selected maximum number of pujas. Upgrade your plan to add more pujas.");
			}else {
				arr.push($(this).val());
			}
		}else{
			removeByElement(arr,$(this).val());
		}
		$("#guruji_pujas").val(joinArray(arr,"|"));
	});
	
	$(".service_checkbox").change(function(){
		var checked = $(this).attr("checked");
		var services = $("#guruji_services").val();
		var arr = new Array();
		if(services != null && services != ""){
			arr = services.split("|");
		}else{
		}
		if(checked == "checked"){
			if(arr.length >= services_limit){
				$(this).removeAttr("checked");
				alert("You already have selected maximum number of services. Upgrade your plan to add more services.");
			}else {
				arr.push($(this).val());
			}
		}else{
			removeByElement(arr,$(this).val());
		}
		$("#guruji_services").val(joinArray(arr,"|"));
	});
	
	$("select[name='city'] option").click(function(e) {
    $(".locations_for_city").hide();
    
    var cities = $("#guruji_cities").val();
		var arr = new Array();
		if(cities != null && cities != ""){
			arr = cities.split("|");
		}else{
		}
		
		if(jQuery.inArray( $(this).val(), arr) == -1 && arr.length < cities_limit){
			arr.push($(this).val());
		}else if(arr.length >= cities_limit){
			alert("You already have selected maximum number of cities. Upgrade your plan to add more cities.");
		}

    $("#guruji_cities").val(joinArray(arr,"|"));
    
    $("#locations_for_"+$(this).val()).show();
  });

	$("a[rel='add_video_colorbox']").colorbox(add_video_colorbox_hash);
</script>
