<div>
	<h3>Please Fill your details to Sign up</h3>
	<hr/>
	<br/>
	<% resource_name = "user" %>
	<% resource = User.new(:type => "Guruji") %>
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :remote => true) do |f| %>
		<div class="error" id="guruji_registration_error">
		</div>
		<table width="100%" cellpadding="0" cellspacing="0">
			<%= f.hidden_field :type %>


			<tr>
				<td width="35%"><%= f.label :first_name %></td>
				<td width="65%"><%= f.text_field :first_name, :required => true, :style =>"width: 210px;" %></td>
			</tr>
			
			<tr>
				<td width="30%"><%= f.label :last_name %></td>
				<td width="70%"><%= f.text_field :last_name, :required => true, :style =>"width: 210px;" %></td>
			</tr>
			<tr>
				<td width="30%"><%= f.label :email %></td>
				<td width="70%"><%= f.email_field :email, :required => true, :style =>"width: 210px;" %></td>
		  </tr>
		  
		  <tr>
				<td width="30%"><%= f.label :phone %></td>
				<td width="70%"><%= f.text_field :phone, :required => true, :style =>"width: 210px;" %></td>
		  </tr>
		  
		  <tr>
				<td width="30%"><%= f.label :password %></td>
				<td width="70%"><%= f.password_field :password, :required => true, :style =>"width: 210px;" %></td>
		  </tr>
		  <tr>
				<td width="30%"><%= f.label :password_confirmation %></td>
				<td width="70%"><%= f.password_field :password_confirmation, :required => true, :style =>"width: 210px;" %></td>
		  </tr>
		  <% if f.object.type == "Guruji" %>
				<tr>
					<td width="30%"><%= f.label :plan %></td>
					<td width="70%"><%= f.select :plan_id, get_plans, {}, { :style =>"width: 220px;" } %></td>
				</tr>
			<% end %>
			<tr>
				<td width="30%"></td>
				<td width="70%"><div><%= f.submit "Sign up" %></div></td>
			</tr>
		</table>
	<% end %>
	<br/>
</div>

<div style="float:right;width:50%;">
	
</div>

<div class="clr"></div>
