<div>
	<h2>Sign up</h2>
	<hr/>
	<br/>
	<% resource_name = "user" %>
	<% resource = User.new(:type => "Customer") %>
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		<div class="error" id="guruji_registration_error">
		</div>
		<%= f.hidden_field :type %>
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td><%= f.label :first_name %></td>
				<td><%= f.text_field :first_name, :required => true, :style =>"width: 210px;" %></td>
			</tr>
			
			<tr>
				<td><%= f.label :last_name %></td>
				<td><%= f.text_field :last_name, :required => true, :style =>"width: 210px;" %></td>
			</tr>
			<tr>
				<td><%= f.label :email %></td>
				<td><%= f.email_field :email, :required => true, :style =>"width: 210px;" %></td>
		  </tr>
		  
		  <tr>
				<td><%= f.label :phone %></td>
				<td><%= f.text_field :phone, :required => true, :style =>"width: 210px;" %></td>
		  </tr>
		  
		  <tr>
				<td><%= f.label :password %></td>
				<td><%= f.password_field :password, :required => true, :style =>"width: 210px;" %></td>
		  </tr>
		  <tr>
				<td><%= f.label :password_confirmation %></td>
				<td><%= f.password_field :password_confirmation, :required => true, :style =>"width: 210px;" %></td>
		  </tr>
		  <% if f.object.type == "Guruji" %>
		  <tr>
				<td><%= f.label :plan %></td>
				<td><%= f.select :plan_id, get_plans, {}, { :style =>"width: 220px;"} %></td>
			</tr>
			<% end %>
			<tr>
				<td></td>
				<td>
					<div>
						<%= f.submit "Sign up", :class => "btn btn-success" %> &nbsp;&nbsp; <a href="/users/sign_in">Already have an account?</a>
					</div>
				</td>
			</tr>
		</table>
	<% end %>
	<br/>
	<div>
		<div class ="btnLogin">
			<a href="/users/auth/facebook" >
				<span>
					<img src = "<%= asset_path('Social_logo/Facebook.png') %>" height = "45" width = "45"/>
					<p>Login with Facebook</p>
				</span>
			</a>
		</div>
	</div>
</div>

<div style="float:right;width:50%;">
	
</div>

<div class="clr"></div>
