<% if resource.id.present? %>
	$("#guruji_registration_error").html("Success");
	window.location = "<%= after_sign_up_path_for(@resource) %>";
<% else %>
	$("#guruji_registration_error").html("<%= escape_javascript(render :partial => 'layouts/errors', :locals => { :target => @resource }) %>");
<% end %>
