<div style="float:left;width:40%" class="box">
	<div>
		<h2 class = "maroon">
			Four steps to register
		</h2>
	</div>
	<hr>
		<div id="myCarousel" class="carousel slide">
			<!-- Carousel items -->
			<div class="carousel-inner">
				<div class="active item">
					<div class="carousel-caption">
						<p>Step 1</p>
					</div>
					<%= link_to(image_tag("step_1.png", :style => "width:600px"), asset_path("step_1.png") , :class => "colorbox") %></div>
				<div class="item">
					<div class="carousel-caption">
						<p>Enter Location and Puja </p>
					</div>
					<%= link_to(image_tag("step_2.jpg" ), asset_path("step_2.jpg") , :class => "colorbox") %>
				</div>
				<div class="item">
					<div class="carousel-caption">
						<p>Build your profile more impressive</p>
					</div>
					<%= link_to(image_tag("step_3.jpg", :style => "width:600px"), asset_path("step_3.jpg") , :class => "colorbox") %>
				</div>
				<div class="item">
					<div class="carousel-caption">
						<p>Step 4</p>
					</div>
					<%= link_to(image_tag("step_4.jpg", :style => "width:600px"), asset_path("step_4.jpg") , :class => "colorbox") %>
				</div>
			</div>
			<!-- Carousel nav -->
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
</div>

<div style="float:right;width:50%;font-size:14px;" class="box">
	<% if resource.type == "Guruji" %>
		<h3>Register as a Guruji.</h3>
	<% else %>
		<h3>Register with us.</h3>
	<% end %>		
	<hr/>
	<br/>
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		<%= devise_error_messages! %>

		<table width="100%" cellpadding="0" cellspacing="0">
			<%= f.hidden_field :type %>
			<%= f.hidden_field :priority, :value => "9999" %>	

			<tr>
				<td width="30%"><%= f.label :first_name %></td>
				<td width="70%"><%= f.text_field :first_name, :required => true, :style => "width: 200px;" %></td>
			</tr>
			
			<tr>
				<td width="30%"><%= f.label :last_name %></td>
				<td width="70%"><%= f.text_field :last_name, :required => true, :style => "width: 200px;" %></td>
			</tr>
			<tr>
				<td width="30%"><%= f.label :email %></td>
				<td width="70%"><%= f.email_field :email, :required => true, :style => "width: 200px;" %></td>
		  </tr>
		  
		  <tr>
				<td width="30%"><%= f.label :phone %></td>
				<td width="70%"><%= f.text_field :phone, :required => true, :style => "width: 200px;" %></td>
		  </tr>
		  
		  <tr>
				<td width="30%"><%= f.label :password %></td>
				<td width="70%"><%= f.password_field :password, :required => true, :style => "width: 200px;" %></td>
		  </tr>
		  <tr>
				<td width="30%"><%= f.label :password_confirmation %></td>
				<td width="70%"><%= f.password_field :password_confirmation, :required => true, :style => "width: 200px;" %></td>
		  </tr>
		  <% if f.object.type == "Guruji" %>
				<tr>
					<td width="30%"><%= f.label :guruji %></td>
					<td width="70%"><%= f.select :plan_id, get_plans, {}, { :style => "width: 200px;" } %></td>
				</tr>
			<% end %>
			<tr>
				<td width="30%">&nbsp;</td>
				<td width="70%">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="2">
					<div class = "reg_terms_and_condition_div">
						<%= render :partial => "site/terms_and_conditions" %>
					</div>
				</td>
			</tr>
			<tr>
				<td width="30%">&nbsp;</td>
				<td width="70%">&nbsp;</td>
			</tr>
			<tr>
				<td width="30%"></td>
				<td width="70%">
					<div>
						<%= f.check_box :accept_terms, :id => "check_box_terms" %> 
						<label style="display:inline;" for="check_box_terms	">
							I accept the <%= link_to "terms and conditions", privacy_policy_path, :target => "_blank" %>
						</label> 
					</div>
				</td>
			</tr>
			<tr>
				<td width="30%">&nbsp;</td>
				<td width="70%">&nbsp;</td>
			</tr>
			<tr>
				<td width="30%"></td>
				<td width="70%"><div><%= f.submit "Sign up", :id => "submit_btn", :disabled => "disabled", :class => "btn btn_green" %></div></td>
			</tr>
		</table>
	<% end %>
	<br/>
	<div class="sign-up-msg"><%= render "devise/shared/links" %></div>
</div>
<div class="clr"></div>
<script type="text/javascript">
	$("#check_box_terms").change(function(){	
		if($(this).is(":checked")){
			$("#submit_btn").removeAttr("disabled");
		}else{
			$("#submit_btn").attr("disabled","disabled");
		}
	});
	
	$('.carousel').carousel();
</script>
