<div class="puja-type-div">
		 <a href="<%= puja_path(puja) %>" title="<%= puja.name %>">
			 <img alt="Guruji For Puja <%= puja.name %>" src="<%= puja.photo.url(:small) rescue asset_path('missing_puja_logo.jpg') %>" title="<%= puja.name %>"/>
			 <div style="margin:5px 0px"><%= puja.name %></div>
			 <div class="s-img"><img alt="Guruji For Puja <%= puja.name %> Arrow" title="<%= puja.name %>" width="10" height="10" src="<%= asset_path('arrow-diagonal.png') %>"/></div>
			 <div class="clr"></div>						
		 </a>
</div>
