<h1>Editing puja</h1>

<%= render 'form' %>

<div>
	<%= render :partial => "assets/singular_assets", :locals => { :entity => @puja, :types => ["photo"] } %>
</div>

<%= link_to 'Show', @puja %> |
<%= link_to 'Back', pujas_path %>
