<h1>Listing pujas</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pujas.each do |puja| %>
  <tr>
    <td><%= puja.name %></td>
    <td><%= puja.category %></td>
    <td><%= link_to 'Show', puja %></td>
    <td><%= link_to 'Edit', edit_puja_path(puja) %></td>
    <td><%= link_to 'Destroy', puja, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Puja', new_puja_path %>
