<div class="puja-type-div2">													
	<div><h2><%= @puja.name %><h2></div>
	<hr style="border:1px solid #999;">
	<div class="puja-samagri-div">
		<div  class="fl" style="margin-right:15px;">
			<a class="lg_image" title="<%= @puja.name %>" href="<%= @puja.photo.url(:logo) rescue asset_path('missing_puja_logo.jpg') %>">
				<img alt="Guruji For Puja <%= @puja.name %>" title="<%= @puja.name %>" src="<%= @puja.photo.url(:logo) rescue asset_path('missing_puja_logo.jpg') %>"/>
			</a>
		</div>	
		<h3>About <%= @puja.name %> :</h3>	 
		<div style="padding:0px 10px;"><%= @puja.description.html_safe rescue '-' %></div>
		<br/>
		<div>
			<h3><%= @puja.name %> Vidhi :</h3>
			<div style="padding:0px 10px;"><%= @puja.process.html_safe rescue '-' %></div>
		</div>
	</div>
	
	<div class="puja-page-form-div">			
	  <%= render :partial => "booking/quick_form" %>
	  <br/>	
		<h3><%= @puja.name %> Samagri :</h3>
		<hr style="border: 1px dotted #ccc;"/>
	 	<%= @puja.samugri.html_safe rescue '-' %>	
	</div>	
<div class="clr"></div>					
</div>
