Hi Admin, <br/> <br/>

New Booking request with following details has been received. Details of the same are as follows :  <br/> <br/>

<table>
	<tr>
		<td>
			Puja : 
		</td>
		<td>
			<%= @booking.puja.name %>
		</td>
	</tr>
	<tr>
		<td>
			Prefered Time
		</td>
		<td>
			<%= @booking.prefered_time.to_s(:show) %>
		</td>
	</tr>
	
		<tr>
			<td>
				Prefered guruji:
			</td>
			<td>
				<%= Guruji.find(@booking.guruji_id).name rescue 'No prefered Guruji' %>
			</td>
		</tr>
	
	<tr>
		<td>
			Name
		</td>
		<td>
			<%= @booking.customer.name %>
		</td>
	</tr>

	<tr>
		<td>
			Email
		</td>
		<td>
			<%= @booking.customer.email %>
		</td>
	</tr>
	
	<tr>
		<td>
			Phone
		</td>
		<td>
			<%= @booking.customer.phone %>
		</td>
	</tr>

	<tr>
		<td>
			Address
		</td>
		<td>
			<%= @booking.address_string.html_safe rescue '-' %>
		</td>
	</tr>
	<tr>
		<td>
			Note
		</td>
		<td>
			<%= @booking.note %>
		</td>
	</tr>

</table>
