Hi <%= @booking.customer.name %>, <br/> <br/>

We have successfully processed your request. Details of the same are as follows :  <br/> <br/>

<table>
	<tr>
		<td>
			Puja : 
		</td>
		<td>
			<%= @booking.puja.name %>
		</td>
	</tr>
	<tr>
		<td>
			Prefered Time
		</td>
		<td>
			<%= @booking.prefered_time.to_s(:show) %>
		</td>
	</tr>

	<tr>
		<td>
			Name
		</td>
		<td>
			<%= @booking.customer.name %>
		</td>
	</tr>

	<tr>
		<td>
			Email
		</td>
		<td>
			<%= @booking.customer.email %>
		</td>
	</tr>
	
	<tr>
		<td>
			Phone
		</td>
		<td>
			<%= @booking.customer.phone %>
		</td>
	</tr>

	<tr>
		<td>
			Address
		</td>
		<td>
			<%= @booking.address_string.html_safe rescue '-' %>
		</td>
	</tr>
</table>
<br/>
<br/>
<div>
	<% if @booking.password.present? %>
		Your login credentials for the account are as follows : <br/><br/>
		Username : <%= @booking.customer.email %><br/><br/>
		Password : <%= @booking.password %><br/><br/>
	<% end %>
	You can login to your account <%= link_to("Here", new_user_session_path(:only_path => false, :host => LOCAL_IP)) %>
</div>

