<% if @user.approved %>
	$("#approve_<%= @user.id %>").html("<%= escape_javascript(link_to("Unapprove","/enable_user?user_id=#{@user.id}&enable=false",:remote => true))  %>");
<% else %>
	$("#approve_<%= @user.id %>").html("<%= escape_javascript(link_to("Approve","/enable_user?user_id=#{@user.id}&enable=true",:remote => true))  %>");
<% end %>
