<h2>List of Users</h2>
<table border = "2px">
	<tr>

		<th>Name</th>
		<th>Email</th>
		<th>Phone</th>
		<th>Priority</th>
		<th>Approve/Unapprove</th>
	</tr>
	<% @gurujis.each do |guruji| %>
		<tr>
			<td><%= guruji.name %></td>
			<td><%= guruji.email %></td>
			<td><%= guruji.phone %></td>
			<td><%= guruji.priority.nil? ? 'NA' : guruji.priority  %></td>
			<td id="approve_<%= guruji.id %>">
				<% if guruji.approved %>
					<%= link_to("Unapprove", "/enable_user?user_id=#{guruji.id}&enable=false", :remote => true) %>
				<% else %>
					<%= link_to("Approve", "/enable_user?user_id=#{guruji.id}&enable=true", :remote => true) %>
				<% end %>	
			</td>
		</tr>
	<% end %>
</table>
<div>
	<%= paginate(@gurujis) %>
</div>
