<h2>List of Users</h2>
<table>
	<tr>
		<th>Type</th>
		<th>Name</th>
		<th>Email</th>
		<th>Phone</th>
		<th>Approve/Unapprove</th>
	</tr>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.type %></td>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td><%= user.phone %></td>
			<td id="approve_<%= user.id %>">
				<% if user.approved %>
					<%= link_to("Unapprove", "/enable_user?user_id=#{user.id}&enable=false", :remote => true) %>
				<% else %>
					<%= link_to("Approve", "/enable_user?user_id=#{user.id}&enable=true", :remote => true) %>
				<% end %>	
			</td>
		</tr>
	<% end %>
</table>
<div>
	<%= paginate(@users) %>
</div>
