<div class="search_service_guruji_div">
	<div>
		<div class = "fl" style="width:100px;padding:5px;">
			<%= image_tag((guruji.photo.url(:small) rescue asset_path('ganpati.png')), :style => "width:100px;") %>
			<br/><br/>
		</div>
		<div class="fl" style="width:180px;padding:5px;">
			<a class="maroon" href="<%= guruji_details_path(guruji) %>" target = "_blank"><%= guruji.name %></a><br/>
			Profile Views : <span style = "font-size:10px;"><%= guruji.profile_views %></span><br/>
			Search Views : <span style = "font-size:10px;"><%= guruji.search_views %></span><br/>
			<div class = "btn btn_appointment">
						Set Appointment
						<a href="/booking/new_services_booking?id=<%= guruji.id %>" id="link_booking_colorbox"></a>
			</div>
		</div>
		<div class="clr"></div>
	</div>
	
	

</div>
<script type="text/javascript">
$(document).ready(function() {
		$("#link_booking_colorbox").colorbox(booking_colorbox_hash);				
		$(".btn_appointment").on("click",function(){
				$("#link_booking_colorbox").attr("href","/booking/new_services_booking?id=<%= guruji.id %>");
				$("#link_booking_colorbox").colorbox({
					open:true
				});
			
		});
			
	});
</script>