<div style="width:300px;padding:5px;border:solid 1px #ddd;margin-top:5px;">
	<div class="fl" style="width:100px;padding:5px;">
		<%= image_tag((guruji.photo.url(:small) rescue asset_path('ganpati.png')), :style => "width:100px;") %>
		<br/><br/>
	</div>
	<div class="fl" style="width:180px;padding:5px;">
		<a class="maroon" href="<%= guruji_details_path(guruji) %>" target = "_blank"><%= guruji.name %></a><br/>
		Profile Views : <span style = "font-size:10px;"><%= guruji.profile_views %></span><br/>
		Search Views : <span style = "font-size:10px;"><%= guruji.search_views %></span><br/>
		<!-- Plan : <%= guruji.subscriptions.first.plan_id %> -->
	</div>
	<div class="clr"></div>
</div> 
