<div class="puja-type-div2">													
				<div><h2>Ganesha Puja<h2></div>
				<hr/>
				
				<div class="puja-samagri-div">
				<div  class="fl" style="margin-right:15px;">
					<a class="lg_image" href="<%= asset_path('dharmik-puja/ganesh-puja.jpg') %>">
						<img src="<%= asset_path('dharmik-puja/ganesh-puja.jpg') %>"/>
					</a>
				</div>	
				 	<h3>Ganesh Puja Samagri :</h3><br/>
				 	<ul>
				 			<li>Puja Thali</li>
				 			<li>Kalash</li>
				 			<li>Chaurang</li>
				 			<li>Pancharti</li>
				 			<li>Pali panchpatra</li>
				 	</ul>
											
										
					<h3>About Ganesha Puja</h3>	 
					<p>Ganesh Chaturthi or Vinayak Chathurthi is one of the most colorful and widely celebrated festivals of India. As it is widely celebrated, on this day large numbers of people brings Ganesha Murti to their houses and do Murti Sthapana. We provide you a complete procedure, how to perform Ganesha Puja at home according to Hindu Scriptures.
</p>
				</div>				
				<%= render :partial => "site/quick_form" %>		
			<div class="clr"></div>					
</div>
