<div class="puja-type-div2">													
				<div><h2>Gayatri Japa<h2></div>
				<hr/>
				<div  class="fl" style="margin-right:15px;">
					<a class="lg_image" href="<%= asset_path('dharmik-puja/gayatri-thumb.jpg') %>">
						<img src="<%= asset_path('dharmik-puja/gayatri-thumb.jpg') %>"/>
					</a>
				</div>	
				<div class="puja-samagri-div">
				 	<h3>Gayatri Japa Samagri :</h3><br/>
				 	<ul>
				 			<li>Puja Thali</li>
				 			<li>Kalash</li>
				 			<li>Chaurang</li>
				 			<li>Pancharti</li>
				 			<li>Pali panchpatra</li>
				 	</ul>
				
					<h3>About Gayatri Japa Puja</h3>	 
					<p>The Gayatri is the divine power that transforms the human into the Divine and blesses man with the brilliant light of the highest spiritual illumination. Whoever may be one's favourite Deity, the regular repetition of a few malas (rosary of a hundred and eight beads) of Gayatri Japa every day will shower upon one incalculable benefits and blessings. It is universally applicable, being purely an earnest prayer for light addressed to the Almighty Supreme Spirit. The Para Brahma Gayatri Mantra is the most important of all Mantras. For every Brahmin of any creed or order of life, this has been prescribed as being the sole transcendental guiding light. The Brahmachari or celibate, the Grihastha or householder, and the Vanaprastha or one who is retired, must repeat this Mantra every day; the Sannyasin or renunciate is asked to repeat Om instead of this Mantra.</p><p>The Gayatri mantra has to be recited three times a day: in the morning at sunrise, at noon, and at sunset so, get your Gayatri mantra from us.</p>
				</div>				
				<%= render :partial => "site/quick_form" %>		
			<div class="clr"></div>																															
</div>
