<div class="puja-type-div2">													
				<div><h2>Grah Pravesh Puja<h2></div>
				<hr/>
				
				<div class="puja-samagri-div">
					<div class="fl" style="margin-right:15px;">
						<a class="lg_image" href="<%= asset_path('dharmik-puja/grah-pravesh-thumb.jpg') %>">
							<img src="<%= asset_path('dharmik-puja/grah-pravesh-thumb.jpg') %>"/>
						</a>
					</div>
					 	<h3>Grah Pravesh Puja Samagri :</h3><br/>
					 	<ul>
					 			<li>Puja Thali</li>
					 			<li>Kalash</li>
					 			<li>Chaurang</li>
					 			<li>Pancharti</li>
					 			<li>Pali panchpatra</li>
					 	</ul>				
									
						<h3>About Grah Pravesh Puja</h3>	 
						<p>In Hindu tradition, whenever you enter into a new house, Grah Pravesh ceremony is performed on the day with complete rituals. To start living, the entry into the new house on this auspicious day is termed as the Grah Pravesh ritual. Grah Pravesh ceremony is performed to appease gods and planets as there is a belief in Indian people that a new acquisition is susceptible to evil forces and jealousy therefore, various 'safeguard' ceremonies must be performed to make the house blessed with good fortune.</p>
						<p>For this the house is cleaned and decorated with garland of mango leaves, hung across the main entrance of the house as a protective barrier against evil. Both banana and mango tree are considered auspicious, as they are the symbols of fertility and prosperity. Banana leaves are wound and tied around the poles which are erected outside the house.</p>
			 </div>	
			 <%= render :partial => "site/quick_form" %>		
			 <div class="clr"></div>
			 														
</div>
