<div class="puja-type-div2">													
				<div><h2>Janmadin Puja<h2></div>
				<hr/>
				
				<div class="puja-samagri-div">
				<div  class="fl" style="margin-right:15px;">
					<a class="lg_image" href="<%= asset_path('dharmik-puja/janma-puja.png') %>">
						<img src="<%= asset_path('dharmik-puja/janma-puja.png') %>"/>
					</a>
				</div>	
				 	<h3>Janmadin Puja Samagri :</h3><br/>
				 	<ul>
				 			<li>Puja Thali</li>
				 			<li>Kalash</li>
				 			<li>Chaurang</li>
				 			<li>Pancharti</li>
				 			<li>Pali panchpatra</li>
				 	</ul>
										
					<h3>About Janmadin Puja</h3>	 
					<p>We offer Janamdin Puja according to the person’s requirement. Janamdin is one of the important days for everybody. This Puja is performed on the date of birth and recommended as; it symbolizes the happy long life for everyone. According to the rituals Janamdin Puja is done as it brings prosperity as well as removes the obstacles present in one’s life.
</p>
			</div>		
			<%= render :partial => "site/quick_form" %>		
			<div class="clr"></div>					
</div>
