<div class="puja-type-div2">													
				<div><h2>Laxmi Puja<h2></div>
				<hr/>
				<div class="puja-samagri-div">
					<div  class="fl" style="margin-right:15px;">
						<a class="lg_image" href="<%= asset_path('dharmik-puja/maha_laxmi.jpg') %>">
							<img src="<%= asset_path('dharmik-puja/maha_laxmi.jpg') %>"/>
						</a>
					</div>	
					 	<h3>Laxmi Puja Samagri :</h3><br/>
					 	<ul>
					 			<li>Puja Thali</li>
					 			<li>Kalash</li>
					 			<li>Chaurang</li>
					 			<li>Pancharti</li>
					 			<li>Pali panchpatra</li>
					 	</ul>
				
						<h3>About Laxmi Puja</h3>	 
						<p>According to Hindu Mythology, Goddess Laxmi symbolizes wealth, fortune, power, luxury, beauty, fertility, and auspiciousness. Laxmi Puja is the occasion on which Hindu people use to worship Goddess Laxmi for the better wealth.</p><p>
	Laxmi Puja is mainly done on Diwali. Diwali is the chief event of north and western states of India but it is celebrated all over India.
	As it is celebrated on the dark night of Amavasya, there is a belief that on this day Laxmi walks through the green fields and loiters through the bye-lanes and showers her blessings on man for plenty and prosperity.
	</p>
				</div>				
				<%= render :partial => "site/quick_form" %>		
			<div class="clr"></div>															
</div>
