<div class="puja-type-div2">													
				<div><h2>Mahamrityunjaya Japa<h2></div>
				<hr/>
				<div class="puja-samagri-div">
					<div  class="fl" style="margin-right:15px;">
						<a class="lg_image" href="<%= asset_path('dharmik-puja/Mahamrityunjaya.jpg') %>">
							<img src="<%= asset_path('dharmik-puja/Mahamrityunjaya.jpg') %>"/>
						</a>
					</div>	
					 	<h3>Mahamrityunjaya Japa Samagri :</h3><br/>
					 	<ul>
					 			<li>Puja Thali</li>
					 			<li>Kalash</li>
					 			<li>Chaurang</li>
					 			<li>Pancharti</li>
					 			<li>Pali panchpatra</li>
					 	</ul>
				
						<h3>About Mahamrityunjaya Japa</h3>	 
						<p>Mahamrityunjaya Mantra (maha-mrityun-jaya) is one of the more influential mantras of the ancient Sanskrit. Maha mrityunjaya Jaap is a call for enlightenment and a practice of purifying the karmas of the soul at a deep level.</p><p>
	Chanting the Maha Mrityunjay Mantra with sincerity, faith and devotion in Bramha Muhurata is very beneficial. The Mahamrityyunjaya mantra, also called the Markandeya Mantra, is considered to be the greatest healing mantra. This mantra or the Jaap is quite beneficial for mental, emotional, and physical health.
	</p><p>
	The Maha Mrityunjay Mantra is a prayer of devotee to Lord Shiva, Trayambaka is the three eyed one (where the third eye that signifies the giver of knowledge, which destroys ignorance and releases us from the cycle of death and rebirth). When Lord Shiva, worshipped Maha Mrityunjaya Mantra, bestows the boon of sound health, long life, prosperity, wealth, contentment and Peace.
	</p><p> For the worshipper of this mantra, whichever faith he may belong to, the positive vibrations of the mantra percolates to each and every cell in the body thus forming a protective shield protecting the worshiper from life calamities, accidents, mishaps, daily calamities etc. It is also called as Moksha mantra, the energy or heat created by chanting this makes one fearless and takes one beyond the cycle of birth and death.
	</p>
				</div>				
				<%= render :partial => "site/quick_form" %>		
			<div class="clr"></div>
															
</div>
