<div class="puja-type-div2">													
				<div><h2>Mundan Puja<h2></div>
				<hr/>
				<div class="puja-samagri-div">
					<div  class="fl" style="margin-right:15px;">
						<a class="lg_image" href="<%= asset_path('dharmik-puja/mundan-puja.jpg') %>">
							<img src="<%= asset_path('dharmik-puja/mundan-puja.jpg') %>"/>
						</a>
					</div>	
					 	<h3>Mundan Puja Samagri :</h3><br/>
					 	<ul>
					 			<li>Puja Thali</li>
					 			<li>Kalash</li>
					 			<li>Chaurang</li>
					 			<li>Pancharti</li>
					 			<li>Pali panchpatra</li>
					 	</ul>
									
										
						<h3>About Mundan Puja</h3>	 
						<p>In Hindu communities, tonsuring is an important ceremony as consider as one of the essential ritual. Muslims too shave or trim the baby's hair. Some Sikhs perform kesi dahi ceremony equivalent to the mundan ceremony performed by Hindus by putting curd in the hair of the newborn baby.
	</p><p>
	Among Hindus, the Mundan ceremony (also known as Chaula or Choodakarana) is performed during the first year or in the third year of a child's life. In some communities, the Mundan is done only for the male child, however depending on the beliefs and customs girls too may have Mundans.
	So, we perform Mundan Puja for you according to your requirement.
	</p>
			</div>				
			<%= render :partial => "site/quick_form" %>		
			<div class="clr"></div>			
</div>
