<div class="puja-type-div2">													
				<div><h2>Navgrah Puja<h2></div>
				<hr/>
				<div  class="fl" style="margin-right:15px;">
					<a class="lg_image" href="<%= asset_path('dharmik-puja/navgragh-thumb.jpg') %>">
						<img src="<%= asset_path('dharmik-puja/navgragh-thumb.jpg') %>"/>
					</a>
				</div>	
				<div class="puja-samagri-div">
				 	<h3>Navgrah Puja Samagri :</h3><br/>
				 	<ul>
				 			<li>Puja Thali</li>
				 			<li>Kalash</li>
				 			<li>Chaurang</li>
				 			<li>Pancharti</li>
				 			<li>Pali panchpatra</li>
				 	</ul>
									
										
					<h3>About Navgrah Puja</h3>	 
					<p>Navgrah Puja is combined Puja for all the nine planets. Navgrah Puja is very beneficial Puja, as its worship strengthens planets and increases their positive impacts pacifies malefic planets & neutralizes their negative effect.</p><p> Navgrah Puja is particularly recommended to those whose planets are detrimental or malefic as per horoscope. Navgrah Puja is recommended to all, shall be performed every year to ensure that you always get maximum advantage from your planets.
</p>
				</div>				
    	 <%= render :partial => "site/quick_form" %>		
			 <div class="clr"></div>																				
</div>
