<div class="puja-type-div2">													
				<div><h2>Pind Dan Puja<h2></div>
				<hr/>
				<div class="puja-samagri-div">
				<div  class="fl" style="margin-right:15px;">
					<a class="lg_image" href="<%= asset_path('dharmik-puja/Pind-Dan-puja.jpg') %>">
						<img src="<%= asset_path('dharmik-puja/Pind-Dan-puja.jpg') %>"/>
					</a>
				</div>	
				 	<h3>Pind Dan Puja Samagri :</h3><br/>
				 	<ul>
				 			<li>Puja Thali</li>
				 			<li>Kalash</li>
				 			<li>Chaurang</li>
				 			<li>Pancharti</li>
				 			<li>Pali panchpatra</li>
				 	</ul>
									
										
					<h3>About Pind Dan Puja</h3>	 
					<p>Gaya is known for the spirituality and it is famous because people the Homage to their passed on Ancestors. This is a place where the last ceremony of a human being is done. Gaya is known for the Pind-Daan and Ramshila is one of the palce for Pind-Daan. Pind daan is known to be the way of Mukti. Mukti means Free from the Circle of Life and death.According to Ramayana the Last Funeral of King Dashratha was awaited as it can be performed only by his son Lord Rama and he was in Jungle. After Rama returned from the Jungle after 14 years he performed the last rituals o0f Dashratha with his wife Seeta. This is one of the places where they paid the homage.</p><p>
Hindu religious ritual, many Hindus performed Pind Daan or Shradh at Gaya. Hindus observe the ancestral ritual of Pind Daan or Shradh,which they believe would help their dead ancestors attain salvation and to ward off restless spirits affecting their family members.Though the pind-daan can be performed almost any time of the year, people prefer to do it during Pitrapaksha, which is the period just before Navratri and generally falls in September. Shraadh is to the ritual performed by a Hindu to offer homage to one's deceased ancestors (Pitri). It is believed that after the performance of the ritual, the soul of the dead relative is appeased and it attains Moksha (salvation).
</p><p>
We will be performing this Puja with complete Pind Daan procedure as per as Hindu rituals and beliefs.
</p>
					 		
				</div>				
			<%= render :partial => "site/quick_form" %>		
			<div class="clr"></div>															
</div>
