<div class="puja-type-div2">													
				<div><h2>Pitra Shanti Puja<h2></div>
				<hr/>	
				<div class="puja-samagri-div">
				<div  class="fl" style="margin-right:15px;">
					<a class="lg_image" href="<%= asset_path('dharmik-puja/pitra-shanti-puja.jpg') %>">
						<img src="<%= asset_path('dharmik-puja/pitra-shanti-puja.jpg') %>"/>
					</a>
				</div>
				 	<h3>Pitra Shanti Puja Samagri :</h3><br/>
				 	<ul>
				 			<li>Puja Thali</li>
				 			<li>Kalash</li>
				 			<li>Chaurang</li>
				 			<li>Pancharti</li>
				 			<li>Pali panchpatra</li>
				 	</ul>
										
										
					<h3>About Pitra Shanti Puja</h3>	 
					<p>To pacify your ancenstors you have to get the Pitra Shanti Puja done so, that they can attain moksha. There is a belief that this Puja will save you from face problems of the evil eye and if on a higher degree this dosha will somehow stop your family from having male childs.
					</p><p> Once the Puja performed, will help you in recovering from the above mentioned problem. This Vidhi is very simple which can be done by the complete tantric procedure at our place or you can get done at your place also. We are open for help regarding the Puja.
</p>
				</div>				
			<%= render :partial => "site/quick_form" %>		
			<div class="clr"></div>										
</div>
