<div class="puja-type-div2">													
				<div><h2>Shani Puja<h2></div>
				<hr/>
				<div class="puja-samagri-div">
				<div  class="fl"  style="margin-right:15px;">
					<a class="lg_image" href="<%= asset_path('dharmik-puja/shani-puja.jpg') %>">
						<img src="<%= asset_path('dharmik-puja/shani-puja.jpg') %>"/>
					</a>
				</div>	
				 	<h3>Shani Puja Samagri :</h3><br/>
				 	<ul>
				 			<li>Puja Thali</li>
				 			<li>Kalash</li>
				 			<li>Chaurang</li>
				 			<li>Pancharti</li>
				 			<li>Pali panchpatra</li>
				 	</ul>
				
					<h3>About Shani Puja</h3>	 
					<p>Shani Puja is done to please the planet Saturn. As Saturn Puja increases its positive influence and pacifies malefic effects of the planet & neutralizes its negative effect, so it is very useful since its worship strengthens the planet Saturn. 
					</p><p>This Puja is recommended to those people who’s having malefic Saturn or wrongly placed Saturn as per horoscope. Shani’s Sadhe Sati i.e. 7.5 years of disturbance in life and this can be avoided by wearing Ratna’s or by specific Shani Pujan and Homam.
</p>
			  </div>				
			<%= render :partial => "site/quick_form" %>		
			<div class="clr"></div>						
															
</div>
