<div class="puja-type-div2">													
				<div><h2>Shraadh Puja<h2></div>
				<hr/>
				<div class="puja-samagri-div">
				<div  class="fl"  style="margin-right:15px;">
					<a class="lg_image" href="<%= asset_path('dharmik-puja/Shraadh-Puja.jpg') %>">
						<img src="<%= asset_path('dharmik-puja/Shraadh-Puja.jpg') %>"/>
					</a>
				</div>	
				 	<h3>Shraadh Puja Samagri :</h3><br/>
				 	<ul>
				 			<li>Puja Thali</li>
				 			<li>Kalash</li>
				 			<li>Chaurang</li>
				 			<li>Pancharti</li>
				 			<li>Pali panchpatra</li>
				 	</ul>
								
										
					<h3>About Shraadh Puja</h3>	 
					<p>Shraadh Puja is an old age custom of India. Through this Puja we, remember our departed near and dear ones on their death anniversary. Anna Daan to Brahmins and the poor is usually performed. On this day we use to remember our ancestors and perform a puja for their soul and give charity in their name in return of which they bless us and depart happily.</p><p>According to Hindu beliefs, once in a year on the day of their departure they re-visit us, whether it is our parents or brothers or sisters or children. If this Puja is not performed on this day, then they remain unhappy and hungry for one year.
</p>
			  </div>				
			<%= render :partial => "site/quick_form" %>		
			<div class="clr"></div>					
															
</div>
