<div class="puja-type-div2">													
				<div><h2>Vivah Puja<h2></div>
				<hr/>
				<div class="puja-samagri-div">
				<div  class="fl" style="margin-right:15px;">
					<a class="lg_image" href="<%= asset_path('dharmik-puja/vivah-puja-thumb.jpg') %>">
						<img src="<%= asset_path('dharmik-puja/vivah-puja-thumb.jpg') %>"/>
					</a>
				</div>	
				 	<h3>Vivah Puja Samagri :</h3><br/>
				 	<ul>
				 			<li>Puja Thali</li>
				 			<li>Kalash</li>
				 			<li>Chaurang</li>
				 			<li>Pancharti</li>
				 			<li>Pali panchpatra</li>
				 	</ul>
				
					<h3>About Vivah Puja</h3>	 
					<p>For the early and timely marriage of the girl, Vivah Puja is performed. Sometimes it has been found that the marriage is delayed due to the doshas in the kundli and horoscope of the girl. So, we offer Vivah Puja on behalf of the person as per the requirement.
</p><p>
All kinds of marriage related problems can be solved by performing Pujas, Sadhanas and taking Dikshas.</p>
			 </div>				
			<%= render :partial => "site/quick_form" %>		
			<div class="clr"></div>					
																
</div>
