<div class="puja-type-div2">													
				<div><h2>Yagya For Health & Wealth<h2></div>
				<hr/>
				<div class="puja-samagri-div">
				<div  class="fl" style="margin-right:15px;">
					<a class="lg_image" href="<%= asset_path('dharmik-puja/yagya-for-health-wealth.jpg') %>">
						<img src="<%= asset_path('dharmik-puja/yagya-for-health-wealth.jpg') %>"/>
					</a>
				</div>	
				 	<h3>Yagya Samagri :</h3><br/>
				 	<ul>
				 			<li>Puja Thali</li>
				 			<li>Kalash</li>
				 			<li>Chaurang</li>
				 			<li>Pancharti</li>
				 			<li>Pali panchpatra</li>
				 	</ul>
			
					<h3>About Yagya For Health & Wealth</h3>	 
					<p>Yagya is a combination of rituals recommended by Veda and Vedic Scriptures that include Hawan or Fire Sacrifice, Japa or Recite of a particular quantity (like 125000 times) of a Particular Mantra which is either from Veda or from a scripture derived from Veda.</p><p>
This is the age of 'Kal Yug' (Darkness) where negative cosmic forces are more active causing much unrest and misery not only amongst living beings but even planets and the divine fraternity. With such negativity around man has lost his 'soul' leading to a down word flow of kundalini energy; posing a huge risk to man of falling back in evolution, to a lesser life or maybe even to the animal kingdom. Poverty, Pain, Calamities, Floods, Cyclones, Hurricanes have become a regular and permanent feature across the globe.</p><p>
Global warming is changing the weather pattern signaling the trend of end of life on this planet. There is an urgent need for man to take control of himself and his planetary home.</p><p>
For your convenience, we are offering Yagya mantra and Yagya Puja for your Health & Wealth.
</p>
			 </div>				
			<%= render :partial => "site/quick_form" %>		
			<div class="clr"></div>					
																				
</div>
