<div id = "guruji_video_<%= video.id %>">
	<div class = "show_video_div">
		<a href="<%= video.url%>" rel="video_colorbox">
			<img src = "<%= asset_path('video-play.jpg') %>" width = "100px"></a>
			<p style = "font-size: 10px; text-align: center;">
			    <%= video.name %>
			</p>
			<% if current_user %>
				<% if video.guruji.id == current_user.id %>
					<%= link_to 'Destroy', video, method: :delete,:remote => true, data: { confirm: 'Are you sure?' } %> |
					<%= link_to 'Edit', edit_video_path(video) %>
				<% end %>
			<% end -%>
		
	</div>
</div>
<script>
	$("a[rel='video_colorbox']").colorbox(video_colorbox_hash);
</script>

