<% if @success %>
	$("#div_videos").append("<%= escape_javascript(render(:partial => 'videos/snap', :locals => { :video => @video })) %>");
	$.fn.colorbox.close();
<% else %>
	$("#video_errors").html("<%= escape_javascript(render(:partial => 'layouts/errors', :locals => { :target => @video })) %>");
<% end %>
