 <div class="sing-in-div" style="">
	<h2>Log In</h2>
	<hr/>
	<% resource_name = "user" %>
	<% resource = User.new %>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :remote => true) do |f| %>
		<div id="sign_in_errors">
		</div>
		<div>
			<%= f.label :email %><br />
			<%= f.email_field :email, :style => "width: 100%;" %>
		</div>

		<div>
			<%= f.label :password %><br />
			<%= f.password_field :password, :style => "width: 100%;" %>
		</div>

		<div>
			<%= f.check_box :remember_me %> <%= f.label :remember_me, :style => "display:inline" %>
		</div>
		<br />
	
		<div>
			<%= f.submit "Sign in", :class => "btn btn-success" %>  &nbsp;&nbsp;  <%= link_to "Forgot your password?", new_password_path(resource_name) %>
		</div>
		<br />
	<% end %>
	<div>
		<div class ="btnLogin">
			<a href="/users/auth/facebook" >
				<span>
					<img src = "<%= asset_path('Social_logo/Facebook.png') %>" height = "45" width = "45"/>
					<p>Login with Facebook</p>
				</span>
			</a>
		</div>
	</div>
</div>
