<div style="float:left;width:40%" class="box">
	<%= link_to(image_tag("Guruji Profile.png", :style => "width:90%"), asset_path("Guruji Profile.png") , :class => "colorbox") %><br/><br/>
	<div>
		<ul style="font-size:14px;font-weight:bold;list-style: disc;list-style-type: disc;margin-left: 30px;">
			<li>Get listed on GurujiForPuja when people search for a puja.</li>
			<li>Create your personalized and customizable profile.</li>
			<li>Add photos, videos, experience and other details to make your profile look better.</li>
			<li>Upload a profile picture and establish your online presence.</li>
			<li>Select locations where you work and get listed when people search for puja in those locations.</li>
			<li>Upgrade your subscription to add more locations, videos, photos and pujas and get more enquiries online.</li>
		</ul>
	</div>
</div>
<div style="float:right;width:50%;font-size:14px;" class="box">
	<div class="sing-in-div" style="">
	<h2>Sign in</h2>

	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :remote => true) do |f| %>
		<div><%= f.label :email %><br />
		<%= f.email_field :email %></div>

		<div><%= f.label :password %><br />
		<%= f.password_field :password %></div>

		<% if devise_mapping.rememberable? -%>
		  <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
		<% end -%>

		<div><%= f.submit "Sign in" %></div>
	<% end %>
		<%= render "devise/shared/links" %>
	</div>
</div>	
<div class="clr"></div>
