<div style="border:solid 1px #ddd;">
	<% @booking = defined?(@booking) ? @booking : Booking.new() %>
	<div class="booking-form-header maroon">
		Get a guruji quickly.
	</div>
	<div style = "padding:5px 20px;">
		<%= form_for(@booking, :url => new_booking_path, :remote => true, :html => { :id => "quick_booking_form" }) do |f| %>
			<div id="booking_errors" class="error">
				<%= render :partial => "layouts/errors", :locals => { :target => @booking } %> 
			</div>
			<table cellspacing='5' cellpadding='5'>	
				<tr>
					<td>
						<%= f.label :puja %>
					</td>
					<td>
						<%= f.select :puja_id, get_pujas, {:prompt => "Select Puja"}, { :class => "textfieldfull", :id => "select_quick_booking_puja" } %>	
					</td>
				</tr>
				<tr>
					<td>
						<%= f.label :city %>
					</td>
					<td>
						<%= f.select :city_id, get_cities, {:prompt => "Select City"}, { :class => "textfieldfull", :id => "select_quick_booking_city" } %>	
					</td>
				</tr>
				<tr>
					<td>
						<%= f.label :prefered_date %>
					</td>
					<td>
						<%= f.text_field :prefered_time, :id => "txt_quick_booking_prefered_time", :class => "timepicker textfieldfull" %>
					</td>
				</tr>
				<tr>
					<td>
						&nbsp;
					</td>
					<td style="text-align:right;">
						<%= link_to("Get Guruji", new_booking_path, :id => "quick_booking_link", :class => "btn btn_green") %>
					</td>
				</tr>
			</table>
		<% end %>
	</div>
</div>			

<script type="text/javascript">
	$(document).ready(function(){
		$("#txt_quick_booking_prefered_time").datetimepicker({
			ampm: true,
			dateFormat: 'yy/mm/dd',
			buttonImageOnly: false,
			onSelect: function(dateText, inst) {
				var url = "<%= new_booking_path %>?";
				url += "prefered_time="+encodeURIComponent(dateText);
				if($("#select_quick_booking_puja").val() != ""){
					url += "&puja_id="+ $("#select_quick_booking_puja").val();
				}
				if($("#select_quick_booking_city").val() != ""){
					url += "&city_id="+ $("#select_quick_booking_city").val();
				}
				$("#quick_booking_link").attr("href",url);
      }
		});
		
		$("#select_quick_booking_puja").change(function(){
			var url = "<%= new_booking_path %>?";
			url += "prefered_time="+encodeURIComponent($("#txt_prefered_time").val());
			if($("#select_quick_booking_puja").val() != ""){
				url += "&puja_id="+ $("#select_quick_booking_puja").val();
			}
			if($("#select_quick_booking_city").val() != ""){
				url += "&city_id="+ $("#select_quick_booking_city").val();
			}
			$("#quick_booking_link").attr("href",url);
		});
		
		$("#select_quick_booking_city").change(function(){
			var url = "<%= new_booking_path %>?";
			url += "prefered_time="+encodeURIComponent($("#txt_prefered_time").val());
			if($("#select_quick_booking_puja").val() != ""){
				url += "&puja_id="+ $("#select_quick_booking_puja").val();
			}
			if($("#select_quick_booking_city").val() != ""){
				url += "&city_id="+ $("#select_quick_booking_city").val();
			}
			$("#quick_booking_link").attr("href",url);
		});
		
		$("#quick_booking_link").colorbox(booking_colorbox_hash);
	});
</script>
