$("#booking_submit_btn").show();
$("#booking_submit_loader").hide();
<% if @success %>
	$("#booking_form_header").html("Request was successfully processed.");
	$("#booking_form_status").html("<%= escape_javascript(render(:partial => "booking/booking", :locals => {:booking => @booking})) %>");
	$.fn.colorbox.resize();
<% else %>
	$("#booking_errors").html("<%= escape_javascript(render(:partial => "layouts/errors", :locals => {:target => @booking})) %>");
<% end %>
