<div id="booking_form_header" class="booking-form-header maroon">
	Fill up the details to get this Service.
</div>
<div id="booking_form_status">

		<%= form_for(@booking, :url => create_booking_path, :remote => true, :html => { :id => "booking_form" }) do |f| %>
			<div id="booking_errors" class="error">
				<%= render :partial => "layouts/errors", :locals => { :target => @booking } %> 
			</div>
			<table cellspacing='5' cellpadding='5'>	
				<tr>
					<td>
						Services:
					</td>
					<td>
						<%= f.select :puja_id, get_services, {}, { :class => "textfieldfull" } %>	
					</td>
				</tr>
		
				
		
				<tr>
					<td>
						<%= f.label :name %>
					</td>
					<td>
						<%= f.text_field :name, :class => "textfieldfull", :required => true %>
					</td>
				</tr>
				<tr>
					<td>
						<%= f.label :email %>
					</td>
					<td>
						<%= f.email_field :email, :class => "textfieldfull", :required => true %>
					</td>
				</tr>
				<tr>
					<td>
						<%= f.label :phone %>
					</td>
					<td>
						<%= f.text_field :phone, :class => "textfieldfull", :required => true %>
					</td>
				</tr>
				<tr>
					<td>
						<%= f.label :prefered_time %>
					</td>
					<td>
						<%= f.text_field :prefered_time, :id => "txt_prefered_time", :class => "timepicker textfieldfull" %>
					</td>
				</tr>
				<tr>
					<td>
						<%= f.label :address %>
					</td>
					<td>
						<%= f.text_area :address, :class => "textfieldfull", :rows => 3, :required => true, :style => "resize: none" %>
					</td>
				</tr>		
		
				<tr>
					<td>
						<%= f.label :city %>
					</td>
					<td>
						<%= f.select :city_id, get_cities, {}, { :id => "select_booking_city", :class => "textfieldfull" } %>	
					</td>
				</tr>
		
				<tr>
					<td>
						<%= f.label :location %>
					</td>
					<td>
						<%= f.select :location_id, get_locations, {}, { :id => "select_booking_location", :class => "textfieldfull" } %>	
					</td>
				</tr>
				<tr>
					<td>
						<%= f.label :note %>
					</td>
					<td>
						<%= f.text_area :note, :class => "textfieldfull", :rows => 3, :style => "resize: none" %>
					</td>
					<%= f.hidden_field :guruji_id, :value => "13" %>
				</tr>
				<tr>
					<td>
						&nbsp;
					</td>
					<td style="text-align:right;">
						<%= f.submit "Submit", :id => "booking_submit_btn", :class => "btn btn_green" %>
						<%= image_tag('fb_loader_small.gif', :style => "display:none", :id => "booking_submit_loader") %>
					</td>
				</tr>
			</table>
		<% end %>

</div>		

<script type="text/javascript">
	$(document).ready(function(){
		$(".timepicker").datetimepicker({
			ampm: true,
			dateFormat: 'yy/mm/dd',
			buttonImageOnly: false
		});
	
		$("#select_booking_city").change(function(){
			var hash = {};
			hash["city_id"] = $(this).val();
			hash["location_select_id"] = "select_booking_location";
			jsRequest("/site/get_locations",hash);
		});
		
		$(".suggested_muhurta_link").click(function(){
			$("#txt_prefered_time").val($(this).attr('date'));
		});
	
		add_ajax_loader_event("booking_form","booking_submit_loader","booking_submit_btn");
		
		<% if @booking.city_id.present? %>
			var hash = {};
			hash["city_id"] = "<%= @booking.city_id %>";
			hash["location_select_id"] = "select_booking_location";
			hash["location_id"] = "<%= @booking.location_id %>"
			jsRequest("/site/get_locations",hash);
		<% end %>
	});
</script>
