<% asset_type = (defined?asset_type and asset_type.present?) ? asset_type : "EImage" %>
 <script type="text/javascript" charset="utf-8">
  <%- session_key = Rails.application.config.session_options[:key] -%> 
  jQuery(document).ready(function(jQuery) {
		<% types.each do |type| %>
			jQuery('#<%= type %>').click(function(event){
				event.preventDefault();
			});
			
			var csrf_token = jQuery('meta[name=csrf-token]').attr('content');
			var csrf_param = jQuery('meta[name=csrf-param]').attr('content');
			jQuery('#<%= type %>').uploadify({
				'swf'  		: '<%= asset_path("uploadify/uploadify.swf") %>',
				'uploader'    		: '<%= fc_domain %>/assets/add_lookbook',
				'multi'      		: false,
				'cancelImg'			: "<%= asset_path('cancel.png') %>",
				'auto'				: true,
				onQueueComplete : function(queueData){
					showNotice(queueData.uploadsSuccessful +" files uploaded successfully");
				},
				onUploadError: function(file, errorCode, errorMsg, errorString) {
					showNotice('The file ' + file.name + ' could not be uploaded: ' + errorString);
				},
				onUploadSuccess : function(file, data, response) { 
					var dat = eval('(' + data + ')');
					if(dat.result == "success"){
						var dat = eval('(' + response + ')');
						jQuery.getScript(dat.asset);
					}else{
						var errors =  dat.asset.split(',');
						var error_message = "";
						for(var i = 0; i < errors.length; i++){
							error_message += "<li>" + errors[i] + "</li>"
						}
						jQuery("#upload_errors").html("<ul>" + error_message + "</ul>");
					}
				},
				formData: {
					 '_method': 'post',
					 'format' : 'json',
					 'update_div' : "<%= type %>_image",
					 'viewable_id' : '<%= entity.id %>',
					 'viewable_type' : '<%= entity.class.to_s %>',
					 'asset_type'			  : '<%= asset_type %>',
					'_http_accept': 'application/javascript',
						'<%= session_key %>' : encodeURIComponent('<%= u cookies[session_key] %>'),
					 'authenticity_token': '<%= form_authenticity_token %>',
					 'user_id' : '<%= current_user.id %>',
					 'group_id' : '<%= type %>'
				 }
			});
			jQuery('#<%= type %>_submit').click(function(event){
				event.preventDefault();
				jQuery("#<%= type %>").uploadifyUpload();
			});
		<% end %>
	});
</script>	  
<% types.each do |type| %>
	<div>

		<div id="upload_errors_<%= type %>">	</div>
		<div id="<%= type %>_image">
			<% asset = eval("entity.#{type}") %>
			<% if asset %>
				<%= render :partial => "assets/asset", :locals => {:asset => asset} %>
			<% end %>
		</div>
		<br clear="all"/>
		<%= form_for Asset.new, :url => '/assets/add', :html => {:multipart => true} do |f| %>
			<p><%= f.file_field type.to_sym, :id => "#{type}" %> </p>
			<!--
			<%= f.submit "Upload", :class=>"red_btn_r", :id => "#{type}_submit" %>
			-->
			<div class="clr"></div>
		<% end %>
	</div>
<% end %>
<div class="clr">
</div>

