jQuery('#<%= @update_div %>').html("");
<% if @multiple %>
	<% @assets.each do |asset| %>
		jQuery('#<%= @update_div %>').prepend("<%= escape_javascript(render :partial => 'assets/asset', :locals => {:asset => asset, :choose_label => @choose_label}) %>");
	<% end %>
<% else %>
	<% @assets.each do |asset| %>
		jQuery('#<%= @update_div %>').html("<%= escape_javascript(render :partial => 'assets/asset', :locals => {:asset => asset, :choose_label => @choose_label}) %>");
	<% end %>
<% end %>
