<a href="/booking/new_booking" style="display:none;" id="link_booking_colorbox"></a>
<script type='text/javascript'>

	$(document).ready(function() {
		apply_data();
		
		$(".fc-widget-content").on("click",function(){
			if($(this).hasClass("fc-other-month")){
			}else{
				var date = $(this).find(".fc-day-number").html();
				var month = $(".fc-header-title h2").html();
				var d = new Date(date+" "+month);
				var date_string = d.getDate() + "-" + (d.getMonth()+1) + "-" + d.getFullYear();
				var url_with_date = "/booking/new_booking?prefered_time="+date_string; 
				//alert(url_with_date);
				$("#link_booking_colorbox").attr("href",url_with_date);
				$("#link_booking_colorbox").colorbox({
					open:true
				});
			}
		});
			
	});
	
	function apply_data(){
		var events_data = [];
		<% @events.each do |event| %>	
			var event_data = {};
			event_data["title"] = "<%= event.name %>";
			
			var d1 = Date.parse("<%= event.from_time.to_s(:calendar) %>");
			var from_time = new Date(d1);
			
			var d2 = Date.parse("<%= event.to_time.to_s(:calendar) %>");
			var to_time = new Date(d2);
			
			event_data["start"] = from_time;
			event_data["id"] = "<%= event.id %>";
			event_data["url"] = "<%= event.url %>";
			event_data["end"] = to_time;
			event_data["allDay"] = false;
			event_data["description"] = "<%= escape_javascript(event.description) %>";
			
			events_data.push(event_data);
		<% end %>	
		
		$('#calendar').fullCalendar({
			changeViewCallback: viewChanged,
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
			editable: true,
			events: events_data
		});
		
		viewChanged();
	}
	
	function viewChanged(){
		$("a[rel='muhurta_colorbox']").colorbox(booking_colorbox_hash);
		
		$("div[rel='muhurta_colorbox']").colorbox(booking_colorbox_hash);
		
		$("#link_booking_colorbox").colorbox(booking_colorbox_hash);
		
		jQuery(".fc-event-inner").popover(pop_options_hash);
	}
</script>
<style type='text/css'>
	#calendar {
		width: 600px;
		margin: 0 auto;
	}
</style>
<div id='calendar'>
</div>
