<%= form_for(@contact, :url => {:controller => :site, :action => :contact_us}, :html => {:id => "contact_form"}, :remote => true) do |f| %>
	<div id="contact_errors">
	</div>
	<div class="field">
		<label class="normal_label"><em>*</em>First Name:</label><br/>
		<%= f.text_field :fname, :required => true, :style => "width:250px;" %><br/>
	</div>
	<div class="field">
		<label class="normal_label">Last Name:</label><br/>
		<%= f.text_field :lname, :style => "width:250px;" %><br/>
	</div>
	<div class="field">
		<label class="normal_label"><em>*</em>Email:</label><br/>
		<%= f.email_field :email, :required => true, :style => "width:250px;" %><br/>
	</div>
	<div class="field">
		<label class="normal_label"><em>*</em>Phone:</label><br/>
		<%= f.text_field :phone, :required => true, :style => "width:250px;" %><br/>
	</div>
	<div class = "field">
		<label class = "normal_label">Type</label><br/>
		<%= f.text_field :contact_type, :required => true, :style => "width:250px;" %><br/>
	</div>

	<div class="field">
		<label class="normal_label">Comment / Enquiry</label><br/>
		<%= f.text_area :comment, :rows => 5, :col => 5, :style => "width:250px;height:40px;" %><br/>
	</div>

	<div class="field">
		<%= f.submit "Submit", :class => "fr btn btn_green", :id => "contact_submit", :style => "background:#BE4E3F; color:#fff;padding:5px; border-radius:5px;" %>
		<%= image_tag("loader_small.gif", :id => "contact_loader", :class => "fr", :style => "display:none;") %>
		<br class="clr"/>
	</div>
<% end %>