<div id="contact-popup" style="border:1px solid #333; margin:10px; padding:10px;">
	<div><h3>Please Fillup your Details to Know More</h3></div>
	<hr/>	
	<% resource ||= User.new %>	
	<% resource_name = "user" %> 
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:id => "user_form"} ) do |f| %>
		<div id="contact_errors">
		</div>
		<div class="field">
			<label class="normal_label"><em>*</em>First Name:</label><br/>
			<%= f.text_field :first_name, :required => true %><br/>
		</div>
		<div class="field">
			<label class="normal_label"><em>*</em>Last Name:</label><br/>
			<%= f.text_field :last_name, :required => true %><br/>
		</div>
		<div class="field">
			<label class="normal_label"><em>*</em>Email:</label><br/>
			<%= f.email_field :email, :required => true %><br/>
		</div>
		<div class="field">
			<label class="normal_label"><em>*</em>Password:</label><br/>
			<%= f.password_field :password, :required => true %><br/>
		</div>
		<div class="field">
			<label class="normal_label"><em>*</em>Password Confirmation:</label><br/>
			<%= f.password_field :password_confirmation, :required => true %><br/>
		</div>
		<div class="field">
			<%= f.submit "Submit", :class => "btn btn_green", :id => "contact_submit" %>
			<%= image_tag("loader_small.gif", :id => "contact_loader", :style => "display:none;") %>
			<br/>
		</div>
	<% end %>
			
</div>			

