<div id = "feedback_form_div">
	<div>
		<p>
			Thank you for visiting our site. GurujiForPuja.com extends its warm greetings to you. Kindly complete the following information, so that we can respond promptly to your Feedback.
		</p>
	</div>	
	<div id="tabs_feedback">
		<ul>
			<li><a href="#feedback"><%= CONTACT_TYPE[0]%></a></li>
			<li><a href="#feedback"><%= CONTACT_TYPE[1]%></a></li>
	      	<li><a href="#feedback"><%= CONTACT_TYPE[2]%></a></li>
	    </ul>
	    <div id = "feedback">
		<%= form_for(:contact, :url => {:controller => :site, :action => :contact_us}, :html => {:id => "contact_form"}, :remote => true) do |f| %>

			<div id="contact_errors">
			</div><br>
			<div class="field">
				<%= f.text_field :fname, :required => true, :style => "width:120px;", :placeholder => "First Name" %>
				<%= f.text_field :lname, :style => "width:120px;", :placeholder => "Last Name" %><br/>
			</div>
			<div class="field">
				<%= f.email_field :email, :required => true, :style => "width:250px;", :placeholder => "Email" %><br/>
			</div>
			<div class="field">
				<%= f.text_field :phone, :required => true, :style => "width:250px;", :placeholder => "Phone" %><br/>
			</div>
			<div class = "field">
				<%= f.hidden_field :contact_type, :required => true, :value => CONTACT_TYPE[0], :id => "txt_feedback_type"  %>
			</div>

			<div class="field">
				<%= f.text_area :comment, :rows => 5, :col => 5, :style => "width:250px;height:60px;", :id => "txt_feedback", :placeholder => CONTACT_TYPE[0] %><br/>
			</div>
			<div class="field">
				<%= f.submit "Submit Your Feedback", :class => "fr btn btn_green", :id => "contact_submit", :style => "background:#BE4E3F; color:#fff;padding:5px; border-radius:5px;" %>
				<%= image_tag("loader_small.gif", :id => "contact_loader", :class => "fr", :style => "display:none;") %>
				<br class="clr"/>
			</div>
		<% end %>
	</div>
</div>
<script>
	$("#tabs_feedback").tabs({

    	select: function(event,ui){
    		
    		switch(ui.index){
    			case 0:
    				$("#txt_feedback").attr("placeholder","<%= CONTACT_TYPE[0]%>");
    				$("#txt_feedback_type").val("<%= CONTACT_TYPE[0]%>"); 
    				break;
    			case 1:
    				$("#txt_feedback").attr("placeholder","<%= CONTACT_TYPE[1]%>");
    				$("#txt_feedback_type").val("<%= CONTACT_TYPE[1]%>"); 
    				break;
    			case 2:
    				$("#txt_feedback").attr("placeholder","<%= CONTACT_TYPE[2]%>");
    				$("#txt_feedback_type").val("<%= CONTACT_TYPE[2]%>"); 
    				break;
    		}
    	}

    });
</script>
