<div>
	<h3>User/Customer Payments Terms</h3>
	<p>When you use the Gurujiforpuja.com Payments service to pay for things on Gurujiforpuja.com, you agree to these User Payments Terms.</p>
	<p>If you are under the age of eighteen (18), you may use Gurujiforpuja.com Payments only with the involvement of your parent or guardian. Make sure you review these Terms with your parent or guardian so that you both understand all of your rights and responsibilities. </p>
	<p>You also agree that we may communicate with you electronically any important information regarding your purchases or your account. We may also provide notices to you – including our Annual Privacy Notice to you under our (Payment Terms Privacy Policy) – by posting them on our website. We have provided some section headers for your convenience, but you should carefully read through these User Payments in order to understand your rights and responsibilities, as well as ours. </p>
</div>
<div>
	<h3>Making Purchases of service</h3>
	<p>1. Funding / Purchasing. When you make a purchase of any service using gurujiforpuja.com Payments, you agree to provide a valid funding instrument to load money into your electronic value balance. Once you purchased any service using gurujiforpuja.com you cannot claim for refund in any case.</p>
	<p>2. Pricing. Pay attention to the details of the transaction, because your total price may include taxes, fees, and shipping costs, all of which you are responsible for funding.</p>
</div>
<div>
	<h3>Payment Methods</h3>
	<p>1. Funding instruments. We want to make Gurujiforpuja.com Payments convenient, so we allow you to fund your transactions using a number of different sources, like Check, credit cards and debit cards, online Transfer and other payment methods.</p>
	<p>2. Authority. When you provide a funding instrument to us, you confirm that you are permitted to use that funding instrument. When you fund a transaction, you authorize us (and our designated payment processor) to charge the full amount to the funding instrument you designate for the transaction. You also authorize us to collect and store that funding instrument, along with other related transaction information.</p>
	<p>3. Authorization. If you pay by credit or debit card, we may obtain a pre-approval from the issuer of the card for an amount, which may be as high as the full price of your purchase. We will bill your card at the time you load funds for your Gurujiforpuja.com Payments transaction, or shortly thereafter. If you cancel a transaction before completion, this pre-approval may result in those funds not otherwise being immediately available to you.</p>
	<p>4. Failed funding. If you fund a payment by debit card and your load transaction results in an overdraft or other fee from your bank, you alone are responsible for that fee.</p>
</div>
<div>
	<h3>Actions We May Take</h3>
	<p>1. At-will use. We may revoke your eligibility to use Gurujiforpuja.com Payments at any time at our sole discretion.</p>
	<p>2. Inquiries. By using Gurujiforpuja.com Payments, you acknowledge and agree that we may make any inquiries that we consider necessary, either directly or through third parties, concerning your identity and creditworthiness.</p>
	<p>3. Right to cancel. We may cancel Registration, transaction if we believe the Registration, transaction violates Terms & conditions.</p>
	<p>4. Payment limitations. In order to prevent financial loss to you or to us, we may place a delay on a payment for a period of time, or limit funding instruments for a transaction, or limit your ability to make a purchase, or deactivate your account. </p>
	<p>5. Sharing of information. In order to prevent financial loss to you or to us, we may contact your funding instrument issuer, law enforcement, or affected third parties (including other users) and share details of any payments you are associated with, if we believe doing so may prevent financial loss or a violation of law.</p>
</div>
<div>
	<h3>3 Disputes and Reversals</h3>
	<p>1. Customer assistance. Subject to Sections 3.2, 3.3, 3.4, and 3.5 below, we provide various tools in our Gurujiforpuja.com Support Center to assist you in communicating with a third party to resolve a dispute arising from a payment transaction.</p>
	<p>2. No liability for spend transaction. If you enter into a transaction with a third party and have a dispute over the goods or services you purchased, we have no liability for the goods or services underlying the transaction. Our only responsibility is to handle your funding transaction. All funding transactions are final unless required by law. If you order something that becomes unavailable before it can be provided to you, you may request a refund of your funded amount.</p>
	<p>3. Duty to notify us. If you believe that an unauthorized or otherwise problematic transaction has taken place under your account, you agree to notify us immediately, so that we may take action to prevent financial loss. Unless you submit the claim to us within 30 days after the charge, you will have waived, to the fullest extent permitted by law, all claims against us arising out of or otherwise related to the transaction.</p>
	<p>4. Intervention. We may intervene in disputes concerning payments that may arise between you and Other Service provider, but we have no obligation to do so. </p>
	<p>5. Technical difficulties. If you experience a technical failure or interruption of service that causes your funding transaction to fail, you may request that your transaction be completed at a later time. </p>
</div>
<div>
	<h3>Special Provisions Applicable to Advertisers</h3>
	<p>1. Agreement to pay. When you purchase advertising or promoted posts on or through Gurujiforpuja.com, you agree to pay all amounts specified in the order, along with any applicable taxes. </p>
	<p>2. Cancelation. You can cancel an advertising order at any time through our online portal, but your ads may run for several days after you notify us, and you are still responsible for paying for those ads. </p>
	<p>3. Tax liability. It is your responsibility to remit any taxes that apply to your transactions. You agree to indemnify and hold us harmless from and against any claim arising out of your failure to do so. </p>
	<p>4. Consent to credit check. your order constitutes your written authorization for us to obtain your personal and/or business credit report from a credit bureau. We may obtain your credit report when you place an order, or at any time thereafter. </p>
	<p>5. Security. You are responsible for maintaining the security of your advertising account, and you understand that you will be charged for any orders placed on or through your advertising account. </p>
	<p>6. Direct debit. If you are making direct debit payments, you agree that we can charge you any amount that falls within the range you agreed to upon signup. We will notify you in advance if any charge will exceed the agreed-upon range. </p>
	<p>7. Delinquent accounts. If you purchase Service, advertising, and your payment method fails or your account is past due, we may take steps to collect past due amounts using other collection mechanisms. You agree to pay all expenses associated with such collection, including reasonable attorneys' fees. Interest will accrue on any past due amounts at the rate of the lesser of 1% per month or the lawful maximum. </p>
</div>
<div>
	<h3>Notices and Amendments to These Terms</h3>
	<p>1. Notice to you. By using the Gurujiforpuja.com Payments service, you agree that we may communicate with you electronically any important information regarding your Service purchases or your account. We may also provide notices to you by posting them on our 1. website, or by sending them to an email address or street address that you previously provided to us. Website and email notices shall be considered received by you within 24 hours of the time posted or sent; notices by postal mail shall be considered received within three (5) business days of the time sent.</p>
	<p>2. Notice to us. Except as otherwise stated, you must send notices to us relating to Gurujiforpuja.com Payments and these Terms by postal.</p>
	<p>3. Amendment guidelines. We may update these Payments Terms at any time without notice as we deem necessary to the full extent permitted by law. The Payments Terms in place at the time you confirm a transaction will govern that transaction.</p>
</div>
<div>
	<h3>Terms</h3>
	<p>1. The Contract would be valid for 12 months. Except for termination in accordance with the Terms of Service for a material breach by Gurujiforpuja.com, you shall not have the right to terminate the Contract other than by prior written notice of One month’s issued to Gurujiforpuja.com</p>
	<p>2. Registration Fee and Consequences of Non-Payment: You shall be liable to pay a one-time, non-refundable registration fee for the Services equivalent to 12 months of the total fee you have agreed to pay. The registration fee shall be paid by you in advance simultaneously with the accepting of this Contract. The right of Gurujiforpuja.com to suspend the Services shall be without prejudice to Gurujiforpuja.com right to terminate the Contract for your material breach.</p>
	<p>3. Contact Numbers, Email Id: You hereby agree that instead of showing your telephone number, mobile number and Email Address on the Website, Gurujiforpuja.com will Provide own contact number which would direct the User to your telephone number.</p>
</div>
