<div class="puja-type-div">
		 <a href="/puja/grah_pravesh_puja">
			 <img src="<%= asset_path('dharmik-puja/grah-pravesh-thumb.jpg') %>"/>
			 <div>Grah Pravesh Puja</div>
			 <div class="s-img"><img width="10" height="10" src="<%= asset_path('arrow-diagonal.png') %>"/></div>
			 <div class="clr"></div>						
		 </a>
</div>
<div class="puja-type-div">
		 <a href="/puja/janamdin_puja">
			 <img src="<%= asset_path('dharmik-puja/janma-puja.png') %>"/>
			 <div>Janmadin Puja</div>
			 <div class="s-img"><img width="10" height="10" src="<%= asset_path('arrow-diagonal.png') %>"/></div>
			 <div class="clr"></div>						
		 </a>
</div>
<!--ganesh puja div start-->
<div class="puja-type-div">
		 <a href="/puja/ganesh_puja">
			 <img src="<%= asset_path('dharmik-puja/ganesh-puja.jpg') %>"/>
			 <div>Ganesha Puja</div>
			 <div class="s-img"><img width="10" height="10" src="<%= asset_path('arrow-diagonal.png') %>"/></div>
			 <div class="clr"></div>						
		 </a>
</div>
<div class="puja-type-div">
		 <a href="/puja/laxmi_puja">
			 <img src="<%= asset_path('dharmik-puja/maha_laxmi.jpg') %>"/>
			 <div>Laxmi Puja</div>
			 <div class="s-img"><img width="10" height="10" src="<%= asset_path('arrow-diagonal.png') %>"/></div>
			 <div class="clr"></div>			
		 </a>
</div>
<div class="puja-type-div">
		 <a href="/puja/navgrah_puja">
			 <img src="<%= asset_path('dharmik-puja/navgragh-thumb.jpg') %>"/>
			 <div>Navgrah Puja</div>
			 <div class="s-img"><img width="10" height="10" src="<%= asset_path('arrow-diagonal.png') %>"/></div>
			 <div class="clr"></div>			
		 </a>
</div>
<div class="puja-type-div">
		 <a href="/puja/shani_puja">
			 <img src="<%= asset_path('dharmik-puja/shani-puja.jpg') %>"/>
			 <div>Shani Puja</div>
			 <div class="s-img"><img width="10" height="10" src="<%= asset_path('arrow-diagonal.png') %>"/></div>
			 <div class="clr"></div>			
		 </a>
</div>
<div class="puja-type-div">
		 <a href="/puja/kalsarp_yoga_puja">
			 <img src="<%= asset_path('dharmik-puja/kalsarp_yoga_puja.jpg') %>"/>
			 <div>Kalsarpa Yoga Puja</div>
			 <div class="s-img"><img width="10" height="10" src="<%= asset_path('arrow-diagonal.png') %>"/></div>
			 <div class="clr"></div>			
		 </a>
</div>
<div class="puja-type-div">
		 <a href="/puja/pitra_shanti_puja">
			 <img src="<%= asset_path('dharmik-puja/pitra-shanti-puja.jpg') %>"/>
			 <div>Pitra Shanti Puja</div>
			 <div class="s-img"><img width="10" height="10" src="<%= asset_path('arrow-diagonal.png') %>"/></div>
			 <div class="clr"></div>			
		 </a>
</div>
<div class="puja-type-div">
		 <a href="/puja/shradha_puja">
			 <img src="<%= asset_path('dharmik-puja/Shraadh-Puja.jpg') %>"/>
			 <div>Shraadh Puja</div>
			 <div class="s-img"><img width="10" height="10" src="<%= asset_path('arrow-diagonal.png') %>"/></div>
			 <div class="clr"></div>			
		 </a>
</div>
<div class="puja-type-div">
		 <a href="/puja/vivah_puja">
			 <img src="<%= asset_path('dharmik-puja/vivah-puja-thumb.jpg') %>"/>
			 <div>Vivah Puja</div>
			 <div class="s-img"><img width="10" height="10" src="<%= asset_path('arrow-diagonal.png') %>"/></div>
			 <div class="clr"></div>			
		 </a>
</div>
<div class="puja-type-div">
		 <a href="/puja/mundan_puja">
			 <img src="<%= asset_path('dharmik-puja/mundan-puja.jpg') %>"/>
			 <div>Mundan Puja</div>
			 <div class="s-img"><img width="10" height="10" src="<%= asset_path('arrow-diagonal.png') %>"/></div>
			 <div class="clr"></div>			
		 </a>
</div>
<div class="puja-type-div">
		 <a href="/puja/pinda_dan_puja">
			 <img src="<%= asset_path('dharmik-puja/Pind-Dan-puja.jpg') %>"/>
			 <div>Pind Dan Puja</div>
			 <div class="s-img"><img width="10" height="10" src="<%= asset_path('arrow-diagonal.png') %>"/></div>
			 <div class="clr"></div>			
		 </a>
</div>
<div class="puja-type-div">
		 <a href="/puja/mahamrutunjaya_jap">
			 <img src="<%= asset_path('dharmik-puja/Mahamrityunjaya.jpg') %>"/>
			 <div>Mahamrityunjaya Japa</div>
			 <div class="s-img"><img width="10" height="10" src="<%= asset_path('arrow-diagonal.png') %>"/></div>
			 <div class="clr"></div>			
		 </a>
</div>
<div class="puja-type-div">
		 <a href="/puja/gayatri_jap">
			 <img src="<%= asset_path('dharmik-puja/gayatri-thumb.jpg') %>"/>
			 <div>Gayatri Japa</div>
			 <div class="s-img"><img width="10" height="10" src="<%= asset_path('arrow-diagonal.png') %>"/></div>
			 <div class="clr"></div>			
		 </a>
</div>
<div class="puja-type-div">
		 <a href="/puja/yagya_health_wealth">
			 <img src="<%= asset_path('dharmik-puja/yagya-for-health-wealth.jpg') %>"/>
			 <div>Yagya For Health & Wealth</div>
			 <div class="s-img"><img width="10" height="10" src="<%= asset_path('arrow-diagonal.png') %>"/></div>
			 <div class="clr"></div>			
		 </a>
</div>
