

<div class="quick-div">

	<div id="quick-form">
		<div><h3>Please Fill Up Your Details to know about Muhurta:</h3></div>
		<hr/>
		<%= form_for(:contact, :url => {:controller => :site, :action => :contact_us}, :html => {:id => "contact_form"}, :remote => true) do |f| %>
				<div id="contact_errors">
				</div>
				<table width="100%" cellspacing="0" cellpadding="0">
						<tr class="field">
							<td><label class="n_label"><i>Name<em>*</em>:</i></label></td>
							<td><%= f.text_field :fname, :required => true, :class => "ip-field" %></td>
						</tr>
						<tr class="field">
							<td><label class="n_label"><i>Email<em>*</em>:</i></label></td>
							<td><%= f.email_field :email, :required => true, :class => "ip-field" %></td>
						</tr>
						<tr class="field">
							<td><label class="n_label"><i>Phone<em>*</em>:</i></label></td>
							<td><%= f.text_field :phone, :required => true, :class => "ip-field" %></td>
						</tr>
						<tr class="field">
							<td><label class="n_label"><i>Comment:</i></label></td>
							<td><%= f.text_area :comment,  :class => "ip-field" %></td>
						</tr>
						<tr class="field">
							<td>&nbsp;</td>
							<td style="text-align: right;padding-right: 25px;">
								<%= f.submit "Submit", :class => "btn btn_green", :id => "contact_submit" %>
								<%= image_tag("loader_small.gif", :id => "contact_loader", :style => "display:none;") %>
							</td>
						</tr>
				</table>
				<div class="clr"></div>
		<% end %>
	</div>
</div>

