<div>
	<h3>Safety</h3>
	<p>We do our best to keep Gurujiforpuja.com safe, but we cannot guarantee it. We need your help to keep Gurujiforpuja.com safe, which includes the following commitments by you: </p>
	<p>1. You will not engage in unlawful multi-level marketing, such as a Level scheme or Other Scheme, on Gurujiforpuja.com.</p>
	<p>2. You will not post unauthorized commercial communications (such as spam) on Gurujiforpuja.com.</p>
	<p>3. You will not collect users' content or information, or otherwise access Gurujiforpuja.com, using automated means (such as harvesting bots, robots, spiders, or scrapers) without our prior permission.</p>
	<p>4. You will not upload viruses or other malicious code.</p>
	<p>5. You will not solicit login information or access an account belonging to someone else.</p>
	<p>6. You will not bully, intimidate, or harass any user, Company.</p>
	<p>7. You will not post content that: is hating speech, threatening, or pornographic; incites violence; or contains nudity or graphic or gratuitous violence.</p>
	<p>8. You will not use Gurujiforpuja.com to do anything unlawful, misleading, malicious, or discriminatory.</p>
	<p>9. You will not do anything that could disable, overburden, or impair the proper working or appearance of Gurujiforpuja.com, such as a denial of service attack or interference with page rendering or other Gurujiforpuja.com functionality.</p>
	<p>10. You will not facilitate or encourage any violations of this Statement or our policies.</p>
</div>
<div>
	<h3>Registration and Account Security</h3>
	<p>Gurujiforpuja.com users/customers provide their real names and information, and we need your help to keep it that way. Here are some commitments you make to us relating to registering and maintaining the security of your account: </p>
	<p>1. You will not share your password (or in the case of developers, your secret key), let anyone else access your account, or do anything else that might jeopardize the security of your account.</p>
	<p>2. You will not create more than one personal account.</p>
	<p>3. You will not provide any false personal information on Gurujiforpuja.com, or create an account for anyone other than yourself without permission.</p>
	<p>4. If we disable your account, you will not create another one without our permission.</p>
	<p>5. You will keep your contact information accurate and up-to-date.</p>
	<p>6. You will not transfer your account (including any Page or application you administer) to anyone without first getting our written permission.</p>
	<p>7. If you select a username or similar identifier for your account or Page, we reserve the right to remove or reclaim it if we believe it is appropriate (such as when a trademark owner complains about a username that does not closely relate to a user's actual name).</p>
</div>
<div>
	<h3>Protecting Other People's Rights</h3>
	<p>We respect other people's rights, and expect you to do the same. </p>
	<p>1. We can remove any content or information you post on Gurujiforpuja.com if we believe that it violates this Statement or our policies.</p>
	<p>2. If we remove your content for infringing someone else's copyright, and you believe we removed it by mistake, we will provide you with an opportunity to appeal.</p>
	<p>3. You will not post content or take any action on Gurujiforpuja.com that infringes or violates someone else's rights or otherwise violates the law.</p>
	<p>4. If you repeatedly infringe other people's intellectual property rights, we will disable your account when appropriate.</p>
	<p>5. You will not post anyone's identification documents or sensitive financial information on Gurujiforpuja.com.</p>
	<p>6. You will not use our copyrights or trademarks (including Gurujiforpuja.com), or any confusingly similar marks, except as expressly permitted by our Brand Usage Guidelines or with our prior written permission.</p>
	<p>7. If you collect information from users, you will: obtain their consent, make it clear you (and not Gurujiforpuja.com) are the one collecting their information, and post a privacy policy explaining what information you collect and how you will use it.</p>
</div>
<div>
	<h3>Termination</h3>
	<p>If you violate the letter or spirit of this Statement, or otherwise create risk or possible legal exposure for us, we can stop providing all or part of Gurujiforpuja.com to you. We will notify you by email or at the next time you attempt to access your account. You may also delete your account or disable your application at any time.</p>
</div>
<div>
	<h3>Disputes</h3>
	<p>1. If anyone brings a claim against us related to your actions, content or information on Gurujiforpuja.com, you will indemnify and hold us harmless from and against all damages, losses, and expenses of any kind (including reasonable legal fees and costs) related to such claim. Although we provide rules for user conduct, we do not control or direct users' actions on Gurujiforpuja.com and are not responsible for the content or information users transmit or share on Gurujiforpuja.com. We are not responsible for any offensive, inappropriate, obscene, unlawful or otherwise objectionable content or information you may encounter on Gurujiforpuja.com. We are not responsible for the conduct, whether online or offline, or any user/Customer of Gurujiforpuja.com. </p>
	<p>2. WE TRY TO KEEP GURUJIFORPUJA.COM UP, BUG-FREE, AND SAFE, BUT YOU USE IT AT YOUR OWN RISK. WE ARE PROVIDING GURUJIFORPUJA.COM AS IS WITHOUT ANY EXPRESS OR IMPLIED WARRANTIES INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. WE DO NOT GUARANTEE THAT GURUJIFORPUJA.COM WILL ALWAYS BE SAFE, SECURE OR ERROR-FREE OR THAT GURUJIFORPUJA.COM WILL ALWAYS FUNCTION WITHOUT DISRUPTIONS, DELAYS OR IMPERFECTIONS. GURUJIFORPUJA.COM IS NOT RESPONSIBLE FOR THE ACTIONS, CONTENT, INFORMATION, OR DATA OF THIRD PARTIES, AND YOU RELEASE US, OUR DIRECTORS, OFFICERS, MANAGERS EMPLOYEES, AND AGENTS FROM ANY CLAIMS AND DAMAGES, KNOWN AND UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH ANY CLAIM YOU HAVE AGAINST ANY SUCH THIRD PARTIES.</p>
</div>
<div>
	<%= render :partial => "site/payment_terms" %>
</div>