<div>
	<div class="left-link-panel">
		<%= render :partial => "layouts/left_link_panel"%>
	</div>
	
	<div class="right-panel-content">
			<p>Guruji for puja is a portal that provides an innovative and faster way to get a guruji for any type of puja. Here you can get information about all the pujas/vidhis that people do. Vastu Shanti, Griha-Pravesh, Marriage Rituals, Satya Narayan, Munj, Shradh and many more types of pujas and vidhis are perormed in indian culture for different occassions. Finding a Swami, Pandit or a Guruji for performing these rituals is often difficult for new people in metro cities. Guruji For Puja provides a unique and easy way for all to get an experienced, and well known gurujis in your town.	</p>

			<script>
					$(function() {
					    $( "#tabs" ).tabs();
					});
					
					$('.carousel').carousel();
		  	</script>
		<div class="about-guruji-div">		
			<div id="tabs">
				<ul>
						<li><a href="#opening_tab">Opening Ceremony</a></li>
				    <li><a href="#team_tab">Our Team</a></li>
				    <li><a href="#panel_tab">Panel</a></li>
				    <li><a href="#guruji_info_tab">Guruji's with Us</a></li>
				    
				</ul>

					<div id = "opening_tab" >
				
						<div id="openingCarousel" class="carousel slide fl" style = "width:600px;"> 
							<!-- Carousel items -->
							<div class="carousel-inner">
								<div class="active item"><img alt="Guruji for Puja Opening Ceremony by Swami Govind Dev Giriji" src= "<%= asset_path('opening_ceremony/1.JPG')%>"></div>
								<div class="item"><img alt="Guruji for Puja Opening Ceremony by Swami Govind Dev Giriji"  src= "<%= asset_path('opening_ceremony/2.JPG')%>"></div>
								<div class="item"><img alt="Guruji for Puja Opening Ceremony by Swami Govind Dev Giriji"  src= "<%= asset_path('opening_ceremony/3.JPG')%>"></div>
								<div class="item"><img alt="Guruji for Puja Opening Ceremony by Swami Govind Dev Giriji"  src= "<%= asset_path('opening_ceremony/4.JPG')%>"></div>
							</div>
							<!-- Carousel nav -->
							<a class="carousel-control left" href="#openingCarousel" data-slide="prev" style="color: white;">&lsaquo;</a>
							<a class="carousel-control right" href="#openingCarousel" data-slide="next" style="color: white;">&rsaquo;</a>
						</div>
						<div class = "fl" style="padding-left: 10px;">
							<h3 class = "maroon">Opening Ceremony by Swami Govind Dev Giriji (Kishorji Vyas Maharaj)</h3>
							<p>
								11 December 2012,Pune
								Gurujiforpuja.com is an India -based online portal for viewing a muhurata, getting a guruji for puja/vidhi , getting puja samagri and lot more. Gurujiforpuja.com is releasing a Beta version of portal that makes hosts to find guruji for puja/vidhi and above said features with ease and convenience.
							</p>
							<p>
								The portal was launched by the hands of <b>Swami Govind Dev Giriji (Kishorji Vyas Maharaj)</b> in the presence of  <b>Hon.Shri Subhash Jagtap (sabhagruh neta PMC)</b>, <b>Shri. B K Pate ,Shri. Pramod Wani (Director, Pate Developers)</b>,
	 <b>Adv. Shalinitai Dabir.</b>
							</p>
						</div>
						<div class = "clr"></div>
					</div>


					<div id = "team_tab">
						<div class="guruji-team-info">
							<div class="team-title">Our Team</div>
								<div class="team-info-div">
										<p>
											<img style="float:left; margin: 0px 5px 5px 0px;" alt="Guruji for puja team member" src="<%= asset_path('profile-pics/prashant-chaudhari.jpg') %>" class = "circle">
											<strong>Prashant Chaudhari</strong><br/>
											<span>Graduated (as B.Tech.I.T) <br/>from College Of Engineering Pune (COEP) in 2010.</span>
										</p>
										<span>
											Passionate Programmer, Enthusiast.Ruby on Rails Developer, Quick Learner.
											In his short career of 2 and half years, 
											he has mastered web frameworks like ROR, Java, Adobe Flex, NodeJS.
											<strong>Winner of Hackathon</strong> an event by Cloud foundry open tour,Pune.
										</span>
								</div>
		
							<div class="team-info-div">
									<p>
										<img style="float:left; margin: 0px 5px 5px 0px;" alt="Guruji for puja team member" src="<%= asset_path('profile-pics/Akshay-Nahar.jpg') %>" class = "circle">
										<strong>Akshay Nahar</strong><br/>
										<span>Graduated ( as BE Comp)<br/> from VIIT,Pune in 2012.</span>
									</p>
									<br/>
									<span>
										His lead role lies in management.
										He has been the General Secretary for Vishwakarma Institutes,Pune.
										He is a good social worker as well.
										He has been <strong>awarded several times for his excellent management skills and social work</strong> as well.
									</span>
							</div>
		
							<div class="team-info-div" style="margin-right:0px;">
									<p>
										<img style="float:left; margin: 0px 5px 5px 0px;" alt="Guruji for puja team member" src="<%= asset_path('profile-pics/Niket-Puranik.jpg') %>" class = "circle">
										<strong>Niket Puranik</strong><br/>
										<span>Graduated (as BE Comp)<br/> from VIIT,Pune in 2012.</span>
									</p>
									<br/>
									<span>
										Excellent at building the Overall  System Architecture(end to end solutions).
										He has excelled in learning and mentoring for C and Java.
										Along with this he is an <strong>enthusiast ROR developer</strong>.
									</span>
							</div>
		
							<div class="team-info-div">
									<p>
										<img style="float:left; margin: 0px 5px 5px 0px;" alt="Guruji for puja team member" src="<%= asset_path('profile-pics/puja-burande.jpg') %>" class = "circle">
										<strong>Puja Burande</strong><br/>
										<span>Post Graduated (as MCA,Computer Science)<br/> from Modern College,Pune in 2012.</span>
									</p>
									<br/>
									<span>
										She loves playing with HTML and scripts 
										Her speciality lies in developing good UI/UX.
										She also excels in ROR development.
									</span>
							</div>
							<div class="clr"></div>
						</div>
					</div>
	
					<div id = "panel_tab">
						<div class="team-title">Our Panel</div>
							<div class="team-info-div1">
								<!--
								<p>
									<img style="margin: 0px 5px 5px 0px;" alt="Guruji for puja Panel member Subhash Jagtap" src="<%= asset_path('profile-pics/subhash-jagtap.jpg') %>"><br/>
									<strong>Subhash Jagtap </strong><br/>
								</p>
								<p>
									<img style="margin: 0px 5px 5px 0px;" src="<%= asset_path('profile-pics/sumit-shevtekar.jpg') %>"><br/>
									<strong>Sumit Shevtekar</strong><br/>
								</p>
								-->
								<p>
									<img style="margin: 0px 5px 5px 0px;" alt="Guruji for puja Panel member Shalinitai Dabir" src="<%= asset_path('profile-pics/Advocate-Shalinitai-Dabir.jpg') %>"><br/>
									<strong>Adv. Shalinitai Dabir</strong><br/>
								</p>
								<div class="clr"></div>
							</div>
						</div>
		
					<div id = "guruji_info_tab">
							<div class="guruji-info">
								<div class="team-title">Guruji's With Us</div>
									<div class="guruji-info-div">
										<p>
										<img style="float:left;margin: 0px 5px 0px 0px;" alt="Guruji's of Guruji for puja Manoj Kapare" src="<%= asset_path('profile-pics/guruji-photo/manoj-kapare-guruji.jpg') %>">
										<strong>VEDMURTI SHRI MANOJ KAPARE GURUJI</strong><br/>
										<b>Kapare Guruji</b> has been practicing astrology since 2000 and giving guidance to people from all walks of life for important events in their life such as Marriage, Buying Vehicle, Home, Change in Job, Starting new business, thread ceremony & Many more. </p>
										<p>ALL OVER INDIA,Thorough Vedic, Scientific & Logical explanation of the essence of important steps of Pooja.Interesting interactive method of performing Pooja in which the Hosts participate whole heartedly.Pooja in a very lively atmosphere filled with fun & humor which keeps everyone very much interested.
										</p>
										<div class="clr"></div>
									</div>
							</div>
					</div>

						<div class="clr"></div>
					</div>
				</div>
			</div>
		<div class="clr"></div>
</div>
