<script type='text/javascript'>

	$(document).ready(function() {
		getDailyEvents();
	});
	
	
	function getDailyEvents(){
		var hash = {};
		jsonRequest("/get_daily_events",hash,get_daily_events_success,get_daily_events_failed);
	}
	
	function apply_data(events){
		var events_data = [];
		for(var i = 0; i < events.length; i++){
			var event_data = {};
			event_data["title"] = events[i].name;
			
			var d1 = Date.parse(events[i].from_time);
			var from_time = new Date(d1);
			
			var d2 = Date.parse(events[i].to_time);
			var to_time = new Date(d2);
			
			//event_data["start"] = new Date(from_time.getYear(),from_time.getMonth(),from_time.getDate(),from_time.getHours(),from_time.getMinutes());
			
			//event_data["end"] = new Date(to_time.getYear(),to_time.getMonth(),to_time.getDate(),to_time.getHours(),to_time.getMinutes());
			
			event_data["start"] = from_time;
			event_data["id"] = events[i].id;
			event_data["description"] = escape(events[i].description);
			event_data["url"] = events[i].url;
			event_data["end"] = to_time;
			event_data["allDay"] = false;
			events_data.push(event_data);

		}
		
		$('#calendar').fullCalendar({
			changeViewCallback: viewChanged,
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
			editable: true,
			events: events_data
		});
		
		$(".fc-widget-content").on("click",function(){
			if($(this).hasClass("fc-other-month")){
			}else{
				var date = $(this).find(".fc-day-number").html();
				var month = $(".fc-header-title h2").html();
				var d = new Date(date+" "+month);
				var date_string = d.getDate() + "-" + (d.getMonth()+1) + "-" + d.getFullYear();
				var url_with_date = "/booking/new_booking?prefered_time="+date_string; 
				//alert(url_with_date);
				$("#link_booking_colorbox").attr("href",url_with_date);
				$("#link_booking_colorbox").colorbox({
					open:true
				});
			}
		});
		
		viewChanged();
	}
	
	function viewChanged(){
		$("a[rel='muhurta_colorbox']").colorbox(booking_colorbox_hash);
		
		$("div[rel='muhurta_colorbox']").colorbox(booking_colorbox_hash);
		
		$("#link_booking_colorbox").colorbox(booking_colorbox_hash);
		
		jQuery(".fc-event-inner").popover(pop_options_hash);
	}
	
	function get_daily_events_success(response){
		if(response.success){
			var events = JSON.parse(response.events);
			apply_data(events);
		}else{
			var events = [];
			apply_data(events);
		}
	}
	
	function get_daily_events_failed(response){
		alert("Failed to get daily events!");
	}

</script>
<style type='text/css'>
	#calendar {
		width: 900px;
		margin: 0 auto;
	}
</style>
<div id='calendar'></div>
<a href="/booking/new_booking" style="display:none;" id="link_booking_colorbox"></a>
<script type='text/javascript'>
	$(document).ready(function() {
		$("#link_booking_colorbox").colorbox(booking_colorbox_hash);
	});
</script>	
