$("#contact_loader").hide();
$("#contact_submit").show();
<% if @success %>
	$("#feedback_form_div").html("Thank you for submitting your feedback.");
<% else %>
	$("#contact_errors").html("<%= escape_javascript(render :partial => 'layouts/errors', :locals => {:target => @contact}) %>");
<% end %>
