<div style="padding:10px;">

	<div><h2>CONTACT US</h2></div>
	<hr style="margin:0px;border:2px solid #999"/><br/>
	<!--
		<div class="guruji_map_div">
			<div>
				<iframe width="400" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=211676226295627317240.0004d01ae839c8bb9fedc&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=18.471998,73.857522&amp;spn=0.019538,0.027466&amp;z=15&amp;iwloc=0004d01aed4b0652590ba&amp;output=embed"></iframe>
			</div>
		</div>
	-->
	<div class="guruji-contact-form-div">
		<div class="guruji-address-div">
			<div>
				
				<strong>Address</strong><br/>
				Gurujiforpuja,<br/> 
				N-101, Plot No B,<br/> 
				Dnyaneshwar Hsg Soc.,<br/> 
				Pune Satara Road.Padmavti.<br/>
				Pune. Maharashtra. India 43.
			</div>
			<br/>
			<div>
				<strong>Call us :</strong>
				+(91) 9767697369
			</div>
			<br/>
			<div>		
				<strong>Email us :</strong>
				<a href="mailto:admin@truespider.com">info@gurujiforpuja.com</a>
			</div>
		</div>
		<div class="guruji-contact-form">
			<%= render :partial => "contact_form" %>

		</div>
		<div class="clr"></div>
	</div>
	<div class="clr"></div>
</div>
<script type="text/javascript">
		add_ajax_loader_event("contact_form","contact_loader","contact_submit");
		$("#contact_phone").ForceNumericOnly(10);
</script>
