<div class="home_div">
	<div>
		
		<div class="left-link-panel">
			<%= render :partial => "layouts/left_link_panel"%>
		</div>
		
		<div class="right-panel-content">
			<div><h2>FAQ's About Puja's</h2></div>
			<hr style="margin:0px;"/>
			
			<div class="guruji-faq-page">
			
				<div class="faq-qa-div">
					<div class="faq-question">
						Q.1. What is a Pooja, Homa and Havan?
					</div>
					<div class="faq-answer">
						<p><b>Ans : </b>As per hindu mythology we beleive to do any holy thing (such as pooja, havan) before the start of any good work. Even we beleive that there is Vaastu devata who stays at your house.</p>
						<p> Hence people believe to do vaastu pooja i.e. Griha Pravesh Puja (ceremony performed on the occasion of one's first entry into a new house)  at their newly made home. The reason behind this is just they want the blessing of Vasstu devata thought their time till they reside in that home.</p>
					</div>
				</div>
				
				<div class="faq-qa-div">
					<div class="faq-question">
						Q.2. What is the meaning of AUM or OM?
					</div>
					<div class="faq-answer">
						<p><b>Ans : </b>"Om" is the most sacred syllable often spoken during the practice of any Hindu rites. It is a holy character of the Sanskrit language, the language of God. The character is a composite of three different letters of the Sanskrit alphabet. The English equivalent of those are "a", "u", and "m", and represent the Trinity.</p>
						<p> The Trinity is composed of the three supreme Hindu Gods: Brahma, the creator, Vishnu, the preserver, and Shiva, the destroyer. These three letters when pronounced properly in unison create an invigorating effect in the body. Because of its significance this sacred syllable is spoken before any chants to show God we remember him. This sign in Hinduism also represents the whole universe.  </p>
						<p>Om is also known to be the sound from which this whole universe is created. It is called 'Pranavam' in sanskrit, meaning the beginning of new universe. </p>
						<p>The word AUM is created by the God. This is having a lot of Scenitific Significance. Chanting AUM in a rythmic way can destroy the so many bad elements in the Body and in the Mind. That is the reason AUM is used in the treatment of deseases using the Pranayama Techiniques. Not only this all the Hindu Beliefs (or what ever u call) are having Scentific Signifcance along with the Spiritual Significance.  </p>
					</div>
				</div>
				
				<div class="faq-qa-div">
					<div class="faq-question">
						Q.3. What is the significance of Swastika?
					</div>
					<div class="faq-answer">
						<p><b>Ans : </b>Swastika is regarded as a divine sign by Hindus. The word swastika means auspicious in the Sanskrit language and hence is used to symbolize the welcoming of auspiciousness and driving away evils. </p>
						<p> The symbol also represents the changing of the universe around the unchanging nature of God. </p>
					</div>
				</div>
				
				<div class="faq-qa-div">
					<div class="faq-question">
						Q.4. What is Japa?
					</div>
					<div class="faq-answer">
						<p><b>Ans : </b>Japa is the repetition of a mantra. This is done by counting the beads of a rosary (Japa-mala) or the divisions of fingers.</p>
						<p> There are three kinds of japa: <br/>
						1. mantra is audibly repeated,<br/>
						2. There is no audible sound, but only the movements of lips, and<br/>
						3. Repetition is purely mental.</p>
						<p>Gita says that of all yajnas (sacrifices) japa-yajna is the highest. In other yajnas a man sacrifices something else, but in japa-yajna he sacrifices his own self and becomes the self of-the Devata whom he worships.</p>
					</div>
				</div>
				
				<div class="faq-qa-div">
					<div class="faq-question">
						Q.5. What is Mantra?
					</div>
					<div class="faq-answer">
						<p><b>Ans : </b>A mantra is an embodiment in sound of a particular Devata.
It is not a mere formula. Nor is it a magic spell. It is the Devata Himself or Herself. And so, when a mantra is repeated with concentration of mind and the worshipper makes an effort to identify him with the worshipped, the power of the Devata comes to his help.</p>
						<p> Human power is thus. Supplemented by the divine power. A prayer is different from the repetition of a mantra. It is a purely human effort. Prayers may be offered in any language and in any form.</p>
						<p>But a mantra, being an embodiment of a Devata in sound, has to be repeated in that form alone in which it first revealed itself to the mind of a Rishi. It is not to be learnt from books, but from the living voice of a Guru who gives the Upadesa or initiation. </p>
						<p>And it has for its aim the gradual transformation of the worshipper into the likeness of the worshipped. Therefore the more worshipper advances in his/her japa the less is he himself/ she herself and more does she/he partake of the nature and wield the powers of the Devata.
</p>
					</div>
				</div>
				
				<div class="faq-qa-div">
					<div class="faq-question">
						Q.6. Why do we say Namaskar when We meet each other?
					</div>
					<div class="faq-answer">
						<p><b>Ans : </b>To greet another person a friend or acquaintance, to pay respect to an elder, a holy person or a temple deity or a Hindu joins his or her hands with palms together, bows down in front of the other person, and says Namaskar, Namaste, or Pranam - meaning Reverent Salutations.</p>
						<p> In Hindu view, Brahman dwells in the heart of each being as the individual self. The joining of hands symbolizes the idea that in the meeting of two persons, the Self actually meets Itself. Joining hands also symbolizes humility.</p>
						<p>Thus when a Hindu joins his hands and says namaskar, he actually says in humility, "I bow to God in you; I love you and I respect you, as there is no one like you."</p>
					</div>
				</div>
				
				<div class="faq-qa-div">
					<div class="faq-question">
						Q.6. Why do we say Namaskar when We meet each other?
					</div>
					<div class="faq-answer">
						<p><b>Ans : </b>To greet another person a friend or acquaintance, to pay respect to an elder, a holy person or a temple deity or a Hindu joins his or her hands with palms together, bows down in front of the other person, and says Namaskar, Namaste, or Pranam - meaning Reverent Salutations.</p>
						<p> In Hindu view, Brahman dwells in the heart of each being as the individual self. The joining of hands symbolizes the idea that in the meeting of two persons, the Self actually meets Itself. Joining hands also symbolizes humility.</p>
						<p>Thus when a Hindu joins his hands and says namaskar, he actually says in humility, "I bow to God in you; I love you and I respect you, as there is no one like you."</p>
					</div>
				</div>
				
				<div class="faq-qa-div">
					<div class="faq-question">
						Q.7. Why is saffron color considered auspicious?
					</div>
					<div class="faq-answer">
						<p><b>Ans : </b>The saffron colour is considered auspicious by Hindus. This color has a special significance to the Buddhists, Jains and Sikhs. Among the Sikhs it is considered to be a militant colour signifying a fight against injustice.</p>
						<p>Saffron coloured triangular flag is considered to be a religious symbol.. This flag is seen flying atop temples (Mandirs) and Gurudwaras.
Buddhist bhikkus (monks living upon alms) always where saffron coloured robes. </p>
						<p>But among the Hindus this color is most prominently visible in their flag, robes, the Tilaka (mark applied on the forehead), statues of Hindu Gods are daubed with saffron paste. In the diverse and multifaceted Hindu religion, the saffron colour is one of the few elements that commands a universal acceptance among Hindus.</p>
						<p>The saffron pigment is traditionally derived from the saffron plant (Autumn crocus) which is called Keshar from which the saffron colour derives one of its names - Keshari. This plant is grown in the sub-Himalayan regions and is very rare. </p>
					</div>
				</div>
				
				<div class="faq-qa-div">
					<div class="faq-question">
						Q.8. Why do we apply a mark on our forehead?
					</div>
					<div class="faq-answer">
						<p><b>Ans : </b>The Tilaka is normally a vermilion mark applied on the forehead. This mark has a religious significance and is a visible sign of a person as belonging to the Hindu religion. The Tilaka is of more than one color although normally it is vermilion.</p>
						<p> It also does not have any standard shape and form and is applied differently by members of different Hindu sects and subsects. It is applied as a 'U' by worshippers of lord Vishnu and is red, yellow or saffron in colour. It is made up of red ochre powder (Sindhura) and sandalwood paste(Gandha).Worshippers of lord Shiva apply it as three horizontal lines and it consists of ash (Bhasma). Soot (Abhira) is also used as a pigment for applying a Tilaka.</p>
						<p>Literally, Tilaka means a mark. Sindhura which is also used to describe a Tilaka means red and Gandha which is also a term for Tilaka means pleasant odour. Hence, Tilaka normally connotes, a red mark with a pleasant odour. Some scholars have seen the red colour as a symbolism for blood. We are told that in ancient times, in Aryan society, a groom used to apply his blood, on-his bride's forehead as a recognition of wedlock. The existing practice among Indian women of applying a round shaped red Tilaka called Bindiya or Kumkum could be a survival of this. </p>
						<p>There are a couple more explanations for why Hindus apply the "tilak" mark on their foreheads. A spiritual explanation is that the "tilak" symbolises the third eye that we believe in. A practical explanation is that the "tilak" is a way to draw attention to the eyes which in traditional Indian culture have been very strongly associated with beauty.</p>
					</div>
				</div>
				
				<div class="faq-qa-div">
					<div class="faq-question">
						Q.9. Why do we light a lamp, burn camphor and perform Aarti?
					</div>
					<div class="faq-answer">
						<p><b>Ans : </b>Having worshipped the Lord with love, lit by the lamp we see the beauty of the Lord in all his glory. The singing, clapping is associated with the joy that accompanies the vision of the Lord. Aarti being performed with Camphor has a spiritual significance. Camphor burns itself out completely without leaving a trace. </p>
						<p> Camphor represents our Vasanas, unmanifest desires. So also if we were to take refuge in the Lord, obtain knowledge, these desires will get burnt out. Although the camphor burns itself out, it emits a nice perfume. On a human plane it means that we should sacrifice ourselves to serve society, in the process spread the perfume of love and happiness to all.</p>
						<p>We close our eyes while performing the Aarti as if to look within. The Self or Atman is within us. . Self realization can be achieved by knowing thyself, with the flame of knowledge. At the end of the aarti we place the hands over the flame and touch our eyes and top of the head. It means that may the light that illumined the Lord light up my vision, may my thoughts be pure and beautiful.</p>
						<p>With the Aarti comes the flame which signifies light. There can be light in our lives only if we have knowledge. In an era of darkness there would be ignorance, we would be perpetually running to fulfill our vasanas resulting in unhappiness and stress all around.</p>
					</div>
				</div>
				
				<div class="faq-qa-div">
					<div class="faq-question">
						Q.10. Why do we chant Shaanti three times at the end of the prayer?
					</div>
					<div class="faq-answer">
						<p><b>Ans : </b>To invoke peace, at a mental and physical plane, Hindus chant prayers. These prayers always end with three chants of invocation, "Shaanti, Shaanti, Shaanti" or "Peace, Peace Peace" chant prayers. These prayers spoken in sincerity, gives peace of mind. But, why chat Shaanti three times? </p>
						<p> The three repetitions are addressed to three groups into which all obstacles can be classifies -<br/>
							1. Cosmic ( God sent ) or Heavenly - From Nature, the thermic or dynamic forces such as wreaths from unknown objects earthquake, lightning, excessive rain, cold. In Sanskrit, this is called Aadhi Daivika.<br/>
							2. Phenomenal or cruelties from From objects like floods, fire, robbers, wild beasts, objects known to us. environmental disturbances like human foes, etc. In Sanskrit, this is called Aadhi Bhautika<br/>
							3. Purely subjective ie created Body ailments, inertia, insincerity, lack of concentration, from our own selves - obstacles agitation of mind, disturbances arising from our own arising from our own mind, body negative thoughts. and intellect. In Sanskrit, this is called Adhyatmika.
						</p>
					</div>
				</div>
				
			</div>
		</div>
		<div class="clr"></div>
	</div>
</div>
