$("#<%= @location_select_id %>").html("<%= escape_javascript(render(:partial => "layouts/option", :as => :option, :collection => @locations)) %>");

$("#<%= @location_select_id %>").val("<%= @location_id %>").attr('selected',true);
