<div>
	<div class = "fl width20">
		<div class = "box" style="padding:10px;">
			<%= image_tag((@guruji.photo.url rescue asset_path('ganpati.png')) , :style => "width:200px;") %><br><br>
			<%= @guruji.name %><br/><br/>
		</div>
		<% if @guruji.offered_services %>
			<div class = "box">		
					<b>Offered Services:</b><br/><br/>
					<div class = "scroller">
						<ul style = "list-style-type: disc; padding-left: 15px;">
							<% @guruji.offered_services.split("|").collect{ |x| %>
								<li><%= x %></li>
							<% } %>
						</ul>
					</div>
			</div>
		<% end %>
	</div>
	<div class = "fl width40">
		<div class = "box">
			<% if not @guruji.images.empty? %>
				<div id="guruji_carousel" class="carousel slide">
					<div class="carousel-inner">
						<% @guruji.images.each_with_index do |image,index| %> 
							<div class="item <%= index == 0 ? 'active':'' %>">
								<%= image_tag((image.url(:large) rescue asset_path('ganpati.png')), :height => '300px', :width => '475px') %>
							</div>
						<% end %>	
					</div>
					<a class="carousel-control left" href="#guruji_carousel" data-slide="prev">&lsaquo;</a>
					<a class="carousel-control right" href="#guruji_carousel" data-slide="next">&rsaquo;</a>
				</div>
			<% end %>
		</div>
		<div>
			<% if @guruji.offered_pujas? %>
				<div class = "box fl width40">		
					<b>Offered Pujas:</b><br/><br/>
					<div class = "scroller">
						<ul style = "list-style-type: disc; padding-left: 15px;">
							<% Puja.where(:id => (@guruji.offered_pujas.split("|") rescue [])).collect{ |x| %>
									<li> <%= x.name %></li>
							<% } %>
						</ul>
					</div>
				</div>
			<% end -%>
			<% if @guruji.locations %>
				<div class = "box fl width40">	
					<b>Locations:</b><br/><br/>
						<div class = "scroller">
							<ul style = "list-style-type: disc; padding-left: 15px;">
								<% Location.where(:id => (@guruji.locations.split("|") rescue [])).collect do |x|  %>
									<li><%= x.name %></li>
								<% end %>
							</ul>
						</div>
				</div>
			<% end -%>
			<div = "clr"></div>
		</div>
	</div>
	<div class = "fl width40">
		<div class = "box">
			<b>About <%= @guruji.name %></b><br/><br/> 
			<%= @guruji.description.html_safe rescue '-' %><br/><br/>
		</div>
		<div class = "box">
			<b>Experience</b><br/><br/> 
			<%= @guruji.experience.html_safe rescue '-' %><br/><br/>
		</div>
		<div class = "box">
			<b>Video</b><br><br>
		  	<div id = "div_videos">
		  		<% @guruji.videos.each do |video| %>
			  		<%= render :partial => "videos/snap", :locals => { :video => video} %>
			  	<% end -%>	
		  	<div class = "clr"></div>	
		  	</div>
		</div>
	</div>
	<div = "clr"></div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		<% if not @guruji.images.empty? %>
			$('#guruji_carousel').carousel();
		<% end %>	
	});
</script>
