<div class="home_div"> 
		<div class="left-link-panel">
			<%= render :partial => "layouts/left_link_panel"%>
		</div>
		
		<div class="right-panel-content" >
				<div class="home-cotent-div-left">
						<h3>About Guruji For Puja</h3>
						<p>Guruji for puja is a portal that provides an innovative and faster way to get a guruji for any type of puja. Here you can get information about all the pujas/vidhis that people do. Vastu Shanti, Griha-Pravesh, Marriage Rituals, Satya Narayan, Munj, Shradh and many more types of pujas and vidhis are performed in indian culture for different occassions. Finding a Swami, Pandit or a Guruji for performing these rituals is often difficult for new people in metro cities.  Guruji For Puja provides a unique and easy way for all to get an experienced, and well known gurujis in your town.
					  </p>
				</div>
				<div class="home-content-div-right">
					<%= render :partial => "booking/quick_form" %>
				</div>
				<div class="clr"></div>
				<br/>
				
				
				<div class = "top_guruji_and_events_div">
					<div class="upcoming-puja-div">
						<div><h3>Our Top Suggestions</h3></div>
						<hr style="margin:3px 0px; border:1px dotted #999;">
						<ul id="top_guruji_carousel" class="jcarousel-skin-tango">
							<% @top_guruji.each do |guruji| %>
								<%if guruji.approved %>
									<li>
										<a class="maroon" href="<%= guruji_details_path(guruji) %>">
											<%= image_tag((guruji.photo.url(:small) rescue asset_path('ganpati.png'))) %>
											<br/>
											<span style = "margin:4px;font-size:13px;"><%= guruji.name %></span>
										</a>
									</li>
								<% end -%>
							<% end %>
						</ul>
					</div>
					<div class="upcoming-puja-div">
						<div><h3>Events</h3></div>
						<hr style="margin:3px 0px; border:1px dotted #999;">
						Comming soon...
					</div>					
					<div class="clr"></div>	
				</div>
				<div class="testimonial-div">
					<div><h3>What people say about us</h3></div>
					<hr style="margin:3px 0px; border:1px dotted #999;">
					
					<div class = "video">
						<div class = "video_thumbnail">
								<a href="http://www.youtube.com/embed/YX7Fb2cFDVc?rel=0" title="Our first puja experience" rel="video_colorbox">
								<img title="Our first puja experience" src="<%= asset_path('testimonial/testimonial_1_Akash_Gaikwad.png') %>"><br/>
						</div>
						<div class = "video_explanation">
							<strong>
									Our first puja experience from the words of Mr. Akash Gaikwad.
							</strong>
							</a>
						</div>
						<div class = "clr"></div>
					</div>
					<div class = "video">
						<div class = "video_thumbnail">
						
							<a href="http://www.youtube.com/embed/g10WA1UQ86w?rel=0" title="Satyanarayan puja experience" rel="video_colorbox">
								<img title="Satyanarayan puja experience" src="<%= asset_path('testimonial/testimonial_2_Jayant_jesthe.png') %>"><br/>
							</div>
							<div class = "video_explanation">
									<strong>
										Satyanarayan puja experience from Mr. Jayant
									</strong>
								</a>
							</div>
							<div class="clr"></div>						
					</div>
					<div class="clr"></div>
				</div>
				<div class = "clr"></div>
		</div>
		
</div>

<script>
function top_guruji_carousel_initCallback(carousel)
{
    // Disable autoscrolling if the user clicks the prev or next button.
    carousel.buttonNext.bind('click', function() {
        carousel.startAuto(0);
    });

    carousel.buttonPrev.bind('click', function() {
        carousel.startAuto(0);
    });

    // Pause autoscrolling if the user moves with the cursor over the clip.
    carousel.clip.hover(function() {
        carousel.stopAuto();
    }, function() {
        carousel.startAuto();
    });
};


	$(document).ready(function($){
		$("a[rel='booking_colorbox']").colorbox(booking_colorbox_hash);
		$("a[rel='video_colorbox']").colorbox(video_colorbox_hash);
		
		jQuery('#top_guruji_carousel').jcarousel({
        auto: 2,
        scroll: 1,
        visible: 4,
        wrap: 'last'
    });

	});
	
	if(window.opener) {
    window.opener.location.reload(true);
    window.close();
  }
</script>
