<div>
	<div class="left-link-panel" style="">
		<%= render :partial => "layouts/left_link_panel"%>
	</div>
	<% @plans.each do |plan| %>
		<% if plan.active %>
			<div class = "plan_div" >
				<div class = "plan_title">
					<td><%= plan.name %></td>
				</div>
				<div class = "plan_body">
					<ul>
						<li>Listing in guruji’s section on portal.</li>
						<li>Upload <%= plan.photos_limit %> photos.</li>
						<li>Select any <%= plan.cities_limit > 1 ? "#{plan.cities_limit} cities" : "1 city" %> amongst our listing cities</li>
						<li>Select any <%=plan.locations_limit %> sub-areas in the city opted</li>
						<li>Select any <%= plan.services_limit > 1 ? "#{plan.services_limit} services" : "1 service" %>  [Astrology, Palmist, Numerology, Horoscope, Vastu Shastra, Kundali/Patrika] ETC.</li>
						<li>Create your customized profile</li>
					</ul>	
				</div>
			</div>
		<% end -%>
	<% end %>
	<div class = "clr"></div>

</div>
