<script>
	jQuery(document).ready(function($){
		jQuery(".left-panel ul li a").click(function(){
			jQuery(".left-panel ul li a").removeClass('active');
			jQuery(this).addClass('active');
			var panel_id = $(this).attr('rel');
			jQuery(".panel_content").hide();
			jQuery("#"+ panel_id).show();
		});
	});
</script>


<div>
	<div class="left-panel">
			<ul style="list-style:none;">
					<li><a href="javascript:void(0);" rel="dharmik-puja" class="active">Dharmik Puja's</a></li>
					<li><a href="javascript:void(0);" rel="puja-samagri">Puja Samagri</a></li>					
			</ul>
	</div>
	
	<div class="right-panel">
			<div class="panel_content" style="display:block" id="dharmik-puja">
				<%= render :partial => "pujas/list" %>
				<div class="clr"></div>
			</div>
			<div class="panel_content" style="display:none" id="puja-samagri">
					<div class="samagri-div">
							<img alt="Puja Thali" title="Puja Thali"  src="<%= asset_path('puja-samagri/pooja-thali.jpg') %>"/>
							<div>Puja Thali</div>
					</div>
					<div class="samagri-div">
							<img title="Chaurang" alt="Chaurang" src="<%= asset_path('puja-samagri/Chaurang.jpg') %>"/>
							<div>Chaurang</div>
					</div>		
					<div class="samagri-div">
							<img title="Kalash" alt="Kalash" src="<%= asset_path('puja-samagri/kalash.jpg') %>"/>
							<div>Kalash for Pooja</div>
					</div>		
					<div class="samagri-div">
							<img title="Tamhan" alt="Tamhan" src="<%= asset_path('puja-samagri/Tamhan.jpg') %>"/>
							<div>Tamhan</div>
					</div>		
					<div class="samagri-div">
							<img title="Pali Panchpatra" alt="Pali Panchpatra" src="<%= asset_path('puja-samagri/Tamhan.jpg') %>"/>
							<div>Pali Panchpatra</div>
					</div>		
					<div class="samagri-div">
							<img title="Niranjan" alt="Niranjan" src="<%= asset_path('puja-samagri/Niranjan_Ghee.jpg') %>"/>
							<div> Niranjan</div>
					</div>		
					<div class="samagri-div">
							<img title="Pancharati" alt="Pancharati" src="<%= asset_path('puja-samagri/Pancharati.jpg') %>"/>
							<div>Pancharati</div>
					</div>		
					<div class="samagri-div">
							<img title="Kapur Aarti" alt="Kapur Aarti" src="<%= asset_path('puja-samagri/camphor_diya_small.jpg') %>"/>
							<div>Kapur Aarti</div>
					</div>		
					<div class="samagri-div">
							<img title="Samai" alt="Samai" src="<%= asset_path('puja-samagri/Samai_2.jpg') %>"/>
							<div>Samai</div>
					</div>		
					<div class="samagri-div">
							<img title="Coconut" alt="Coconut" src="<%= asset_path('puja-samagri/coconut.jpg') %>"/>
							<div>Coconut</div>
					</div>		
					<div class="samagri-div">
							<img title="Janve Jod" alt="Janve Jod" src="<%= asset_path('puja-samagri/janave.jpg') %>"/>
							<div>Janve Jod</div>
					</div>		
					<div class="samagri-div">
							<img title="Ghanta" alt="Ghanta" src="<%= asset_path('puja-samagri/bell.jpg') %>"/>
							<div>Ghanta</div>
					</div>		
					<div class="samagri-div">
							<img title="Shankha" alt="Shankha" src="<%= asset_path('puja-samagri/Shankh.jpg') %>"/>
							<div>Shankha</div>
					</div>					
					<div class="samagri-div">
							<img title="Moli" alt="Moli" src="<%= asset_path('puja-samagri/moli.jpg') %>"/>
							<div>Moli</div>
					</div>					
					<div class="samagri-div">
							<img title="Kapus" alt="Kapus" src="<%= asset_path('puja-samagri/cotton.jpg') %>"/>
							<div>Kapus</div>
					</div>					
					<div class="samagri-div">
							<img title="Dhoop Patra" alt="Dhoop Patra" src="<%= asset_path('puja-samagri/dhoop-lamp.jpg') %>"/>
							<div> Dhoop Patra</div>
					</div>					
					<div class="samagri-div">
							<img title="Toran" alt="Toran" src="<%= asset_path('puja-samagri/DoorHanging.gif') %>"/>
							<div>Toran</div>
					</div>					
					<div class="samagri-div">
							<img title="Durva" alt="Durva" src="<%= asset_path('puja-samagri/durva.jpg') %>"/>
							<div>Durva</div>
					</div>					
					<div class="samagri-div">
							<img title="Flowers" alt="Flowers"  src="<%= asset_path('puja-samagri/flower-tray.jpg') %>"/>
							<div>Flowers</div>
					</div>					
					<div class="samagri-div">
							<img title="Udbatti Ghar" alt="Udbatti Ghar" src="<%= asset_path('puja-samagri/Udbatti_Ghar.jpg') %>"/>
							<div>Udbatti Ghar</div>
					</div>					
					<div class="samagri-div">
							<img title="Supari" alt="Supari" src="<%= asset_path('puja-samagri/BeatleNuts.jpg') %>"/>
							<div> Supari</div>
					</div>					
					<div class="samagri-div">
							<img title="Banana Leaves" alt="Banana Leaves" src="<%= asset_path('puja-samagri/BananaLeaves.gif') %>"/>
							<div>Banana Leaves</div>
					</div>					
					<div class="samagri-div">
							<img title="Haladi, Kumkum and Bhukka" alt="Haladi, Kumkum and Bhukka" src="<%= asset_path('puja-samagri/HaladKumkumBukka.jpg') %>"/>
							<div>Haladi, Kumkum and Bhukka</div>
					</div>					

			</div>			
			
	</div>
	<div class="clr"></div>
</div>
