<script>
	$(function() {
		  $( "#tabs" ).tabs();
	});
</script>

<div class="guruij-privacy-policy">
	<div id="tabs" class="fl width70">
		<ul>
		    <li><a href="#tabs-1">Privacy Policy</a></li>
		    <li><a href="#tabs-3">Terms and Condition</a></li>
		  </ul>
		  <div id="tabs-1">
		  	<div>
		  		<h3>Privacy Policy</h3>
		  		<p>We value the trust you place in gurujiforpuja.com. That's why we insist upon the highest standards for secure, Reliable - service, transactions and customer information privacy. Please read the following statement to learn about our information gathering and dissemination practices. Note: Our privacy policy is subject to change at any time without notice. To make sure you are aware of any changes, please review this policy periodically.</p>
 					<p>We value the trust you place in us. That's why we insist upon the highest standards for secure transactions and customer information privacy. Please read the following statement to learn about our information gathering and dissemination practices. Note: Our privacy policy is subject to change at any time without notice. To make sure you are aware of any changes, please review this policy periodically. By visiting this website you agree to be bound by the terms and conditions of this Privacy Policy. If you do not agree please do not use or access our Site.</p>
 					<p>By mere use of the website, you expressly consent to our use and disclosure of your personal information in accordance with this Privacy Policy. This Privacy Policy is incorporated into and subject to the terms of the User Agreement.</p>
		  	</div>
		  	
		  	<div>
		  		<h3>1. Collection of Personally Identifiable Information and other Information</h3>
		  		<p>When you use our website, we collect and store your personal information from you. Our primary goal in doing so is to provide a safe, efficient, smooth and customized experience. This allows us to provide services and features that most likely meet your needs, and to customize our Site to make your experience safer and easier. Importantly, we only collect personal information about you that we consider necessary for achieving this purpose.</p>
		  		<p>In general, you can browse the website without telling us who you are or revealing any personal information about yourself. Once you give us your personal information, you are not anonymous to us. Where possible, we indicate which fields are required and which fields are optional. You always have the option to not provide information by choosing not to use a particular service or feature on the website. You may provide us with a user ID.</p>
		  		<p>We may automatically track certain information about you based upon your behavior on our site. We use this information to do internal research on our users' demographics, interests, and behavior to better understand, protect and serve our users. This information is compiled and analyzed on an aggregated basis. This information may include the URL that you just came from (whether this URL is on our site or not), which URL you next go to (whether this URL is on our site or not), your computer browser information, and your IP address.</p>
		  		<p>We use data collection devices such as "cookies" on certain pages of the website to help analyze our web page flow, measure promotional effectiveness, and promote trust and safety. "Cookies" are small files placed on your hard drive that assist us in providing our services. We offer certain features that are only available through the use of a "cookie". We also use cookies to allow you to enter your password less frequently during a session. Cookies can also help us provide information that is targeted to your interests. Most cookies are "session cookies," meaning that they are automatically deleted from your hard drive at the end of a session. You are always free to decline our cookies if your browser permits, although in that case you may not be able to use certain features on the website and you may be required to reenter your password more frequently during a session.</p>
		  		<p>Additionally, you may encounter "cookies" or other similar devices on certain pages of the website that are placed by third parties. We do not control the use of cookies by third parties.
</p>
					<p>If you choose to buy service on the website, we collect information about your buying behavior.</p>
					<p>If you transact with us, we collect some additional information, such as a billing address, a credit / debit card number and a credit / debit card expiration date and/ or other payment instrument details and tracking information from cheques or money orders.</p>
					<p>If you choose to post messages on our message boards, chat rooms or other message areas or leave feedback, we will collect that information you provide to us. We retain this information as necessary to resolve disputes, provide customer support and  troubleshoot problems as permitted by law.</p>
					<p>If you send us personal correspondence, such as emails or letters, or if other users or third parties send us correspondence about your activities or postings on the Site, we may collect such information into a If you send us personal correspondence, such as emails or letters, or if other users or third parties send us correspondence about your activities or postings on the Site, we may collect such information into a file specific to you.
file specific to you.</p>
					<p>We collect personally identifiable information (email address, name, phone number, credit card / debit card / other payment instrument details etc.) from you when you set up a free account with us. While you can browse some sections of our site without being a registered member, certain activities (such as placing an order) do require registration. We do use your contact information to send you offers based on your previous orders and your interests.</p>					
		  	</div>
		  	<div>
		  		<h3>2. Use of Profile Data / Your Information.</h3>
		  		<p>We use personal information to provide the services you request. To the extent we use your personal information to market to you, we will provide you the ability to opt-out of such uses. We use your personal information to resolve disputes; troubleshoot problems; help promote a safe service; collect money; measure consumer interest in our products and services, inform you about online and offline offers, products, services, and updates; customize your experience; detect and protect us against error, fraud and other criminal activity; enforce our terms and conditions; and as otherwise described to you at the time of collection.</p>
		  		<p>In our efforts to continually improve our product and service offerings, we collect and analyze demographic and profile data about our users' activity on our website.</p>
		  		<p>We identify and use your IP address to help diagnose problems with our server, and to administer our website. Your IP address is also used to help identify you and to gather broad demographic information.</p>
		  		<p>We will occasionally ask you to complete optional online surveys. These surveys may ask you for contact information and demographic information (like zip code, age, or income level). We use this data to tailor your experience at our site, providing you with content that we think you might be interested in--and to display content according to your preferences.</p>
		  		<h4>Cookies</h4>
		  		<p>A "cookie" is a small piece of information stored by a Web server on a Web browser so it can be later read back from that browser. Cookies are useful for enabling the browser to remember information specific to a given user. We place both permanent and temporary cookies in your computer's hard drive. The cookies do not contain any of your personally identifiable information.</p>
		  	</div>
		  	<div>
		  		<h3>3. Sharing of personal information</h3>
		  		<p>We may share personal information with our other corporate entities and affiliates to: help detect and prevent identity theft, fraud and other potentially illegal acts; correlate related or multiple accounts to prevent abuse of our services; and to facilitate joint or co-branded services that you request where such services are provided by more than one corporate entity. Those entities and affiliates may not market to you as a result of such sharing unless you explicitly opt-in.</p>
		  		<p>We may disclose personal information if required to do so by law or in the good faith belief that such disclosure is reasonably necessary to respond to subpoenas, court orders, or other legal process. We may disclose personal information to law enforcement offices, third party rights owners, or others in the good faith belief that such disclosure is reasonably necessary to: enforce our Terms or Privacy Policy; respond to claims that an advertisement, posting or other content violates the rights of a third party; or protect the rights, property or personal safety of our users or the general public.</p>
		  		<p>We and our affiliates will share / sell some or all of your personal information with another business entity should we (or our assets) plan to merge with, or be acquired by that business entity. Should such a transaction occur that other business entity (or the new combined entity) will be required to follow this privacy policy with respect to your personal information.</p>
		  	</div>
		  	<div>
		  		<h3>4. Links to Other Sites</h3>
		  		<p>Our site links to other websites that may collect personally identifiable information about you. Gurujiforpuja.com.com is not responsible for the privacy practices or the content of those linked websites.</p>
		  	</div>
		  	<div>
		  		<h3>5. Security Precautions</h3>
		  		<p>Our site has stringent security measures in place to protect the loss, misuse, and alteration of the information under our control. Whenever you change or access your account information, we offer the use of a secure server. Once your information is in our possession we adhere to strict security guidelines, protecting it against unauthorized access.</p>
		  	</div>
		  	<div>
		  		<h3>6. Choice/Opt-Out</h3>
		  		<p>We provide all users with the opportunity to opt-out of receiving non-essential (promotional, marketing-related) communications from us on behalf of our partners, and from us in general, after setting up an account.</p>
		  		<p>If you want to remove your contact information from all gurujiforpuja.com lists and newsletters, please visit <a href="http://www.gurujiforpuja.com.com/unsubscribe" target="_blank">http://www.gurujiforpuja.com.com/unsubscribe</a></p>
		  	</div>
		  	<div>
		  		<h3>7. Advertisements on Gurujiforpuja.com</h3>
		  		<p>We use third-party advertising companies to serve ads when you visit our website. These companies may use information (not including your name, address, email address, or telephone number) about your visits to this and other websites in order to provide advertisements about goods and services of interest to you.</p>
		  	</div>
		  	<div>
		  		<h3>8. Your Consent</h3>
		  		<p>By using the Website and/ or by providing your information, you consent to the collection and use of the information you disclose on the website in accordance with this Privacy Policy, including but not limited to Your consent for sharing your information as per this privacy policy.</p>
		  		<p>If we decide to change our privacy policy, we will post those changes on this page so that you are always aware of what information we collect, how we use it, and under what circumstances we disclose it.</p>
		  	</div>
		  </div>
		  
		 <div id="tabs-3" class = "terms_and_condition_tab">
		  	<%= render :partial => "site/payment_terms" %>
		  	<%= render :partial => "terms_and_conditions" %>
		 </div>
	</div>
	
	<div class="fr width30">
		<div class="registration-btn"><a class="sign_up" href="/users/sign_up?type=Guruji">Register With Us</a></div>
		<%= render :partial => "booking/quick_form" %>
	</div>
	
</div>
