<% if SERVICES.include? @chk_puja_name %>
	<div>
		<% if session[:search_string].present? %>
			<div class="maroon font16" style="text-align:center;padding:20px;font-weight:bold;">
				<%= session[:search_string] %><br/>
				Click on name of Guruji to view complete profile.
			</div>
		<% end %>

		<% if not @gurujis.empty? %>
			
				<% @gurujis.each_with_index do |guruji , index| %>
					<% if index % 3 == 0 %>
						<div class="search_service_main" >
					<% end %>
						<%= render :partial => "gurujis/guruji_for_services", :locals => { :guruji => guruji } %>

					<% if index % 3 == 2 %>
						</div>
					<% end %>		
				
				<% end %>
			
			<div class = "clr"></div>
		<% else %>
			No guruji Found for services
		<% end %> 
	</div>	
<% else %>
	<div> 
		<% if session[:search_string].present? %>
			<div class="maroon font16" style="text-align:center;padding:20px;font-weight:bold;">
				<%= session[:search_string] %><br/>
				Click on the day to get a Guruji.
			</div>
		<% end %>
		<% if @gurujis.empty? %>
			<div class="">
		<% else %>
			<div class="fl width65">
		<% end %>
			<%= render :partial => "site/calendar" %>
		</div>
		<% if not @gurujis.empty? %>
			<div class="fl width25" style = "overflow-y:scroll;height:500px;">
				<% @gurujis.each do |guruji| %>
					<%= render :partial => "gurujis/guruji_snap", :locals => { :guruji => guruji } %>
				<% end %>
			</div>
		<% else %>
			No guruji Found
		<% end %>
	</div>
<% end -%>
