<div class="pad10">
	<div><h3>Site Map</h3></div>
	<hr style="margin:0px; border:1px solid #999">
	
	<div class = "site-map">
		<ul>
			<li><a href="">Home</a></li>
			<li><a href="">About Us</a></li>
			<li><a href="">Types of Puja:</a>
				<ul>	

							<% Puja.all.group_by { |x| x.category }.each do |category,pujas| %>
							 <li>
								<a href="/pujas?search[category_like]=<%= category %>"><%= category %></a>
								<ul>
									<% pujas.each do |puja| %>
										<li><a href="<%= puja_path(puja) %>"><%= puja.name %></a></li>
									<% end %>
								</ul>
							</li>
						<% end %>	
						
					</ul>
			
			</li>
			<li><a href="">Puja Common Samagri</a></li>
			<li><a href="">Services</a>
				<ul>
						<li><a href="">Numerology</a>	</li>
						<li><a href="">Vastu Shastra</a></li>
						<li><a href="">Astrology</a></li>
						<li><a href="">Horoscope</a></li>
						<li><a href="">Palmist</a></li>
						<li><a href="">Gem Finder</a></li>						
					</ul>

				</li>
			<li><a href="">Select Muhurta for Your Puja</a></li>
			<li><a href="">Contact Us</a></li>
			<li><a href="">FAQ's</a></li>
		</ul>
		
		
	</div>
</div>
