<div style="width:250px;padding:5px;border:solid 1px #ddd;margin-top:5px;">
	<div class="fl" style="width:60px;">
		<%= image_tag(event.puja_url(@booking.puja_id), :style => "width:50px;") %><br/>
	</div>
	<div class="fr" style="width:190px;">
		<%= event.name %><br/>
		<%= event.from_time.to_s(:date_show) %><br/>
		<%= event.description.html_safe rescue '-' %><br/>
		<a href="javascript:void(0);" date="<%= event.from_time.to_s(:date) %>" class="suggested_muhurta_link btn btn_red">Select this date</a>
	</div>
	<div class="clr"></div>
</div>
