<%= form_for(@daily_event) do |f| %>
  <% if @daily_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily_event.errors.count, "error") %> prohibited this daily_event from being saved:</h2>

      <ul>
      <% @daily_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :class => "tinymce" %>
  </div>
  <div class="field">
    <%= f.label :from_time %><br />
    <%= f.text_field :from_time, :class => "datetimepicker" %>
  </div>
  <div class="field">
    <%= f.label :to_time %><br />
    <%= f.text_field :to_time, :class => "datetimepicker" %>
  </div>
  <!--
		<div class="field">
		  <%= f.label :entity_type %><br />
		  <%= f.text_field :entity_type %>
		</div>
		<div class="field">
		  <%= f.label :entity_id %><br />
		  <%= f.number_field :entity_id %>
		</div>
		<div class="field">
		  <%= f.label :tags %><br />
		  <%= f.text_area :tags %>
		</div>
  -->

  <div><%= f.label :puja_ids %><br /><br />
	<%= f.hidden_field :puja_ids, :id => "guruji_pujas" %></div>
	
	<% get_pujas.each do |name,id| %>
		<% checked = (f.object.puja_ids.split("|") rescue []).include?(id.to_s) ? "checked='checked'" : "" %>
		<input <%= checked %> type="checkbox"  class="puja_checkbox" value="<%= id %>" id="puja_<%= id %>" name="<%= name %>"/> <label for="puja_<%= id %>"><%= name %></label><br/>
	<% end %>
	<br /><br />
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>
	$("#daily_event_from_time").datetimepicker({
		ampm: true,
		dateFormat: 'yy/mm/dd'
	});
	
	$("#daily_event_to_time").datetimepicker({
		ampm: true,
		dateFormat: 'yy/mm/dd'
	});

	$(".puja_checkbox").change(function(){
		var checked = $(this).attr("checked");
		var locations = $("#guruji_pujas").val();
		var arr = new Array();
		if(locations != null && locations != ""){
			arr = locations.split("|");
		}else{
		}
		if(checked == "checked"){
			arr.push($(this).val());
		}else{
			removeByElement(arr,$(this).val());
		}
		$("#guruji_pujas").val(joinArray(arr,"|"));
	});
</script>
