<h1>Editing Muhurta</h1>

<%= render 'form' %>

<%= render :partial => "assets/singular_assets", :locals => { :entity => @daily_event, :types => ["photo"] } %>
	
<%= link_to 'Show', @daily_event %> |
<%= link_to 'Back', daily_events_path %>
