<h1>Listing daily_events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>From time</th>
    <th>To time</th>
    <th>Entity type</th>
    <th>Entity</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @daily_events.each do |daily_event| %>
  <tr>
    <td><%= daily_event.name %></td>
    <td><%= daily_event.description %></td>
    <td><%= daily_event.from_time %></td>
    <td><%= daily_event.to_time %></td>
    <td><%= daily_event.entity_type %></td>
    <td><%= daily_event.entity_id %></td>
    <td><%= daily_event.tags %></td>
    <td><%= link_to 'Show', daily_event %></td>
    <td><%= link_to 'Edit', edit_daily_event_path(daily_event) %></td>
    <td><%= link_to 'Destroy', daily_event, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= paginate(@daily_events) %>
<%= link_to 'New Daily event', new_daily_event_path %>
