<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @daily_event.name %>
</p>

<p>
  <b>Description:</b>
  <%= @daily_event.description %>
</p>

<p>
  <b>From time:</b>
  <%= @daily_event.from_time %>
</p>

<p>
  <b>To time:</b>
  <%= @daily_event.to_time %>
</p>

<p>
  <b>Entity type:</b>
  <%= @daily_event.entity_type %>
</p>

<p>
  <b>Entity:</b>
  <%= @daily_event.entity_id %>
</p>

<p>
  <b>Tags:</b>
  <%= @daily_event.tags %>
</p>


<%= link_to 'Edit', edit_daily_event_path(@daily_event) %> |
<%= link_to 'Back', daily_events_path %>
