@charset "utf-8";
html, head, body, div, span, p, h1, h2, h3, h4, h5, h6, strong, em,  br, a, img,  ul, li, dl, dt, dd, form,  label, fieldset, legend,b 
{
margin: 0;
padding: 0;
}

img{ border:0;}
a{ text-decoration:none}
p{ padding:5px 0 5px 0;}


ul{ list-style:none}
.fl{ float:left}
.fr{ float:right}
.width10{ width:9%}
.width15{ width:14%}
.width20{ width:19%}
.width30{ width:29%}
.width40{ width:39%}
.width50{ width:49%}
.width60{ width:59%}
.width70{ width:69%}
.width80{ width:79%}
.width90{ width:89%}
.width33{ width:33%}
.width35{ width:34%}
.width55{ width:54%}
.width25{ width:24%}
.width45{ width:44%}
.width47{ width:47%}
.width75{ width:74%}
.width65{ width:64%}
.width33{ width:32%}
.width67{ width:66%}
.width53{ width:52%}
.width34{ width:33%}
.width26{ width:25%}
.width71{ width:70%}
.width21{ width:20%}
.width19{ width:18%}
.width61{ width:60%}

.padTop5{ padding-top:5px;}
.padBottom5{ padding-bottom:5px;}
.padTop10{ padding-top:10px;}
.padLeft10{ padding-left:10px;}
.padAll10{ padding:10px;}
.padLeft15{ padding-left:15px;}
.padAll15{ padding:15px;}
.padTop15{ padding-top:5px;}
.padTop5{ padding-top:5px;}
.padAll5{ padding:5px;}
.padLeft5{ padding-left:5px;}

.marTop10{ margin-top:10px;}
.marLeft10{ margin-left:10px;}

.marAll10{ margin:10px;}
.marTop15{ margin-top:15px;}
.marLeft15{ margin-left:15px;}
.marAll15{ margin:15px;}
.marTop5{ margin-top:5px;}
.marLeft5{ margin-left:5px;}
.marAll5{ margin:5px;}
.marLeft25{ margin-left:25px;}
.marRight10{ margin-right:10px;}
.marBottom5{ margin-bottom:5px;}
.marBottom10{ margin-bottom:10px;}

.font10{ font-size:10px}
.font11{ font-size:11px}
.font12{ font-size:12px}
.font13{ font-size:13px}
.font14{ font-size:14px}
.font15{ font-size:15px}
.font16{ font-size:16px}
.font18{ font-size:18px}
.font20{ font-size:20px}
.font24{ font-size:24px}
.font30{ font-size:30px}
.font60{ font-size:60px;}

.spacer{ clear:both; height:0; margin:0}
.clr{ clear:both; height:0; margin:0}
.req_textbox{}
.blue-font{ color:#34577E}
.Bdr{ border:solid 1px #006}
.black{color:#000;}
.maroon{color:#b12213;}

.red_taxon_option{
	font-weight:bold; 
	color:#F00;
	background:#EEEEEE;
}
/* CSS Document */

/*input text */
input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus {
border-color: #E9322D;
-webkit-box-shadow: 0 0 6px #F8B9B7;
-moz-box-shadow: 0 0 6px #f8b9b7;
box-shadow: 0 0 6px #F8B9B7;}

input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid {
color: #B94A48;
border-color: #EE5F5B;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
border-color: rgba(82, 168, 236, 0.8);
outline: 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
background-color: white;
border: 1px solid #666;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
-o-transition: border linear 0.2s, box-shadow linear 0.2s;
transition: border linear 0.2s, box-shadow linear 0.2s;
}


select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
display: inline-block;
height: 27px;
padding: 4px;
margin-bottom: 9px;
font-size: 13px;
line-height: 18px;
color: #555;
}



