<div class="footer">
	<div class="footer-link">
		<a href="/">Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="<%= about_us_path %>">About Us</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="<%= calendar_path %>">Muhurta</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="<%= pujas_path %>">Puja</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="<%= services_path %>" class="site-menu services-numerology" >Services</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="<%= faq_path %>">FAQ's</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="<%= terms_path %>">Terms & Conditions</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="<%= privacy_policy_path %>">Privacy Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;			
		<a href="<%= site_map_path %>" style="border:none;">Site Map</a>
			
	</div>
	<br/>
	<div>
			<a target="_blank" href="<%= FACEBOOK_URL %>"><img src="<%= asset_path('facebook_icon.gif') %>"></a>
			<a target="_blank" href="<%= TWITTER_URL %>"><img src="<%= asset_path('twitter-icon.png') %>"></a>
			<span style="font-size:12px">Copyright &copy <%= Date.today.year %> Guruji For Puja. All rights reserverd.  </span> 
	</div>			
</div>
