<div id="fb-root"></div>
<script> 

$('.carousel').carousel();

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=533062003380379";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<style>
		.fb-like span {
			height:23px !important;
		}
		
		.lg-text span{
			font-family:"Caslon Calligraphic Initials";
			font-size:50px;
			line-height:50px;
			font-weight:normal;
		} 
</style>

<div class="header-slab">
	<div class="header-slab-div">
		<div class="call-div">
				<span style="font-size:14px;"><b>Call Us:</b></span>
				<span style="color:#b12213;font-size:25px;line-height:26px;">+91 - 9767697369 </span><br/>
		</div>
		<div class="login-reg-div">
			<!--
			<div class="fb-like" data-href="http://www.gurujiforpuja.com" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
			
			<a href="https://twitter.com/Gurujiforpuja" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @Gurujiforpuja</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		 
		 <a href="https://twitter.com/share" class="twitter-share-button" data-text="Get a Guruji / Swami / Pandit for any Puja easily and quickly. http://www.gurujiforpuja.com" data-lang="en">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			-->
		
			<% if current_user %>
				Welcome <%= current_user.name %> | 
				<%= link_to("Logout", destroy_user_session_path, :method => :delete , :style => "text-decoration:none;font-size:16px;color:#666;font-weight:bold;") %> | 
				<%= link_to("Profile", edit_user_registration_path , :style => "text-decoration:none;font-size:16px;color:#666;font-weight:bold;") %>
				</a>
			<% else %>
				<!--
				<%= link_to image_tag("facebook-login-icon.png"), "/users/auth/facebook", :class => "popup", "data-height" => "400", "data-width" => "600", :title => "Login with your facobook account" %>
				
				<%= link_to image_tag("twitter-login-icon.png"), "/users/auth/twitter", :class => "popup", "data-height" => "400", "data-width" => "600", :title => "Login with your twitter account" %>
				
				<%= link_to image_tag("google-login-icon.png"), user_omniauth_authorize_path(:google_oauth2), :class => "popup", "data-height" => "400", "data-width" => "600", :title => "Login with your google account" %>
				-->
				<a class="sing_in" href="#sign-in-box" rel="login_colorbox">
					<b>Login</b> |
				</a>
				
				<a class="sign_up" href="#sign-up-box" rel="signup_colorbox">
        	<b>Register</b>
				</a>
				
				<!--
				<a class="sign_up_guruji" href="#signup-guruji-box" rel="signup_guruji_colorbox">
	      	<b>Register as Guruji</b>
				</a>
				-->
				
				<div class="sing-in-form" style="display:none;">
					<div style="padding:15px;" id="sign-in-box">
						<%= render :partial => "/devise/sessions/new" %>
					</div>
				</div>
				<div class="sing-up-form" style="display:none;">
					<div style="padding:15px;" id="sign-up-box">
						<%= render :partial => "/devise/registrations/new" %>
					</div>
				</div>
				<div class="singup-guruji-form" style="display:none;">
					<div style="padding:15px;" id="signup-guruji-box">
						<%= render :partial => "/devise/registrations/guruji" %>
					</div>
				</div>
			<% end %>
		</div>	
		<div class="clr"></div>
	</div>
</div>

<div class="header-wrap">		
	<div class="menu-wrap">
		<div id="smoothmenu1" class="ddsmoothmenu">
			<ul>
				<li><a href="/" class="site-menu selected site-index">HOME</a></li>
				<li><a href="<%= about_us_path %>" class="site-menu site-about_us">ABOUT US</a></li>
				<li><a href="<%= pooja_vidhi_path %>" class="site-menu site-pooja_vidhi">PUJA</a></li>	
				<li><a href="<%= services_path %>" class="site-menu services-numerology" >SERVICES</a>
				<ul style="left:15px !important;top:35px;">
					<li><a href="/services/numerology">NUMEROLOGY</a></li>
					<li><a href="/services/vastushastra">VASTU SHASTRA</a></li>	
					<li><a href="/services/astrology">ASTROLOGY</a></li>	
					<li><a href="/services/horoscope">HOROSCOPE</a></li>	
					<li><a href="/services/palmist">PALMIST</a></li>
					<li style="border:0px;"><a href="/services/gemstone">GEM FINDER</a></li>		
				</ul>
				</li>								
				<li><a href="<%= calendar_path %>" class="site-menu site-calendar">MUHURTA</a></li>	
				<li><a href="<%= contact_us_path %>" class="site-menu site-contact_us">CONTACT US</a></li>
				<li><a href="#feedback_colorbox_div" rel="feedback_colorbox">FEEDBACK</a></li>
				<li><a href="<%= faq_path %>" class="site-menu site-faqs">FAQ's</a></li>																				
			</ul>
			<div class="clr"></div>
		</div>
		<br/><br/>
	</div>
	<div class="site-name">
		<div>
			<span class="lg-text"><span style="font-size:75px;">G</span>uruji For Puja<sup style="top: -2.5em;font-size:14px;margin-top:-20px;">[beta]</sup></span>
			<br/><br/><br/><br/><br/><br/>
			<span class="lg-tagline">The smartest way to get Guruji/Pandit for Puja Vidhi.</span>
			<br/><br/><br/><br/>
		</div>
		<div id="tabs_search">
			<ul>
				<li><a href="#search_puja">Puja</a></li>
				<li><a href="#search_puja">Vastu Shastra</a></li>
		      	<li><a href="#search_puja">Astrology</a></li>
		      	<li><a href="#search_puja">Gem Finder</a></li>
		      	<li><a href="#search_puja">Numerology</a></li>
		      	<li><a href="#search_puja">Palmist</a></li>
		      	<li><a href="#search_puja">Tarot Card</a></li>
		      	<li><a href="#search_puja">Reiki</a></li>
		      	<li><a href="#search_puja">Feng Shui</a></li>
		      	<li><a href="#search_puja">Agni Upasana</a></li>
		      	<li><a href="#search_puja">Crystal Healing</a></li>
		      	
	  	  	</ul>
			<div id = "search_puja">
				<%= render :partial => "layouts/puja_search" %>
			</div>

		</div>

	</div>
	<div class="clr"></div>
</div>
<div style = "display:none;">
		<div id="feedback_colorbox_div"> 
			<%= render :partial => "site/feedback" %>
		</div>
</div>	

<script type="text/javascript">
	$(document).ready(function(){
		<% if params[:controller] != "devise/registrations" %>
			$("a.site-menu").removeClass('selected');
			$(".<%= params[:controller] %>-<%= params[:action] %>").addClass('selected');
		<% end %>	
		$("a[rel='feedback_colorbox']").colorbox(feedback_colorbox_hash);
		$("a[rel='login_colorbox']").colorbox({width:"600px;",height:"500px",inline:true});
		$("a[rel='signup_colorbox']").colorbox({width:"500px;",height:"540px",inline:true});
		$("a[rel='signup_guruji_colorbox']").colorbox({width:"500px;",height:"550px",inline:true});
		
		add_autocomplete_event_for_input("/autocomplete/get_pujas","txt_puja",get_pujas_success,false);
		add_autocomplete_event_for_input("/autocomplete/get_cities","txt_city",get_cities_success,false);
		add_autocomplete_event_for_input("/autocomplete/get_locations","txt_location",get_locations_success,false);

		$("#txt_location").keyup(function(){
			if($(this).val() == ""){
				$("#select_location").val("");
			}
		});
	
		$("#txt_puja").keyup(function(){
			if($(this).val() == ""){
				$("#select_puja").val("");
			}
		});
	
		$("#txt_city").keyup(function(){
			if($(this).val() == ""){
				$("#select_city").val("");
			}
		});
	
		if($("#select_city").val() != ""){
			var url = "/autocomplete/get_locations?city_id="+$("#select_city").val();
			add_autocomplete_event_for_input(url,"txt_location",get_locations_success,false);
		}

	});
	
	
	function get_locations_success(item){
		$("#select_location").val(item.id);
	}
	
	function get_cities_success(item){
		$("#select_city").val(item.id);
		add_autocomplete_event_for_input("/autocomplete/get_locations?city_id="+item.id,"txt_location",get_locations_success,false);
		$("#select_location").val("");
		$("#txt_location").val("");
	}
	
	function get_pujas_success(item){
		$("#select_puja").val(item.id);
	}

	ddsmoothmenu.init({
		mainmenuid: "smoothmenu1", //menu DIV id
		orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
		classname: 'ddsmoothmenu', //class added to menu's outer DIV
		//customtheme: ["#1c5a80", "#18374a"],
		contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
	});
	
	
	$("#link_search").click(function(){
		if($("#select_puja").val() == null || $("#select_puja").val() == ""){
			alert("Please select your Puja!");
			return;
		}
		if($("#select_city").val() == null || $("#select_city").val() == ""){
			alert("Please select your City!");
			return;
		}
		
		//$("#select_location").val($("#txt_location").val());
		
		//if($("#select_location").val() == null || $("#select_location").val() == ""){
		//	alert("Please select your Location!");
		//	return;
		//}
		
		var hash = {};
		hash["city_id"] = $("#select_city").val();
		hash["location_id"] = $("#select_location").val();
		hash["puja_id"] = $("#select_puja").val();
		//jsRequest("/search",hash);
		window.location = "/search?puja_id="+hash["puja_id"]+"&location_id="+hash["location_id"]+"&city_id="+hash["city_id"];
	});
	
	
</script>
<div id="notice_div" align="center" style="display:none;" class="notic_div" >
	<span id="notice" class="notice_top">
	</span>
</div>


<script type="text/javascript">
	<% html = "" %>
	<% flash.each do |name, msg| %>
		<% html += msg if msg.is_a?(String) %>
	<% end %>

	<% if html.present? %>
		showNotice("<%= html.html_safe %>");
	<% end %>

	function popupCenter(url, width, height, name) {
		var left = (screen.width/2)-(width/2);
		var top = (screen.height/2)-(height/2);
		return window.open(url, name, "menubar=no,toolbar=no,status=no,width="+width+",height="+height+",toolbar=no,left="+left+",top="+top);
	}

	$("a.popup").click(function(e) {
		popupCenter($(this).attr("href"), $(this).attr("data-width"), $(this).attr("data-height"), "authPopup");
		e.stopPropagation(); return false;
	});
	
	$( "#tabs_search" ).tabs({
    	select: function(event,ui) {
    		$("#txt_puja").show();	
    		$("#txt_puja").val("");	
 			switch(ui.index){
 				case 0:
 					break;
 				case 1:
 					$("#txt_puja").hide();
 					$("#select_puja").val("Vastu Shastra");
 					break;
 				case 2:
 					$("#txt_puja").hide();
 					$("#select_puja").val("Astrology");
 					break;
				case 3:
					$("#txt_puja").hide();
 					$("#select_puja").val("Gem Finder");
 					break;
				case 4:
					$("#txt_puja").hide();
 					$("#select_puja").val("Numerology");
 					break;
 				case 5:
 					$("#txt_puja").hide();
 					$("#select_puja").val("Palmist");
 					break;
 				case 6:
 					$("#txt_puja").hide();
 					$("#select_puja").val("Tarot Card");
 					break;
 				case 7:
 					$("#txt_puja").hide();
 					$("#select_puja").val("Reiki");
 					break;
 				case 8:
 					$("#txt_puja").hide();
 					$("#select_puja").val("Feng Shui");
 					break;
 				case 9:
 					$("#txt_puja").hide();
 					$("#select_puja").val("Agni Upasana");
 					break;
 				case 10:
 					$("#txt_puja").hide();
 					$("#select_puja").val("Crystal Healing");
 					break;

 			}
		}
    });
</script>
	
