<ul class="left-link">
	<li>
		<% Puja.order("name asc").where("category not like ?", PUJA_CATEGORIES[4]).group_by { |x| x.category }.each do |category,pujas| %>
			<a href="/pujas?search[category_like]=<%= category %>"><%= category %></a>
			<ul>
				<% pujas.each do |puja| %>
					<li><a href="<%= puja_path(puja) %>"><%= puja.name %></a></li>
				<% end %>
			</ul>
		<% end %>	
	</li>
	<li><a href="/puja-vidhi">Puja Samagri</a></li>
	<li><a href="/services/numerology">Numerology</a></li>
	<li><a href="/services/vastushastra">Vastu Shastra</a></li>
	<li><a href="/services/astrology">Astrology</a></li>
	<li><a href="/services/horoscope">Horoscope</a></li>
	<li><a href="/services/palmist">Palmist</a></li>
	<li><a href="/services/gemstone">Gem Finder</a></li>
</ul>
