<div class="search-header-div" style="padding:10px 0px;margin:auto;text-align: center;">
	<input type="hidden" value="<%= session[:puja_id] %>" id="select_puja" placeholder="Select your Puja"/>
	<input type="hidden" value="<%= session[:city_id] %>" id="select_city" placeholder="Select your City"/>
	<input type="hidden" value="<%= session[:location_id] %>" id="select_location" placeholder="Select your Location"/>
	
	
	<input type="text" value="<%= (SERVICES.include? session[:puja]) ? nil : session[:puja] %>" id="txt_puja" class="txt_search" style="line-height: 30px;height: 35px;width:200px;" placeholder="Select your Puja"/>
	<input type="text" value="<%= session[:city] %>" id="txt_city" class="txt_search" style="line-height: 30px;height: 35px;" placeholder="Select your City"/>
	<input type="text" value="<%= session[:location] %>" id="txt_location" class="txt_search" style="line-height: 30px;height: 35px;" placeholder="Select your Location"/>	
	<a href="javascript:void(0);" id="link_search"><img style="margin-top: -7px;" align=absmiddle src="<%= asset_path('search.png') %>"/></a>
</div>