<div class="left-panel">
	<ul style="list-style:none;">
		<li><a href="/services/numerology" rel="numerology" class="services_menu active">Numerology</a></li>
		<li><a href="/services/vastushastra" rel="vastushastra" class="services_menu">Vastu Shastra</a></li>
		<li><a href="/services/astrology" rel="astrology" class="services_menu">Astrology</a></li>
		<li><a href="/services/horoscope" rel="horoscope" class="services_menu">Horoscope</a></li>
		<li><a href="/services/palmist" rel="palmist" class="services_menu">Palmist</a></li>		
		<li><a href="/services/gemstone" rel="gemstone" class="services_menu">Gem Finder</a></li>
	</ul>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$("a.services_menu").removeClass("active");
		$("a[rel='<%= params[:action] %>']").addClass("active");
	});
</script>
