<div>
	<ul>
		<li><%= link_to("Daily Events",daily_events_path) %></li>
		<li><%= link_to("Plans",plans_path) %></li>
		<li><%= link_to("Pujas",pujas_path) %></li>
		<li><%= link_to("Videos",videos_path) %></li>
		<li><%= link_to("Users","/admin/users") %></li>
		<li><%= link_to("Guruji","/admin/gurujis") %></li>
	</ul>
</div>
