<style>
	#terms_div {
		overflow-y:scroll;
		height:100px;		
	}
</style>
<div id="terms_div" class="scrollable">
	<div><h2>Terms And Conditions</h2></div>
	<hr style="margin:0px; "/>
	<div class="guruji-terms-page">

		<div class="initial-content">
			<p>The following terminology applies to these Terms and Conditions,Privacy Statement and Disclaimer Notice and any or all Agreements: "Client", “You” and “Your” refers to you, the person accessing this portal and accepting the Company’s terms and conditions. "The Company", “Ourselves”, “We” and "Us", refers to your Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves, or either the Client or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner, whether by formal meetings of a fixed duration, or any other means, for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services/products, in accordance with and subject to, prevailing English Law. Any use of the above terminology or other words in the singular, plural, capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.<p/>
		</div>

		<div class="terms-div">
			
			<div class="terms-title">
				Privacy Statement
			</div>
			<hr style="margin:0px; "/>
			<div class="terms-data">
				<p>We are committed to protecting your privacy. Authorized employees within the company on a need to know basis only use any information collected from individual customers. We constantly review our systems and data to ensure the best possible service to our customers. Parliament has created specific offences for
unauthorised actions against computer systems and data. We will investigate any such actions with a view to prosecuting and/or taking civil proceedings to recover damages against those responsible.</p>
			</div>
		
		<div class="terms-title">
				Confidentiality
			</div>
			<hr style="margin:0px; "/>
			<div class="terms-data">
				<p>
					Client records are regarded as confidential and therefore will not be divulged to any third party, if legally required to do so to the appropriate authorities. Clients have the right to request sight of, and copies of any and all Client Records we keep, on the proviso that we are given reasonable notice of such a request. Clients are requested to retain copies of any literature issued in relation to the provision of our services. Where appropriate, we shall issue
Client’s with appropriate written information, handouts or copies of records as part of an agreed contract, for the benefit of both parties.</p>

<p> We will not sell, share, or rent your personal information to any third party or use your e-mail address for unsolicited mail. Any emails sent by this Company will only be in connection with the provision of agreed services and products.	</p>
			</div>
			
			<div class="terms-title">
					Availability						
			</div>
			<hr style="margin:0px; "/>
			<div class="terms-data">
				<p>
					Unless otherwise stated, the services featured on this website are only available within India as of now. You are solely responsible for evaluating the fitness for a particular purpose of any downloads, programs and text available through this site. Redistribution or republication of any part of this site or its content is prohibited, including such by framing or other similar or any other means, without the express written consent of the Company. The Company does not warrant that the service from this site will be uninterrupted, timely or error free, although it is provided to the best ability. By using this service you thereby indemnify this Company, its employees, agents and affiliates against any loss or damage, in whatever manner, howsoever caused.
				</p>
			</div>
	
			<div class="terms-title">
					<p>Cookies</p>						
			</div>
			<hr style="margin:0px; "/>
			<div class="terms-data">
				<p>
					Like most interactive web sites this Company’s website [or ISP] uses cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site to enable the functionality of this area and ease of use for those people visiting. Some of our affiliate partners may also use cookies. [If you do not use cookies, delete this clause].					
				</p>
			</div>

	<div class="terms-title">
				<p>Links to this website</p>
			</div>
			<hr style="margin:0px; "/>
			<div class="terms-data">
				<p>You may not create a link to any page of this website without our prior written consent. If you do create a link to a page of this website you do so at your own risk and the exclusions and limitations set out above will apply to your use of this website by linking to it.</p>
			</div>

			<div class="terms-title">
				<p>Links from this website</p>
			</div>
			<hr style="margin:0px; "/>
			<div class="terms-data">
				<p>We do not monitor or review the content of other party’s websites which are linked to from this website. Opinions expressed or material appearing on such websites are not necessarily shared or endorsed by us and should not be regarded as the publisher of such opinions or material. Please be aware that we are not responsible for the privacy practices, or content, of these sites.We encourage our users to be aware when they leave our site & to read the privacy statements of these sites. You should evaluate the security and trustworthiness of any other site connected to this site or accessed through this site yourself, before disclosing any personal information to them. This Company will not accept any responsibility for any loss or damage in whatever manner, howsoever caused, resulting from your disclosure to third parties of personal information.</p>
			</div>

			<div class="terms-title">
				<p>Copyright Notice</p>
			</div>
			<hr style="margin:0px; "/>
			<div class="terms-data">
				<p>Copyright and other relevant intellectual property rights exists on all text relating to the Company’s services and the full content of this website.</p>
<p> This Company’s logo is a registered trademark of this Company in India and other countries. The brand names and specific services of this Company featured on this web site are trade marked .</p>
			</div>
			
			<div class="terms-title">
						<p>Communication</p>
			</div>
			<hr style="margin:0px; "/>
			<div class="terms-data">
				<p>We have several different e-mail addresses for different queries.These, & other contact information, can be found on our Contact Us link on our website or via Company literature or via the Company’s stated telephone, mobile no.,or telephone numbers.</p>
			</div>
			
			<div class="terms-title">
						<p>General</p>
			</div>
			<hr style="margin:0px; "/>
			<div class="terms-data">
				<p>These Terms and Conditions shall not be amended, modified, varied or supplemented except in writing and signed by duly authorised representatives of the Company.</p>
			</div>


			<div class="terms-title">
						<p>Notification of Changes</p>
			</div>
			<hr style="margin:0px; "/>
			<div class="terms-data">
				<p>
					The Company reserves the right to change these conditions from time to time as it sees fit and your continued use of the site will signify your acceptance of any adjustment to these terms. If there are any changes to our privacy policy, we will announce that these changes have been made on our home page and on other key pages on our site. If there are any changes in how we use our site customers’ Personally Identifiable Information, notification by e-mail or postal mail will be made to those affected by this change. Any changes to our privacy policy will be posted on our web site 30 days prior to these changes taking place. You are therefore advised to re-read this statement on a regular basis.
				</p>
			</div>
	
		
		</div>
		<div>
		<p>
			These terms and conditions form part of the Agreement between the Client and ourselves. Your accessing of this website and/or undertaking of a booking or Agreement indicates your understanding, agreement to and acceptance, of the Disclaimer Notice and the full Terms and Conditions contained herein. Your statutory Consumer Rights are unaffected.
		</p>
		</div>
	</div>
</div>
</div>
