<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= render :partial => "layouts/includes" %>
  <%= csrf_meta_tags %>
  <% meta_data = get_meta_info %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link href='http://fonts.googleapis.com/css?family=Belleza|Germania+One' rel='stylesheet' type='text/css'>
	<title><%= meta_data[:title] %></title>
	<meta name="description" content="<%= meta_data[:description] %>" />
	<meta name="keywords" content="<%= meta_data[:keywords] %>" />
	<%= tinymce %>
</head>
<body>
	<div class="wrapper">	
		<div class="header">	
			<%= render :partial => "layouts/header" %>
			<div class="clr"></div>
		</div>
		<div class="clr"></div>
		
		<div class="sidebar fl width20 box">	
			<%= render :partial => "layouts/sidebar" %>
			<div class="clr"></div>
		</div>
		<div class="content fl width70 box">	
			<%= yield %>
			<div class="clr"></div>
		</div>		
		<div class="clr"></div>
		
	
		<div class="footer_wrap">	
			<%= render :partial => "layouts/footer" %>
			<div class="clr"></div>
		</div>	
		<div class="clr"></div>
		
	</div>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-36765678-1']);
		_gaq.push(['_trackPageview']);

		(function() {
		  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

		$(document).ready(function(){
			$(".colorbox").colorbox();
		});
	</script>
	<!--<script src="http://chat.truespider.com/jschat/50be1fea72a1816a63000003.js"></script>-->
</body>
</html>
